@import "plasma-announcement-shared";

.header-plasma {
  color: #222;
}
.header-plasma a, .header-plasma20 a:hover {
  color: #222;
}

.system-settings {
  h2, img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

li {
  font-size: 1.15rem;
}
