/**
 * SPDX-FileCopyrightText: 2019 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 (c) Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: 1fr;
}
.bg-red {
  background-image: linear-gradient(-135deg, rgba(218,68,83,0.2), rgba(231,76,60, 0.2));
}

.bg-blue {
  background-image: linear-gradient(-135deg, rgba(61,174,233,0.2), rgba(29,153,243, 0.2));
}

.bg-green {
  background-image: linear-gradient(-135deg, rgba(39,174,96,0.2), rgba(46,204,113, 0.2));
}

.bg-yellow {
  background-image: linear-gradient(-135deg, rgba(253,188,75,0.2), rgba(246,116,0, 0.2));
}

.bg-orange {
  background-color: rgba(246,116,0,.05)
}

.bg-purple {
  background-image: linear-gradient(-135deg, #9b59b611, #8e44ad11);
}
