<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdeaccessibility-4.5.4.tar.bz2">kdeaccessibility-4.5.4</a></td><td align="right">5,0MB</td><td><tt>c3941f525ae58146090512053e63a494ce693513</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdeadmin-4.5.4.tar.bz2">kdeadmin-4.5.4</a></td><td align="right">1,2MB</td><td><tt>f5e64abed05133e99f37779e1eaf15c4d79d9c09</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdeartwork-4.5.4.tar.bz2">kdeartwork-4.5.4</a></td><td align="right">106MB</td><td><tt>2b3bda625c36e7aaf05f1792e7f3685aaf796a1a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdebase-4.5.4.tar.bz2">kdebase-4.5.4</a></td><td align="right">2,6MB</td><td><tt>486231f4c8bce974a0ac10870d5c68d1d225f7ce</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdebase-runtime-4.5.4.tar.bz2">kdebase-runtime-4.5.4</a></td><td align="right">5,6MB</td><td><tt>1847bf2d00a46a466477c8e12298929779404a62</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdebase-workspace-4.5.4.tar.bz2">kdebase-workspace-4.5.4</a></td><td align="right">63MB</td><td><tt>e362bceff622f39bf6949657d1e629ef541c6ae2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdebindings-4.5.4.tar.bz2">kdebindings-4.5.4</a></td><td align="right">6,9MB</td><td><tt>1562ca0e58450ed72bc18ed9a1c4c6ec62fd4a8f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdeedu-4.5.4.tar.bz2">kdeedu-4.5.4</a></td><td align="right">63MB</td><td><tt>d670d62af51fba356f3058c54c90a709721774bf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdegames-4.5.4.tar.bz2">kdegames-4.5.4</a></td><td align="right">56MB</td><td><tt>6a0a33d5761c678f37f87a25268e53952134e081</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdegraphics-4.5.4.tar.bz2">kdegraphics-4.5.4</a></td><td align="right">4,8MB</td><td><tt>1effe5c72577c9f63aa4959777c1dd6df5c54d9c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdelibs-4.5.4.tar.bz2">kdelibs-4.5.4</a></td><td align="right">14MB</td><td><tt>6378c8d1a2b71e19713fbc7830518359868be4bd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdemultimedia-4.5.4.tar.bz2">kdemultimedia-4.5.4</a></td><td align="right">1,6MB</td><td><tt>603ebc6a2cc63ecd5318bfcaa49a4255b7c244dd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdenetwork-4.5.4.tar.bz2">kdenetwork-4.5.4</a></td><td align="right">7,8MB</td><td><tt>95a69183912fe9f29a2e877c0655050d4a7252d1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdepimlibs-4.5.4.tar.bz2">kdepimlibs-4.5.4</a></td><td align="right">2,6MB</td><td><tt>19849626439abb195f0827df59ab034a06af77ea</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdeplasma-addons-4.5.4.tar.bz2">kdeplasma-addons-4.5.4</a></td><td align="right">1,7MB</td><td><tt>44f338c05d8fb08ca25696270dee5d8c4a6b7eca</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdesdk-4.5.4.tar.bz2">kdesdk-4.5.4</a></td><td align="right">5,6MB</td><td><tt>a6775519b135e6e7a75e86512c7c7712ecabe873</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdetoys-4.5.4.tar.bz2">kdetoys-4.5.4</a></td><td align="right">396KB</td><td><tt>f9859dc10832852bd733898c08dd11ef72fe439b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdeutils-4.5.4.tar.bz2">kdeutils-4.5.4</a></td><td align="right">3,7MB</td><td><tt>8d5d1cb5cc37f7fa9cb065e2589b76df80282197</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/kdewebdev-4.5.4.tar.bz2">kdewebdev-4.5.4</a></td><td align="right">2,2MB</td><td><tt>e09ff7a34d1f4d7aaf54c5059daf953a292754a0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.4/src/oxygen-icons-4.5.4.tar.bz2">oxygen-icons-4.5.4</a></td><td align="right">238MB</td><td><tt>b6b24a843a605fad5b48159edd519d30218a9eb4</tt></td></tr>
</table>
