<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/amor-4.13.0.tar.xz">amor-4.13.0</a></td>
   <td align="right">170kB</td>
   <td><tt>c23997e99d4d03adecbf1415d7f1fe38459426fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/analitza-4.13.0.tar.xz">analitza-4.13.0</a></td>
   <td align="right">180kB</td>
   <td><tt>a1fc8c0ce26d565ecc14df933d79a89a19bcc78b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ark-4.13.0.tar.xz">ark-4.13.0</a></td>
   <td align="right">224kB</td>
   <td><tt>8c9e84f1ae1b6c10dd51e08d37a8b79627b2b52b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/artikulate-4.13.0.tar.xz">artikulate-4.13.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>7fa0cd6e9fa453a37196d4e439d0fe74f25e875e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/audiocd-kio-4.13.0.tar.xz">audiocd-kio-4.13.0</a></td>
   <td align="right">50kB</td>
   <td><tt>bb8f2a76b5df4d2477a6e6fa1f2d8794e119a81e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/baloo-4.13.0.tar.xz">baloo-4.13.0</a></td>
   <td align="right">120kB</td>
   <td><tt>ace3a80d3c0e3bb444ebe7f30392db791eab7c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/baloo-widgets-4.13.0.tar.xz">baloo-widgets-4.13.0</a></td>
   <td align="right">31kB</td>
   <td><tt>3b677dbaaba3fc77500f5fb376c93e52369de93e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/blinken-4.13.0.tar.xz">blinken-4.13.0</a></td>
   <td align="right">546kB</td>
   <td><tt>28fac88818950c7b19955ed9f4101914b38a7c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/bomber-4.13.0.tar.xz">bomber-4.13.0</a></td>
   <td align="right">377kB</td>
   <td><tt>5b23d74087c1df00c4f8bf8e2f5d838f768bb0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/bovo-4.13.0.tar.xz">bovo-4.13.0</a></td>
   <td align="right">98kB</td>
   <td><tt>985f353cd2556de54d9e31fc1051e7192f299396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/cantor-4.13.0.tar.xz">cantor-4.13.0</a></td>
   <td align="right">324kB</td>
   <td><tt>cd10ac9bf7c2398cb28597ae9c10c62e4a2b374b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/cervisia-4.13.0.tar.xz">cervisia-4.13.0</a></td>
   <td align="right">359kB</td>
   <td><tt>8e88272105f10bd6b5ad11255c137b9c6d434297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/dolphin-plugins-4.13.0.tar.xz">dolphin-plugins-4.13.0</a></td>
   <td align="right">56kB</td>
   <td><tt>a34afbdfdb75a7585c42c74b0378c1fce0171151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/dragon-4.13.0.tar.xz">dragon-4.13.0</a></td>
   <td align="right">381kB</td>
   <td><tt>cc5c84cefc5bdf6c21192453f8cc9bb78c4ab205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ffmpegthumbs-4.13.0.tar.xz">ffmpegthumbs-4.13.0</a></td>
   <td align="right">19kB</td>
   <td><tt>3cf1c1002b34cd797e06964251dd315b53c66632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/filelight-4.13.0.tar.xz">filelight-4.13.0</a></td>
   <td align="right">280kB</td>
   <td><tt>99188c09ca40e30d9c0dc8d152eecbbcb90d06e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/granatier-4.13.0.tar.xz">granatier-4.13.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>616c9a43a4b3f5eb832864a56cec453fff437a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/gwenview-4.13.0.tar.xz">gwenview-4.13.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>76d5fc2bf99709e2c971e96fbaa43398f457c8a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/jovie-4.13.0.tar.xz">jovie-4.13.0</a></td>
   <td align="right">370kB</td>
   <td><tt>f0861b2c3a0ce93d3d9592bbade2989aa0820186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/juk-4.13.0.tar.xz">juk-4.13.0</a></td>
   <td align="right">418kB</td>
   <td><tt>c8077ab3aeb49331fc5611cdfdbb60adb1115029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kaccessible-4.13.0.tar.xz">kaccessible-4.13.0</a></td>
   <td align="right">19kB</td>
   <td><tt>1fce10ccf65544d84388f2e4383e1c82a9de6f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kactivities-4.13.0.tar.xz">kactivities-4.13.0</a></td>
   <td align="right">85kB</td>
   <td><tt>4be8bf412c1288e60ee773b192922dccd40be042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kajongg-4.13.0.tar.xz">kajongg-4.13.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4930b73f2301c602fbad97f0f157a84243c1ea1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kalgebra-4.13.0.tar.xz">kalgebra-4.13.0</a></td>
   <td align="right">264kB</td>
   <td><tt>2c3da95dacf3379c8137f420755031b4269bff40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kalzium-4.13.0.tar.xz">kalzium-4.13.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>711fb4d070706eb2ac1e9af1c0eb20a7ad0cbc7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kamera-4.13.0.tar.xz">kamera-4.13.0</a></td>
   <td align="right">34kB</td>
   <td><tt>37b1dd6872db79c00e93881f8efd8ab11d1f1bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kanagram-4.13.0.tar.xz">kanagram-4.13.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ca1ccc75006325cea09fae5c2af0a5e746c91e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kapman-4.13.0.tar.xz">kapman-4.13.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>19045a8fe37e9fd77e1acc8e5180378d57c89a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kapptemplate-4.13.0.tar.xz">kapptemplate-4.13.0</a></td>
   <td align="right">682kB</td>
   <td><tt>d2d21b0e880d3c096b41f2a13e79f02b3d99bf2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kate-4.13.0.tar.xz">kate-4.13.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9a83edaa24f89972ee9618361b565ec843ce719c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/katomic-4.13.0.tar.xz">katomic-4.13.0</a></td>
   <td align="right">642kB</td>
   <td><tt>a589b50eeaf213767aef2270848231968f71201f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kblackbox-4.13.0.tar.xz">kblackbox-4.13.0</a></td>
   <td align="right">251kB</td>
   <td><tt>7d0ce0d87319f20a385299bcf0251bec8bde29fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kblocks-4.13.0.tar.xz">kblocks-4.13.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0f3ef0ebfae767b5df2df6d0c5bcc198f9d5e06f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kbounce-4.13.0.tar.xz">kbounce-4.13.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>81257018f7ded3be01f40e7b7e05d7bdc6804f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kbreakout-4.13.0.tar.xz">kbreakout-4.13.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6096cdfd640879d487b61347fa4ba05b0082f2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kbruch-4.13.0.tar.xz">kbruch-4.13.0</a></td>
   <td align="right">876kB</td>
   <td><tt>e830214f315f92474b7c7b0bc3e6561995631d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kcachegrind-4.13.0.tar.xz">kcachegrind-4.13.0</a></td>
   <td align="right">229kB</td>
   <td><tt>b2f7d1855030302ecfab1e038ccd2004b5db8cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kcalc-4.13.0.tar.xz">kcalc-4.13.0</a></td>
   <td align="right">79kB</td>
   <td><tt>5c07e99fc7d6fdaadb8db6e2127b76081d44159b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kcharselect-4.13.0.tar.xz">kcharselect-4.13.0</a></td>
   <td align="right">82kB</td>
   <td><tt>732ae4683c1c5c0760c68cb8a64ef84d98c54982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kcolorchooser-4.13.0.tar.xz">kcolorchooser-4.13.0</a></td>
   <td align="right">4kB</td>
   <td><tt>4ab9b7e4934bac19d6544cf59714e8767afd0ac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kcron-4.13.0.tar.xz">kcron-4.13.0</a></td>
   <td align="right">170kB</td>
   <td><tt>0c69da572922ff3dfba75a181834ffd9883e05b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdeartwork-4.13.0.tar.xz">kdeartwork-4.13.0</a></td>
   <td align="right">134MB</td>
   <td><tt>93ab54aefc0c9a93b2e76b53db21177fbf432d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-baseapps-4.13.0.tar.xz">kde-baseapps-4.13.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>effed07c20aff0e56155fb7be4d8b4636544cd2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-base-artwork-4.13.0.tar.xz">kde-base-artwork-4.13.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c112de4173dbd3630ccc797c75f72657251222ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-dev-scripts-4.13.0.tar.xz">kde-dev-scripts-4.13.0</a></td>
   <td align="right">254kB</td>
   <td><tt>2e338262d40ea9e7f69e659068d02eea21863c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-dev-utils-4.13.0.tar.xz">kde-dev-utils-4.13.0</a></td>
   <td align="right">50kB</td>
   <td><tt>24d3697c5ba776ee6124e7658135667f26f1fa5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdegraphics-mobipocket-4.13.0.tar.xz">kdegraphics-mobipocket-4.13.0</a></td>
   <td align="right">14kB</td>
   <td><tt>45379e04c2f2df3d247b97a5e34804f2e783e0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdegraphics-strigi-analyzer-4.13.0.tar.xz">kdegraphics-strigi-analyzer-4.13.0</a></td>
   <td align="right">39kB</td>
   <td><tt>b071fcbd1c788c9bbb7df9a47a1495d6fa4bef40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdegraphics-thumbnailers-4.13.0.tar.xz">kdegraphics-thumbnailers-4.13.0</a></td>
   <td align="right">40kB</td>
   <td><tt>13dd41b5cad95bf36e20e3ba39dd534f926ec3f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdelibs-4.13.0.tar.xz">kdelibs-4.13.0</a></td>
   <td align="right">11MB</td>
   <td><tt>8f2cccbadc869a7c5e7371d45ce2a767b98a9f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdenetwork-filesharing-4.13.0.tar.xz">kdenetwork-filesharing-4.13.0</a></td>
   <td align="right">26kB</td>
   <td><tt>2c1cd93e5f147726d2676549c1a5df8b7ac8eeb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdenetwork-strigi-analyzers-4.13.0.tar.xz">kdenetwork-strigi-analyzers-4.13.0</a></td>
   <td align="right">14kB</td>
   <td><tt>46be11c08e563a5c9f6a4a0f3a8a3788184da360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdepim-4.13.0.tar.xz">kdepim-4.13.0</a></td>
   <td align="right">13MB</td>
   <td><tt>d8e76b38b7dbb6f092673a8fa355039b014e4769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdepimlibs-4.13.0.tar.xz">kdepimlibs-4.13.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8cedbc430262928d3d802224453650557701ba0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdepim-runtime-4.13.0.tar.xz">kdepim-runtime-4.13.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>01e5d0d205128e45a1ecf839cc892b65479278dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdeplasma-addons-4.13.0.tar.xz">kdeplasma-addons-4.13.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>713b03d51b6ce31aec83f87929249c84a281cef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-runtime-4.13.0.tar.xz">kde-runtime-4.13.0</a></td>
   <td align="right">7.4MB</td>
   <td><tt>0ec0970baeb806fa036c9241821d494006d49198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdesdk-kioslaves-4.13.0.tar.xz">kdesdk-kioslaves-4.13.0</a></td>
   <td align="right">352kB</td>
   <td><tt>802cbc3bbb8da01ab275ed2f8022e7bccd19652b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdesdk-strigi-analyzers-4.13.0.tar.xz">kdesdk-strigi-analyzers-4.13.0</a></td>
   <td align="right">17kB</td>
   <td><tt>04e4d7e3f48a933e93b51d97421833525dc129de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdesdk-thumbnailers-4.13.0.tar.xz">kdesdk-thumbnailers-4.13.0</a></td>
   <td align="right">11kB</td>
   <td><tt>28ee5d44731b9590034f9b77b73f7456b59c2819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-wallpapers-4.13.0.tar.xz">kde-wallpapers-4.13.0</a></td>
   <td align="right">86MB</td>
   <td><tt>c271d746bc91f1369db580e72c5a0f23c357ffd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdewebdev-4.13.0.tar.xz">kdewebdev-4.13.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>db35428c07cc95fcbf31fc6a99ba95a62bafec3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdf-4.13.0.tar.xz">kdf-4.13.0</a></td>
   <td align="right">145kB</td>
   <td><tt>fac0792ae34e1cbc89251571ddccbdda3c4ef320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kdiamond-4.13.0.tar.xz">kdiamond-4.13.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>0c1e87c98c62a463d2f0e019defd9ebdffe9eab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kfilemetadata-4.13.0.tar.xz">kfilemetadata-4.13.0</a></td>
   <td align="right">34kB</td>
   <td><tt>3bfd15f218ee76bf4a57357afa05fd01b4e68bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kfloppy-4.13.0.tar.xz">kfloppy-4.13.0</a></td>
   <td align="right">51kB</td>
   <td><tt>eb690620e0e36e1387a7219292196970d62a4d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kfourinline-4.13.0.tar.xz">kfourinline-4.13.0</a></td>
   <td align="right">275kB</td>
   <td><tt>29c43361bdc73b4dcef15324ed32d74abb17eeb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kgamma-4.13.0.tar.xz">kgamma-4.13.0</a></td>
   <td align="right">22kB</td>
   <td><tt>b4c19a0a50192b57ca4677d961a6ab4837cb1620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kgeography-4.13.0.tar.xz">kgeography-4.13.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>a8ca17b3f4dd5c74f9eb55547da88319342f00a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kget-4.13.0.tar.xz">kget-4.13.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8df20250aa34919e72b1ba5b32a6fe38e3f87e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kgoldrunner-4.13.0.tar.xz">kgoldrunner-4.13.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9910ed50982be9eaac617c9015a68679ec7493cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kgpg-4.13.0.tar.xz">kgpg-4.13.0</a></td>
   <td align="right">784kB</td>
   <td><tt>8d88c1459f43d41107ce1deba57f506afbb849d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/khangman-4.13.0.tar.xz">khangman-4.13.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>4c876e3dc7c1f7c54bd3a4db0cba2d522d240e65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kig-4.13.0.tar.xz">kig-4.13.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8c5b937b86abe9743350be2eabc54f262b243970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kigo-4.13.0.tar.xz">kigo-4.13.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>fdf3c6ecd1396500c54caf7a4aa66f0233db90c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/killbots-4.13.0.tar.xz">killbots-4.13.0</a></td>
   <td align="right">938kB</td>
   <td><tt>643b5d80093936278206c99e6e856bb88019a9fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kimono-4.13.0.tar.xz">kimono-4.13.0</a></td>
   <td align="right">910kB</td>
   <td><tt>5f69aa88ddbd225cb39a521bcc3843f0fe91a730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kiriki-4.13.0.tar.xz">kiriki-4.13.0</a></td>
   <td align="right">115kB</td>
   <td><tt>906903645f11ddebc25d9508f9b0a847c28955c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kiten-4.13.0.tar.xz">kiten-4.13.0</a></td>
   <td align="right">11MB</td>
   <td><tt>302c5dc3f689348f90dea1f90a6508963de61822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kjumpingcube-4.13.0.tar.xz">kjumpingcube-4.13.0</a></td>
   <td align="right">160kB</td>
   <td><tt>f33e6e9dc5441fd6a5f83f5fcce3d0a464dad228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/klettres-4.13.0.tar.xz">klettres-4.13.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a4c272dd710388937c2da7a6d3974b90799a7e38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/klickety-4.13.0.tar.xz">klickety-4.13.0</a></td>
   <td align="right">765kB</td>
   <td><tt>4bfd41375b2c3fe60f2526d9e589e4f604cab8fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/klines-4.13.0.tar.xz">klines-4.13.0</a></td>
   <td align="right">927kB</td>
   <td><tt>d1af4dafd0feb9f62394b2f4f410993a72c45d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kmag-4.13.0.tar.xz">kmag-4.13.0</a></td>
   <td align="right">84kB</td>
   <td><tt>fb5b783a8bd04720d0b0d0b53fc3b5026cf186c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kmahjongg-4.13.0.tar.xz">kmahjongg-4.13.0</a></td>
   <td align="right">979kB</td>
   <td><tt>a916036596b244140454fc2a7adb01a5cbf345c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kmines-4.13.0.tar.xz">kmines-4.13.0</a></td>
   <td align="right">613kB</td>
   <td><tt>e0bbc0dd2b350d03678ab5611531a510798ba073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kmix-4.13.0.tar.xz">kmix-4.13.0</a></td>
   <td align="right">369kB</td>
   <td><tt>21cb2e7708e466731e6d23a57520d5ccd6c66491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kmousetool-4.13.0.tar.xz">kmousetool-4.13.0</a></td>
   <td align="right">35kB</td>
   <td><tt>0ed67a8f0a2a7663269d3c71fa6b63da871924d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kmouth-4.13.0.tar.xz">kmouth-4.13.0</a></td>
   <td align="right">300kB</td>
   <td><tt>0281df733b9ce48ec75b3d253a093d3e3f4e2af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kmplot-4.13.0.tar.xz">kmplot-4.13.0</a></td>
   <td align="right">639kB</td>
   <td><tt>5132e9ca234de87315c4304e1cfa43f41a7e3f9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/knavalbattle-4.13.0.tar.xz">knavalbattle-4.13.0</a></td>
   <td align="right">834kB</td>
   <td><tt>75d83a9e6eebdd764c4c8bf0e83e84465e17273c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/knetwalk-4.13.0.tar.xz">knetwalk-4.13.0</a></td>
   <td align="right">763kB</td>
   <td><tt>96c36b842db1a239082142017d1ac994273fb2f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kolf-4.13.0.tar.xz">kolf-4.13.0</a></td>
   <td align="right">747kB</td>
   <td><tt>55c79eb522880b0446a4eeb5bfc271909014c851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kollision-4.13.0.tar.xz">kollision-4.13.0</a></td>
   <td align="right">202kB</td>
   <td><tt>4af91c89470e310c3af80aedb50514424473f5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kolourpaint-4.13.0.tar.xz">kolourpaint-4.13.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>466b861311cca89d61af1973ad9edfe042196736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kompare-4.13.0.tar.xz">kompare-4.13.0</a></td>
   <td align="right">336kB</td>
   <td><tt>2c78806dec271f34f96514b6efaaf0cabcbc8501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/konquest-4.13.0.tar.xz">konquest-4.13.0</a></td>
   <td align="right">395kB</td>
   <td><tt>fd165c1e7ba50b90b9e4ba73ade5860141a86b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/konsole-4.13.0.tar.xz">konsole-4.13.0</a></td>
   <td align="right">444kB</td>
   <td><tt>6f5fedabe3b91542b8b66dd51029ebeabcdd984a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kopete-4.13.0.tar.xz">kopete-4.13.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>34b08ce41a7780d48459eb47877ed895b11c5262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/korundum-4.13.0.tar.xz">korundum-4.13.0</a></td>
   <td align="right">156kB</td>
   <td><tt>057c291cc7a683ad37f332bae40d340d0068fc5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kpat-4.13.0.tar.xz">kpat-4.13.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>59255d6b474719ccfdac0d31a75df3523bd26e25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kppp-4.13.0.tar.xz">kppp-4.13.0</a></td>
   <td align="right">680kB</td>
   <td><tt>c5f73569f7a5f99230b220312ed08a051b895fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kqtquickcharts-4.13.0.tar.xz">kqtquickcharts-4.13.0</a></td>
   <td align="right">16kB</td>
   <td><tt>a58359112047c63ce12e4b509c691ab560c5d255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/krdc-4.13.0.tar.xz">krdc-4.13.0</a></td>
   <td align="right">388kB</td>
   <td><tt>13c0b0fe693be97fdb484852ba05c3be1cf80efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kremotecontrol-4.13.0.tar.xz">kremotecontrol-4.13.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5941b07f3dcd25a2d860b1ec6c05a2260c454ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kreversi-4.13.0.tar.xz">kreversi-4.13.0</a></td>
   <td align="right">463kB</td>
   <td><tt>16566b8eb635e6c0d3cfba3aff912aaa83ebd264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/krfb-4.13.0.tar.xz">krfb-4.13.0</a></td>
   <td align="right">456kB</td>
   <td><tt>bb9ec01c1bc1cf316cded7a509793087e18c5dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kross-interpreters-4.13.0.tar.xz">kross-interpreters-4.13.0</a></td>
   <td align="right">127kB</td>
   <td><tt>6305db2afdaf5e87313d8fb889982c8f77641124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kruler-4.13.0.tar.xz">kruler-4.13.0</a></td>
   <td align="right">125kB</td>
   <td><tt>ea74eb62fe383d6f37866ee328b4a49503da9a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ksaneplugin-4.13.0.tar.xz">ksaneplugin-4.13.0</a></td>
   <td align="right">12kB</td>
   <td><tt>b9a335491eea76483851925dfde477f3175b2826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kscd-4.13.0.tar.xz">kscd-4.13.0</a></td>
   <td align="right">90kB</td>
   <td><tt>f48f7cde6a894ceaaf42e1ae10e6b6d631e0f1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kshisen-4.13.0.tar.xz">kshisen-4.13.0</a></td>
   <td align="right">132kB</td>
   <td><tt>64f55b6d2e96635ca5265f125cec34e4b636c717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ksirk-4.13.0.tar.xz">ksirk-4.13.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>795318074286c30585d2387bbea8e2879b5f6a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ksnakeduel-4.13.0.tar.xz">ksnakeduel-4.13.0</a></td>
   <td align="right">312kB</td>
   <td><tt>2dffad38ff9946adfe4847d63dcac13c6461abda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ksnapshot-4.13.0.tar.xz">ksnapshot-4.13.0</a></td>
   <td align="right">251kB</td>
   <td><tt>39ba25bc258be24ab587220c44c33c47ec14a964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kspaceduel-4.13.0.tar.xz">kspaceduel-4.13.0</a></td>
   <td align="right">246kB</td>
   <td><tt>3e97e35da4f177b9c41170307020a16015d5ca41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ksquares-4.13.0.tar.xz">ksquares-4.13.0</a></td>
   <td align="right">77kB</td>
   <td><tt>29267d1b8666d8826e55c7cdd9221db53655b926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kstars-4.13.0.tar.xz">kstars-4.13.0</a></td>
   <td align="right">11MB</td>
   <td><tt>1614143139492be3c76f5c3bc2ac374af18026de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ksudoku-4.13.0.tar.xz">ksudoku-4.13.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ca11318f8679cde9a6db8b1ec4caf55c7ddd27f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ksystemlog-4.13.0.tar.xz">ksystemlog-4.13.0</a></td>
   <td align="right">373kB</td>
   <td><tt>18c2918114074f4e02cd2ed063543c1c22278c02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kteatime-4.13.0.tar.xz">kteatime-4.13.0</a></td>
   <td align="right">98kB</td>
   <td><tt>5eee19c871809b57539b74f780cb30135924ed10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ktimer-4.13.0.tar.xz">ktimer-4.13.0</a></td>
   <td align="right">143kB</td>
   <td><tt>406ff82b038f7f5fcefe6c7b717256f784fd6359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ktouch-4.13.0.tar.xz">ktouch-4.13.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a737598452c62f18a6471d714581a7cb16871e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ktuberling-4.13.0.tar.xz">ktuberling-4.13.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>58fdde6e47455058584e3ffbfd817956efb6b872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kturtle-4.13.0.tar.xz">kturtle-4.13.0</a></td>
   <td align="right">183kB</td>
   <td><tt>7f2f353e614c215c2b0478869eb00ae188831b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/ktux-4.13.0.tar.xz">ktux-4.13.0</a></td>
   <td align="right">106kB</td>
   <td><tt>8f62d0084b192d3590339cd0c6343dd75f8a1a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kubrick-4.13.0.tar.xz">kubrick-4.13.0</a></td>
   <td align="right">104kB</td>
   <td><tt>87ee6b2c684285e82d3999232effe63940b77394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kuser-4.13.0.tar.xz">kuser-4.13.0</a></td>
   <td align="right">131kB</td>
   <td><tt>2307b0d6a8d003d7dfe94b7b5dc000d52930beae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kwalletmanager-4.13.0.tar.xz">kwalletmanager-4.13.0</a></td>
   <td align="right">445kB</td>
   <td><tt>02a340c9031655fdb88b1194ce4816b4a10821bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kwordquiz-4.13.0.tar.xz">kwordquiz-4.13.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3d131f6c238f15742c5768ad6a52cf5365a5af59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkcddb-4.13.0.tar.xz">libkcddb-4.13.0</a></td>
   <td align="right">154kB</td>
   <td><tt>e32cec0d588ec0f3649968ea8c22bddbfd72ec35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkcompactdisc-4.13.0.tar.xz">libkcompactdisc-4.13.0</a></td>
   <td align="right">73kB</td>
   <td><tt>5488109c58e4d05f8044bd5cb04648b7bb19b579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkdcraw-4.13.0.tar.xz">libkdcraw-4.13.0</a></td>
   <td align="right">97kB</td>
   <td><tt>61e8329dd58d03b1ebce91f413e4d0f79a9a6741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkdeedu-4.13.0.tar.xz">libkdeedu-4.13.0</a></td>
   <td align="right">204kB</td>
   <td><tt>be714648975a906f45d1cc3ab8617ea6b6a90733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkdegames-4.13.0.tar.xz">libkdegames-4.13.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>28b546ff09d7191a4381bff1ce5084ced3d286ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkexiv2-4.13.0.tar.xz">libkexiv2-4.13.0</a></td>
   <td align="right">132kB</td>
   <td><tt>0f98a328a4aaa8c13b972dd75cd4d13c91560dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkipi-4.13.0.tar.xz">libkipi-4.13.0</a></td>
   <td align="right">92kB</td>
   <td><tt>f772a8fc8b098ed9bdf44c3d4c3fdc50d4f5c1d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkmahjongg-4.13.0.tar.xz">libkmahjongg-4.13.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bd140e1794cdd8271face4d007a81463514712b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libkomparediff2-4.13.0.tar.xz">libkomparediff2-4.13.0</a></td>
   <td align="right">54kB</td>
   <td><tt>6debc3b9e8244a5ce90a2d3f3e704d10a74e84d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/libksane-4.13.0.tar.xz">libksane-4.13.0</a></td>
   <td align="right">78kB</td>
   <td><tt>45d36d229fd2e65eebd267e398c2f5a022f93053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/lokalize-4.13.0.tar.xz">lokalize-4.13.0</a></td>
   <td align="right">826kB</td>
   <td><tt>36fa9e7afabf6e968cb2e03d73e0bbcd8804fbe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/lskat-4.13.0.tar.xz">lskat-4.13.0</a></td>
   <td align="right">907kB</td>
   <td><tt>729b2e06f91fc1b83aef4d73cf8455a20a27cc72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/marble-4.13.0.tar.xz">marble-4.13.0</a></td>
   <td align="right">18MB</td>
   <td><tt>1a3364e8c0a3ec26ed7e8b76867410f3d20facd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/mplayerthumbs-4.13.0.tar.xz">mplayerthumbs-4.13.0</a></td>
   <td align="right">26kB</td>
   <td><tt>a180a47ca7fa67ceeb7fbdef440b5eb6d3fa37a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/nepomuk-core-4.13.0.tar.xz">nepomuk-core-4.13.0</a></td>
   <td align="right">374kB</td>
   <td><tt>44e65063138088be91f03c8bb7ff8be7cd255984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/nepomuk-widgets-4.13.0.tar.xz">nepomuk-widgets-4.13.0</a></td>
   <td align="right">47kB</td>
   <td><tt>a7d5c29dea49c2ab49b4227be6a611670ec540ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/okteta-4.13.0.tar.xz">okteta-4.13.0</a></td>
   <td align="right">481kB</td>
   <td><tt>fc70d55a4e5faa427de96cb5b8b2f81c6035f402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/okular-4.13.0.tar.xz">okular-4.13.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a4013a245b5ad75fae4ae4cddce9083220e61af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/oxygen-icons-4.13.0.tar.xz">oxygen-icons-4.13.0</a></td>
   <td align="right">219MB</td>
   <td><tt>e43fd0a6ec385943ef4cef7e22c2770a924ff01c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/pairs-4.13.0.tar.xz">pairs-4.13.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4ea07177f8331ceffbe7312be5bb77d0227d3e56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/palapeli-4.13.0.tar.xz">palapeli-4.13.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1f87529553b41f13ef4838ad39768cb75db898cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/parley-4.13.0.tar.xz">parley-4.13.0</a></td>
   <td align="right">7.8MB</td>
   <td><tt>fd3419def5d46ec71f1eaabba088378a8e2fc358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/perlkde-4.13.0.tar.xz">perlkde-4.13.0</a></td>
   <td align="right">39kB</td>
   <td><tt>a33bc06b1f949b880903cc2ab0f19052d03ecba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/perlqt-4.13.0.tar.xz">perlqt-4.13.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8fea488dd4f6df9b4def9d3438f6e8e6e5693572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/picmi-4.13.0.tar.xz">picmi-4.13.0</a></td>
   <td align="right">714kB</td>
   <td><tt>901bfb347dbbc823623e489f873a8e8afbd1e40b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/poxml-4.13.0.tar.xz">poxml-4.13.0</a></td>
   <td align="right">30kB</td>
   <td><tt>bd0828684bf397bce1ce72ce2918798e63ad6a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/print-manager-4.13.0.tar.xz">print-manager-4.13.0</a></td>
   <td align="right">90kB</td>
   <td><tt>44f443f5db39c2c403acbd7c8c059487020790cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/pykde4-4.13.0.tar.xz">pykde4-4.13.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2c47c3e642d0d38e8d8b9bb8fb22972d162d976e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/qtruby-4.13.0.tar.xz">qtruby-4.13.0</a></td>
   <td align="right">517kB</td>
   <td><tt>65951cfb0688c51ebb4cbc228ce5579727d1dc2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/qyoto-4.13.0.tar.xz">qyoto-4.13.0</a></td>
   <td align="right">495kB</td>
   <td><tt>24c71b744875844f9a658222bf73a34247e94a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/rocs-4.13.0.tar.xz">rocs-4.13.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ac2233d9012715a66cd357de5d555d04ead9bc1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/smokegen-4.13.0.tar.xz">smokegen-4.13.0</a></td>
   <td align="right">143kB</td>
   <td><tt>849c4fe74891b9b9df23d8583ddc26772ac6cfd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/smokekde-4.13.0.tar.xz">smokekde-4.13.0</a></td>
   <td align="right">35kB</td>
   <td><tt>900bb95a82ffbaf592da52a085b58cc7df483e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/smokeqt-4.13.0.tar.xz">smokeqt-4.13.0</a></td>
   <td align="right">29kB</td>
   <td><tt>a49253f85288edf9050a52daab7cf0fb0fa8e2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/step-4.13.0.tar.xz">step-4.13.0</a></td>
   <td align="right">353kB</td>
   <td><tt>8267a533150772da194cdcab552031da114ee7cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/superkaramba-4.13.0.tar.xz">superkaramba-4.13.0</a></td>
   <td align="right">374kB</td>
   <td><tt>6651f90e1c6e2c3ddcb8a40aaf7229fba835cf0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/svgpart-4.13.0.tar.xz">svgpart-4.13.0</a></td>
   <td align="right">8kB</td>
   <td><tt>f3126f0bfcebfa6f68ee2fc492efb40886f8dfbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/sweeper-4.13.0.tar.xz">sweeper-4.13.0</a></td>
   <td align="right">80kB</td>
   <td><tt>c0bb7a7f2d328aa58182f1c591ec0196176c4bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/umbrello-4.13.0.tar.xz">umbrello-4.13.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>087c9cf58fa04f65adf476c660c53f993482f211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/zeroconf-ioslave-4.13.0.tar.xz">zeroconf-ioslave-4.13.0</a></td>
   <td align="right">25kB</td>
   <td><tt>5de0e023eaa2fbe0e40fc26a9bfb717f88e7bac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ar-4.13.0.tar.xz">kde-l10n-ar-4.13.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>9bf02745be078fbe8d883f9b55025c3acf219ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-bg-4.13.0.tar.xz">kde-l10n-bg-4.13.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f45ba343bcd07bd45e48a79b652b96fac7e5cdfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-bs-4.13.0.tar.xz">kde-l10n-bs-4.13.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7eaa46f54e560b324f628e4bb95798414c47660e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ca-4.13.0.tar.xz">kde-l10n-ca-4.13.0</a></td>
   <td align="right">11MB</td>
   <td><tt>df20780008b6a6feb4cd586ba5e9930d6997eba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ca@valencia-4.13.0.tar.xz">kde-l10n-ca@valencia-4.13.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>23263ac17a43743c26f83f42f6f9b320bac26b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-cs-4.13.0.tar.xz">kde-l10n-cs-4.13.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>aba58584f628e7e141eda270c5c4e9a30019a2d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-da-4.13.0.tar.xz">kde-l10n-da-4.13.0</a></td>
   <td align="right">12MB</td>
   <td><tt>a6678a65402358d8cdfdf3562c88bc15e19973be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-de-4.13.0.tar.xz">kde-l10n-de-4.13.0</a></td>
   <td align="right">34MB</td>
   <td><tt>f3764283061121d86ca99562e04f9591d9687425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-el-4.13.0.tar.xz">kde-l10n-el-4.13.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>cbb8c165fdb1658b81c427da8733c378aeb6ab1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-en_GB-4.13.0.tar.xz">kde-l10n-en_GB-4.13.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>758626bed2313ea0f7e8b587e8ba5eb3f681c281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-es-4.13.0.tar.xz">kde-l10n-es-4.13.0</a></td>
   <td align="right">20MB</td>
   <td><tt>754856f41e542b31218090afbaa2e53f13f7fb4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-et-4.13.0.tar.xz">kde-l10n-et-4.13.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>bfff0d655e8b13b69cb2f89bd5ee78b0ebe20063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-eu-4.13.0.tar.xz">kde-l10n-eu-4.13.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>80cdfd39a420d7bdec69dba0932bebaf25b949a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-fi-4.13.0.tar.xz">kde-l10n-fi-4.13.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fd5275e86724bf952cb5f9ac68feabc9e7ee6c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-fr-4.13.0.tar.xz">kde-l10n-fr-4.13.0</a></td>
   <td align="right">44MB</td>
   <td><tt>7e20e758996e349fec8ee8c071131606bb3d2d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ga-4.13.0.tar.xz">kde-l10n-ga-4.13.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b18e81278642fbfcddface6ec0905b5c9590410b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-gl-4.13.0.tar.xz">kde-l10n-gl-4.13.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>7cbd8e2b79ad876b9d5d9a833eca8074fbdec73e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-he-4.13.0.tar.xz">kde-l10n-he-4.13.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0d4d3bf4c958a028f0d01f78a21fa308ce0f05d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-hi-4.13.0.tar.xz">kde-l10n-hi-4.13.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7426a9f395e6467664b42ac3d799e6183b9fa14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-hr-4.13.0.tar.xz">kde-l10n-hr-4.13.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a04ddfaccf44b48ac2c2a1a92319a9c2bfb83d93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-hu-4.13.0.tar.xz">kde-l10n-hu-4.13.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>bd88e77b8b57b079284991b3231e9ad86a4fbd76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ia-4.13.0.tar.xz">kde-l10n-ia-4.13.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>738c27fb334f0c514c30faa7b0c96df8ae84b374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-id-4.13.0.tar.xz">kde-l10n-id-4.13.0</a></td>
   <td align="right">508kB</td>
   <td><tt>016f44ccb1199ec57bfeadb84460778e2765ca95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-is-4.13.0.tar.xz">kde-l10n-is-4.13.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>aaf772212dfc3dceb2607e5b6aa6aa329716f225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-it-4.13.0.tar.xz">kde-l10n-it-4.13.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>a662b0e7beeb70b0e68f41caf84a52eb66b75160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ja-4.13.0.tar.xz">kde-l10n-ja-4.13.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5837fc793de5edb8a6b71bbc8e6d5eb439a46863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-kk-4.13.0.tar.xz">kde-l10n-kk-4.13.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>6aa320acd0a86e9cac45a18358f7aac617a3d1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-km-4.13.0.tar.xz">kde-l10n-km-4.13.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bc77f2acde744247f3ec9b25288503c8b71b6029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ko-4.13.0.tar.xz">kde-l10n-ko-4.13.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9b839bfa20ebd6b19040fab3d0f309b2c4772490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-lt-4.13.0.tar.xz">kde-l10n-lt-4.13.0</a></td>
   <td align="right">12MB</td>
   <td><tt>4c0a429de0907a6843ab9190678d90e88623ca3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-lv-4.13.0.tar.xz">kde-l10n-lv-4.13.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>92bc7be50482fb7cfc8e89c155e630919013965c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-mr-4.13.0.tar.xz">kde-l10n-mr-4.13.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>75a1ecb3d4c8cdb357a80dd361c7a6e595a9278d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-nb-4.13.0.tar.xz">kde-l10n-nb-4.13.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>dd7e083a1feadc50acb922461b23996e8066cb15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-nds-4.13.0.tar.xz">kde-l10n-nds-4.13.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>09729a1b5a8c8e3eaf17da14565de505a7a58194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-nl-4.13.0.tar.xz">kde-l10n-nl-4.13.0</a></td>
   <td align="right">13MB</td>
   <td><tt>da62716e87e9de7946c198e85aff3250dde6e28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-nn-4.13.0.tar.xz">kde-l10n-nn-4.13.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f40326677e2d74636e3dc1364633756735907270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-pa-4.13.0.tar.xz">kde-l10n-pa-4.13.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d42b3c2d1700ec8c47fd1ef4473d29f58fa79dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-pl-4.13.0.tar.xz">kde-l10n-pl-4.13.0</a></td>
   <td align="right">16MB</td>
   <td><tt>e2f9ad54032c8d029d2c81567c87893ee44d330a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-pt-4.13.0.tar.xz">kde-l10n-pt-4.13.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>92b1bedfd2d4c5e503d2700cc9525bc509bd62f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-pt_BR-4.13.0.tar.xz">kde-l10n-pt_BR-4.13.0</a></td>
   <td align="right">23MB</td>
   <td><tt>b01966494775812297f5b35aa0e0cc9c7f3878db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ro-4.13.0.tar.xz">kde-l10n-ro-4.13.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>17379fff9c480d9f8ff119f9f349428d3cbff929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ru-4.13.0.tar.xz">kde-l10n-ru-4.13.0</a></td>
   <td align="right">22MB</td>
   <td><tt>47387d9f304187e38edf14261561c7c693d41c02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-sk-4.13.0.tar.xz">kde-l10n-sk-4.13.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>9310787c160b102ef69316a4ec805f132ad8f1a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-sl-4.13.0.tar.xz">kde-l10n-sl-4.13.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b364b8dee26aad497e233c7dbd9c2d3e62865f34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-sr-4.13.0.tar.xz">kde-l10n-sr-4.13.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>86d35b6094fd230c2db4578ec84cf58d7ef82553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-sv-4.13.0.tar.xz">kde-l10n-sv-4.13.0</a></td>
   <td align="right">13MB</td>
   <td><tt>203515821e9827b11c690579b409eec1dbfea515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-tr-4.13.0.tar.xz">kde-l10n-tr-4.13.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>cf6f23cb83e12250e22ed9297170c2407fac9660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-ug-4.13.0.tar.xz">kde-l10n-ug-4.13.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a5ca1c24300a9ff9e2ece116aa61332671301a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-uk-4.13.0.tar.xz">kde-l10n-uk-4.13.0</a></td>
   <td align="right">24MB</td>
   <td><tt>ddb3c9c46e438b6052fa18d3e17c59b23186c55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-vi-4.13.0.tar.xz">kde-l10n-vi-4.13.0</a></td>
   <td align="right">927kB</td>
   <td><tt>3fbefda05a1810408eacc7128963edf3adef54ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-wa-4.13.0.tar.xz">kde-l10n-wa-4.13.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3a9ad6c916b2fb4fa25b7faa587cf700a87264e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-zh_CN-4.13.0.tar.xz">kde-l10n-zh_CN-4.13.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>cad85858e6f688480f8418dabf09c45f0821c676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.13.0/src/kde-l10n/kde-l10n-zh_TW-4.13.0.tar.xz">kde-l10n-zh_TW-4.13.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7bed1a54fb84310fb00be87839b3b83a8a685fd0</tt></td>
</tr>

</table>
