<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-18.04.3.tar.xz">akonadi-18.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a36110b0e5837407e4828437bca6b94703d624b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-calendar-18.04.3.tar.xz">akonadi-calendar-18.04.3</a></td>
   <td align="right">328kB</td>
   <td><tt>07f3867bac8c65e82ed731ce04c0e77e6f7c66ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-calendar-tools-18.04.3.tar.xz">akonadi-calendar-tools-18.04.3</a></td>
   <td align="right">215kB</td>
   <td><tt>fc49c1fffc978281cf54327ff811ab4a412c953d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadiconsole-18.04.3.tar.xz">akonadiconsole-18.04.3</a></td>
   <td align="right">181kB</td>
   <td><tt>8871851b6f8ce2698ced5c4dfa4ea424b8b861d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-contacts-18.04.3.tar.xz">akonadi-contacts-18.04.3</a></td>
   <td align="right">383kB</td>
   <td><tt>a5bf0d275c69d80deed62ba52045875c951da3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-import-wizard-18.04.3.tar.xz">akonadi-import-wizard-18.04.3</a></td>
   <td align="right">426kB</td>
   <td><tt>240b489306d0f838669950e185545c47d997b8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-mime-18.04.3.tar.xz">akonadi-mime-18.04.3</a></td>
   <td align="right">134kB</td>
   <td><tt>49c364a5e4a82563ca5e873d1c5584c374f65399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-notes-18.04.3.tar.xz">akonadi-notes-18.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>7ec02f970709c3bca51c277fccac7b750c5c4002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akonadi-search-18.04.3.tar.xz">akonadi-search-18.04.3</a></td>
   <td align="right">80kB</td>
   <td><tt>c02b89b63c8a532b116ff795a15297223ca867c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/akregator-18.04.3.tar.xz">akregator-18.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7459131c722ab7d3648b7e1ab5269e13d6051455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/analitza-18.04.3.tar.xz">analitza-18.04.3</a></td>
   <td align="right">323kB</td>
   <td><tt>bc5b16d9a95ad4e95afb2f6e337d332ccf68d169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ark-18.04.3.tar.xz">ark-18.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>28b7a044470e70ed885e0a1c7208987a83436256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/artikulate-18.04.3.tar.xz">artikulate-18.04.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>1db9f424a15073ccb61d1552a3b265a687b63a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/audiocd-kio-18.04.3.tar.xz">audiocd-kio-18.04.3</a></td>
   <td align="right">242kB</td>
   <td><tt>06894ba1592d084e6e2dda5e78371a8fee91c152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/baloo-widgets-18.04.3.tar.xz">baloo-widgets-18.04.3</a></td>
   <td align="right">239kB</td>
   <td><tt>e1aeb8460a1878e515713ac095f0d914349b02c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/blinken-18.04.3.tar.xz">blinken-18.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6a021c5f10cefe2275b19e6e9ee298ee2d230a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/bomber-18.04.3.tar.xz">bomber-18.04.3</a></td>
   <td align="right">736kB</td>
   <td><tt>93b4074a278a6865f3c751060b5f0d0c1145f98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/bovo-18.04.3.tar.xz">bovo-18.04.3</a></td>
   <td align="right">182kB</td>
   <td><tt>a714f597d3a5ce84357470d308a18e6ea367998e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/calendarsupport-18.04.3.tar.xz">calendarsupport-18.04.3</a></td>
   <td align="right">631kB</td>
   <td><tt>fbd345e61966bc9c1a9776cefbd9781430055b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/cantor-18.04.3.tar.xz">cantor-18.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e6de9bf7f1f23945cefda99807640789b031417d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/cervisia-18.04.3.tar.xz">cervisia-18.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1fba36312da48f93e5b5394bddc01487410c0f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/dolphin-18.04.3.tar.xz">dolphin-18.04.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>60b92ac491c0f0d081ee66070521041789dd345a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/dolphin-plugins-18.04.3.tar.xz">dolphin-plugins-18.04.3</a></td>
   <td align="right">186kB</td>
   <td><tt>88ad168d14c760f41c60985cb47b14d669e85ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/dragon-18.04.3.tar.xz">dragon-18.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b68a4327416ca204f502ab6942b5a6afe5af409e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/eventviews-18.04.3.tar.xz">eventviews-18.04.3</a></td>
   <td align="right">431kB</td>
   <td><tt>3e17dc3cfa8e4cb436a972060c713c115ba863c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ffmpegthumbs-18.04.3.tar.xz">ffmpegthumbs-18.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>0b37db1f82bc1ae778c75b958b28a600ee4206b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/filelight-18.04.3.tar.xz">filelight-18.04.3</a></td>
   <td align="right">643kB</td>
   <td><tt>84d9cb0670973730960083ae25b4a84364a8951e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/granatier-18.04.3.tar.xz">granatier-18.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a8f2833245081c17d8184d6199191bd07287b02e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/grantlee-editor-18.04.3.tar.xz">grantlee-editor-18.04.3</a></td>
   <td align="right">108kB</td>
   <td><tt>2355ef2caab8ac8022936f90df54f0241399d7fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/grantleetheme-18.04.3.tar.xz">grantleetheme-18.04.3</a></td>
   <td align="right">50kB</td>
   <td><tt>c6791162a0ccfc6a6f5740a0303fefa6965929fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/gwenview-18.04.3.tar.xz">gwenview-18.04.3</a></td>
   <td align="right">5.7MB</td>
   <td><tt>bf390c8a30f127bfec1088d40b373cdb6d1205bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/incidenceeditor-18.04.3.tar.xz">incidenceeditor-18.04.3</a></td>
   <td align="right">514kB</td>
   <td><tt>86d0078bc21db83aee93f059c3e50d769fd15166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/juk-18.04.3.tar.xz">juk-18.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f1b771c85304f9a523c4dba21309a820a9246797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/k3b-18.04.3.tar.xz">k3b-18.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>00f26393eb8dd7a493761960c005e1ed926286e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kaccounts-integration-18.04.3.tar.xz">kaccounts-integration-18.04.3</a></td>
   <td align="right">69kB</td>
   <td><tt>8a9b590c2887ad578079dbd53f6fa67203c066ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kaccounts-providers-18.04.3.tar.xz">kaccounts-providers-18.04.3</a></td>
   <td align="right">31kB</td>
   <td><tt>35998549188b614feacb343e3da40e628d7a984a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kaddressbook-18.04.3.tar.xz">kaddressbook-18.04.3</a></td>
   <td align="right">535kB</td>
   <td><tt>cc4f21caa25ad0b5c7af74a16b60ca3df4c2eacc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kajongg-18.04.3.tar.xz">kajongg-18.04.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>27cdbdfa41a8a50d949be2d494041952d9c8cb78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kalarm-18.04.3.tar.xz">kalarm-18.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f1e77a38504e907673c579707306572ec1bf08a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kalarmcal-18.04.3.tar.xz">kalarmcal-18.04.3</a></td>
   <td align="right">535kB</td>
   <td><tt>f4c94a144bf87685871716b7f6b14981a40a966a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kalgebra-18.04.3.tar.xz">kalgebra-18.04.3</a></td>
   <td align="right">691kB</td>
   <td><tt>23c53096dbdb79ea654cd2f5ad52c403d818136b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kalzium-18.04.3.tar.xz">kalzium-18.04.3</a></td>
   <td align="right">23MB</td>
   <td><tt>a292738f2ed986c53b038025e17b4b3d163b4fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kamera-18.04.3.tar.xz">kamera-18.04.3</a></td>
   <td align="right">95kB</td>
   <td><tt>4cf922402b86e449d8e64e2e3ef3429d06d365ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kamoso-18.04.3.tar.xz">kamoso-18.04.3</a></td>
   <td align="right">180kB</td>
   <td><tt>8e2d612c54c77a977fdc9f32ba0bdb1a7cc7634c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kanagram-18.04.3.tar.xz">kanagram-18.04.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>ec6ede454d479608f8992d455c7a5d2a9f949d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kapman-18.04.3.tar.xz">kapman-18.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d91d57933e2904f6478dade845aadf115deed8f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kapptemplate-18.04.3.tar.xz">kapptemplate-18.04.3</a></td>
   <td align="right">309kB</td>
   <td><tt>2dd8cbc559ed2c11653b681fe0bcb3212fa4534c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kate-18.04.3.tar.xz">kate-18.04.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>03ed1ab6bf8434b48ab23947e0a604d93022c6dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/katomic-18.04.3.tar.xz">katomic-18.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>302e8f06d44043304574f63273a7737d2ef2cdc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kbackup-18.04.3.tar.xz">kbackup-18.04.3</a></td>
   <td align="right">336kB</td>
   <td><tt>db2212713aa5ba28de4be673ad62719f59c75451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kblackbox-18.04.3.tar.xz">kblackbox-18.04.3</a></td>
   <td align="right">395kB</td>
   <td><tt>c7ea7822d6d2dafdc5f94da53837becbbfb66953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kblocks-18.04.3.tar.xz">kblocks-18.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e4aa595f9a71759cd8450f40d66128102313b4d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kblog-18.04.3.tar.xz">kblog-18.04.3</a></td>
   <td align="right">70kB</td>
   <td><tt>7a99ae4bdb626f41a0f63b288934ec2df045ec98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kbounce-18.04.3.tar.xz">kbounce-18.04.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0cbe3b8f768f94d181707d1274941980e60d2c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kbreakout-18.04.3.tar.xz">kbreakout-18.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>59d9833a9541cce62eff2f89b1522355447ab6ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kbruch-18.04.3.tar.xz">kbruch-18.04.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>183a3d5cb8f5b89a32146421d2bffe8ea259b31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcachegrind-18.04.3.tar.xz">kcachegrind-18.04.3</a></td>
   <td align="right">793kB</td>
   <td><tt>0eb85d373786986f539673486ff91c34482dfca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcalc-18.04.3.tar.xz">kcalc-18.04.3</a></td>
   <td align="right">353kB</td>
   <td><tt>6d463b44dd88773af611a8de199482d171873f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcalcore-18.04.3.tar.xz">kcalcore-18.04.3</a></td>
   <td align="right">245kB</td>
   <td><tt>f27394fd72a02aee0fcfd32718e1aaecd138c86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcalutils-18.04.3.tar.xz">kcalutils-18.04.3</a></td>
   <td align="right">318kB</td>
   <td><tt>fbaac79961db7e87cfc30b324eda93c6cd0eb426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcharselect-18.04.3.tar.xz">kcharselect-18.04.3</a></td>
   <td align="right">343kB</td>
   <td><tt>479608df795f5ae3a763fdcfca8bfc24127b8a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcolorchooser-18.04.3.tar.xz">kcolorchooser-18.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>b5e02ea301886c2e075f9f3f12f574f903f865eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcontacts-18.04.3.tar.xz">kcontacts-18.04.3</a></td>
   <td align="right">202kB</td>
   <td><tt>4d601f1641adbf24926b7df874c3557ee6cf518d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kcron-18.04.3.tar.xz">kcron-18.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f26c6b26bcf581bf2f9c294ac734c06f499a9c8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdav-18.04.3.tar.xz">kdav-18.04.3</a></td>
   <td align="right">47kB</td>
   <td><tt>baabe4fa15717287858fad618853280012117695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdebugsettings-18.04.3.tar.xz">kdebugsettings-18.04.3</a></td>
   <td align="right">50kB</td>
   <td><tt>91a5f2b2ff6cd1a0339f64430d2d21dceaef6799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kde-dev-scripts-18.04.3.tar.xz">kde-dev-scripts-18.04.3</a></td>
   <td align="right">368kB</td>
   <td><tt>8f739ad6c4bea7c3ae2acb609494e6fde8d8aa21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kde-dev-utils-18.04.3.tar.xz">kde-dev-utils-18.04.3</a></td>
   <td align="right">59kB</td>
   <td><tt>c6fe989b621b0b520328508be8c029dc10ed9cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdeedu-data-18.04.3.tar.xz">kdeedu-data-18.04.3</a></td>
   <td align="right">320kB</td>
   <td><tt>90571f44ca795d803b5fb95a458ee82d4239a9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdegraphics-mobipocket-18.04.3.tar.xz">kdegraphics-mobipocket-18.04.3</a></td>
   <td align="right">13kB</td>
   <td><tt>d982bc7e54f784afc161a1eddbbd627631a13aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdegraphics-thumbnailers-18.04.3.tar.xz">kdegraphics-thumbnailers-18.04.3</a></td>
   <td align="right">40kB</td>
   <td><tt>e5483ed5f5bac422bdd871b0a75365eb7bcb98e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdenetwork-filesharing-18.04.3.tar.xz">kdenetwork-filesharing-18.04.3</a></td>
   <td align="right">316kB</td>
   <td><tt>84329ceaa91595ade90fa39be9cb18a538842715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdenlive-18.04.3.tar.xz">kdenlive-18.04.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>f82fb9c0a2492c47b845d49b344a4abdb386b42f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdepim-addons-18.04.3.tar.xz">kdepim-addons-18.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f5849d589b2e01770a37ba37ada66a83d54d5aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdepim-apps-libs-18.04.3.tar.xz">kdepim-apps-libs-18.04.3</a></td>
   <td align="right">71kB</td>
   <td><tt>dc4daac52343da6149e1bdef0ce687936b53a9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdepim-runtime-18.04.3.tar.xz">kdepim-runtime-18.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8f76a16f8b9b27a3ef7027dc5ce01ee86d831c20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdesdk-kioslaves-18.04.3.tar.xz">kdesdk-kioslaves-18.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>79ae28f1d066625f3155e244de3b0e67bd0fdfe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdesdk-thumbnailers-18.04.3.tar.xz">kdesdk-thumbnailers-18.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>669c9017d2dfd0ab5cefb5491b14ec2a939b25fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdf-18.04.3.tar.xz">kdf-18.04.3</a></td>
   <td align="right">519kB</td>
   <td><tt>d1b43844c1a05801b030d46eb764891d6d1bbb70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdialog-18.04.3.tar.xz">kdialog-18.04.3</a></td>
   <td align="right">94kB</td>
   <td><tt>3b3ec4448835405a39209a46518edd92bea6a1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kdiamond-18.04.3.tar.xz">kdiamond-18.04.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>fccea1e2556d378f47c19cd8f28ab45ef62646a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/keditbookmarks-18.04.3.tar.xz">keditbookmarks-18.04.3</a></td>
   <td align="right">179kB</td>
   <td><tt>d08c1eb2df93c547ade7f1eef3ba8cb98200f177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kfind-18.04.3.tar.xz">kfind-18.04.3</a></td>
   <td align="right">205kB</td>
   <td><tt>ab2b2259f370adf07be81d6a265424c76569f28c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kfloppy-18.04.3.tar.xz">kfloppy-18.04.3</a></td>
   <td align="right">195kB</td>
   <td><tt>25c5c28c5ebf0a49b6cdc05f054a0a68effeab6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kfourinline-18.04.3.tar.xz">kfourinline-18.04.3</a></td>
   <td align="right">560kB</td>
   <td><tt>038e0adeff60a179205316f4fcf607bc6879c70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kgeography-18.04.3.tar.xz">kgeography-18.04.3</a></td>
   <td align="right">10MB</td>
   <td><tt>327e43434f57ec5426470eaa9268df179b9bd465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kget-18.04.3.tar.xz">kget-18.04.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>49df6ff875c7a47aa1af3c123963875bc143c0b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kgoldrunner-18.04.3.tar.xz">kgoldrunner-18.04.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>43b9850d3ede9db4c6cd301e03ad871f3ce2a429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kgpg-18.04.3.tar.xz">kgpg-18.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6c68e1a9b4a9bff2de93326ba3d37aee5440d89e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/khangman-18.04.3.tar.xz">khangman-18.04.3</a></td>
   <td align="right">6.9MB</td>
   <td><tt>4b812fa311b1ce56df79e57f95be5abf5965092e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/khelpcenter-18.04.3.tar.xz">khelpcenter-18.04.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>6cb1eacb61569d2c4392f9dbc248def38960aade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kidentitymanagement-18.04.3.tar.xz">kidentitymanagement-18.04.3</a></td>
   <td align="right">144kB</td>
   <td><tt>f622efd3eb6dff95135a532a3ed5b06e2aa67483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kig-18.04.3.tar.xz">kig-18.04.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>6748ef014ebcd7d7ed2743cf7d829aa10d43313e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kigo-18.04.3.tar.xz">kigo-18.04.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>159b0775fcc8a9338a46766efc3e662f46358d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/killbots-18.04.3.tar.xz">killbots-18.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c9b747c486816756190596a1d3b79f584eda3e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kimagemapeditor-18.04.3.tar.xz">kimagemapeditor-18.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>aa282a5e8c1ce0244996083371a81ea77096caa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kimap-18.04.3.tar.xz">kimap-18.04.3</a></td>
   <td align="right">116kB</td>
   <td><tt>b273b6bdf7aa98d93ab0be226c7a7590c72d87f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kio-extras-18.04.3.tar.xz">kio-extras-18.04.3</a></td>
   <td align="right">536kB</td>
   <td><tt>ac6b9c82c9be36bc8283140470933836291e1622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kiriki-18.04.3.tar.xz">kiriki-18.04.3</a></td>
   <td align="right">319kB</td>
   <td><tt>55651e57a1e73ca96059ec8295450db384c88148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kiten-18.04.3.tar.xz">kiten-18.04.3</a></td>
   <td align="right">11MB</td>
   <td><tt>16012164ee63fe1893c095cd7be9f357288abeac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kjumpingcube-18.04.3.tar.xz">kjumpingcube-18.04.3</a></td>
   <td align="right">287kB</td>
   <td><tt>826e4057c77ad25f2f44cf0430eb7baf0605b6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kldap-18.04.3.tar.xz">kldap-18.04.3</a></td>
   <td align="right">150kB</td>
   <td><tt>a0ce1fea2a7a2b3a5c6d612239da88ef3e70b541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kleopatra-18.04.3.tar.xz">kleopatra-18.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5dcea72ad2b347d4a477f4feacbf0ffddfdf2416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/klettres-18.04.3.tar.xz">klettres-18.04.3</a></td>
   <td align="right">20MB</td>
   <td><tt>0e13a2da2bc7b4c82e4314fbe78db019c7dd7bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/klickety-18.04.3.tar.xz">klickety-18.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>eb64771d6549da4a78357a8ebda4cacbdd2a7b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/klines-18.04.3.tar.xz">klines-18.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ee4fe85fe20e55990b9376be6ce7ad2b4ed097a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmag-18.04.3.tar.xz">kmag-18.04.3</a></td>
   <td align="right">575kB</td>
   <td><tt>dff31fb675659df352197125a8e24d764e42ddbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmahjongg-18.04.3.tar.xz">kmahjongg-18.04.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>fa16d87c5893cd5387204660ad6de3736ebeeba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmail-18.04.3.tar.xz">kmail-18.04.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>eec9836769d1ec31c7331746981cf37d76197f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmail-account-wizard-18.04.3.tar.xz">kmail-account-wizard-18.04.3</a></td>
   <td align="right">151kB</td>
   <td><tt>6dea3c1e537c4f702424c4bb039e5bfd9acd8d94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmailtransport-18.04.3.tar.xz">kmailtransport-18.04.3</a></td>
   <td align="right">161kB</td>
   <td><tt>5fe64b735069ba847dbb3f090d1a1198f7a36828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmbox-18.04.3.tar.xz">kmbox-18.04.3</a></td>
   <td align="right">23kB</td>
   <td><tt>0d47dae4dac6d4d17b6c30c4a8b14fb7fabdca2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmime-18.04.3.tar.xz">kmime-18.04.3</a></td>
   <td align="right">142kB</td>
   <td><tt>13ae55325715914e5dbf7989f9b9a8f817b13b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmines-18.04.3.tar.xz">kmines-18.04.3</a></td>
   <td align="right">861kB</td>
   <td><tt>5e62731e072447151e4df48ecc823de79dcdc246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmix-18.04.3.tar.xz">kmix-18.04.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d9be46cb8fae69e635bbde4076c1110e746b1cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmousetool-18.04.3.tar.xz">kmousetool-18.04.3</a></td>
   <td align="right">110kB</td>
   <td><tt>bd1dcf00f4a311a07da341cf2d55867b6eddbf6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmouth-18.04.3.tar.xz">kmouth-18.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>44d39d86f02241eb8a00a19458ad5dd51a838ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kmplot-18.04.3.tar.xz">kmplot-18.04.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>126fcaba2381e96b88dae1e222c8498c09bf02f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/knavalbattle-18.04.3.tar.xz">knavalbattle-18.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0bd660c70203ec85b45237b2321a4c2536929ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/knetwalk-18.04.3.tar.xz">knetwalk-18.04.3</a></td>
   <td align="right">958kB</td>
   <td><tt>9bf4746890b12e035bf3984ff762c9ab9a9d6d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/knotes-18.04.3.tar.xz">knotes-18.04.3</a></td>
   <td align="right">328kB</td>
   <td><tt>fc407eb9a6ae297127049fbea500d764bbf39e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kolf-18.04.3.tar.xz">kolf-18.04.3</a></td>
   <td align="right">903kB</td>
   <td><tt>27887830648d4c5d3eb3d7ff9009b7cae00477d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kollision-18.04.3.tar.xz">kollision-18.04.3</a></td>
   <td align="right">266kB</td>
   <td><tt>f1f5e0b9249a2f9af738400aab0a47b62b7a1456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kolourpaint-18.04.3.tar.xz">kolourpaint-18.04.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>b149ee10ff52b096bbe6e8da013c832e502a695c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kompare-18.04.3.tar.xz">kompare-18.04.3</a></td>
   <td align="right">695kB</td>
   <td><tt>9f753f36b340b55f0991b0094fb9d751456f8c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/konqueror-18.04.3.tar.xz">konqueror-18.04.3</a></td>
   <td align="right">7.3MB</td>
   <td><tt>0423084ce497991560741d7322d4da6a30a4a156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/konquest-18.04.3.tar.xz">konquest-18.04.3</a></td>
   <td align="right">643kB</td>
   <td><tt>35ebd849539ec0b0de86a11f54919b395a53a452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/konsole-18.04.3.tar.xz">konsole-18.04.3</a></td>
   <td align="right">1018kB</td>
   <td><tt>0b5ea0e4de7c0bca2d76e4925575452b7c24e12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kontact-18.04.3.tar.xz">kontact-18.04.3</a></td>
   <td align="right">842kB</td>
   <td><tt>163a1081b9de5d017c62db77a588dee7cca322ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kontactinterface-18.04.3.tar.xz">kontactinterface-18.04.3</a></td>
   <td align="right">32kB</td>
   <td><tt>db9b8133b2c209f5a2999960835d3abcad09f254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kopete-18.04.3.tar.xz">kopete-18.04.3</a></td>
   <td align="right">9.1MB</td>
   <td><tt>51fd2f60362a75aa437cc9799ea5d2cc33dea469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/korganizer-18.04.3.tar.xz">korganizer-18.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9e335275b09eccd35781af0c8ac87aaec65b1b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kpat-18.04.3.tar.xz">kpat-18.04.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>d4fc90aa13f2490fcb2df76ec03d80ab2cd9bbb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kpimtextedit-18.04.3.tar.xz">kpimtextedit-18.04.3</a></td>
   <td align="right">139kB</td>
   <td><tt>e14340a4fe251b22245810491373adfc2f745c51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kqtquickcharts-18.04.3.tar.xz">kqtquickcharts-18.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>af025a73c6599b9bec4b668393df0b4970c08e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/krdc-18.04.3.tar.xz">krdc-18.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>bfadd0811e51cf055392ecfb3075c0d6c6374241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kreversi-18.04.3.tar.xz">kreversi-18.04.3</a></td>
   <td align="right">892kB</td>
   <td><tt>c4fb76347367ab5fb71edb6faeacc3655396cf20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/krfb-18.04.3.tar.xz">krfb-18.04.3</a></td>
   <td align="right">972kB</td>
   <td><tt>fab82780611bb849694ed6a9c3e06ab07ad50b21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kross-interpreters-18.04.3.tar.xz">kross-interpreters-18.04.3</a></td>
   <td align="right">141kB</td>
   <td><tt>d3fcd10d0a697d177760bb91887851709829c304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kruler-18.04.3.tar.xz">kruler-18.04.3</a></td>
   <td align="right">289kB</td>
   <td><tt>8846cddac5c911978f4af72d6107026ac8e98855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kshisen-18.04.3.tar.xz">kshisen-18.04.3</a></td>
   <td align="right">694kB</td>
   <td><tt>2ad77cd19d640a2f79099fd14bf8c4dc916a12f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ksirk-18.04.3.tar.xz">ksirk-18.04.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>ac0b5f210ec39b183ca3e1cc5aaeae1b2e2af8b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ksmtp-18.04.3.tar.xz">ksmtp-18.04.3</a></td>
   <td align="right">37kB</td>
   <td><tt>7b75e6d63d4b274afc2bcb16f5478e907c60161c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ksnakeduel-18.04.3.tar.xz">ksnakeduel-18.04.3</a></td>
   <td align="right">591kB</td>
   <td><tt>c3b52c4fcf98e829fe64bcfcb97c4c7cc11a6dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kspaceduel-18.04.3.tar.xz">kspaceduel-18.04.3</a></td>
   <td align="right">596kB</td>
   <td><tt>7bde12e9be66f7b38f5f29f4719e584915bc0bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ksquares-18.04.3.tar.xz">ksquares-18.04.3</a></td>
   <td align="right">211kB</td>
   <td><tt>3d7ffd9dd5eedbf9e7107c8d0ebc481e80a3a8f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ksudoku-18.04.3.tar.xz">ksudoku-18.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>204078a3159d49360ea45cdaa6c2fab2a80160f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ksystemlog-18.04.3.tar.xz">ksystemlog-18.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c097a7591060a0765b5b0b2a1c79bc5745732e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kteatime-18.04.3.tar.xz">kteatime-18.04.3</a></td>
   <td align="right">290kB</td>
   <td><tt>77ac6a835f4275273090a95586a2ba00bd065bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktimer-18.04.3.tar.xz">ktimer-18.04.3</a></td>
   <td align="right">445kB</td>
   <td><tt>90f62916839a7aaac2d4e1981bf4d78dc3381a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktnef-18.04.3.tar.xz">ktnef-18.04.3</a></td>
   <td align="right">293kB</td>
   <td><tt>b5dc26e9f14f425a777f44e54a5b3e1d4862aff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktouch-18.04.3.tar.xz">ktouch-18.04.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>f1b1c60407e7ab0398e9a48a4c9c2e3b94423995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-accounts-kcm-18.04.3.tar.xz">ktp-accounts-kcm-18.04.3</a></td>
   <td align="right">257kB</td>
   <td><tt>80306d5f135fe004b8ad9098e34bef469c376af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-approver-18.04.3.tar.xz">ktp-approver-18.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>7a26a9c21279581802454ecc6d2a4793672106b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-auth-handler-18.04.3.tar.xz">ktp-auth-handler-18.04.3</a></td>
   <td align="right">45kB</td>
   <td><tt>5ca2744c1bb9935264314c432ebd0439b1fb0fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-call-ui-18.04.3.tar.xz">ktp-call-ui-18.04.3</a></td>
   <td align="right">95kB</td>
   <td><tt>30ca9f8134aabee1cc1bb68ad7ba312828b9198b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-common-internals-18.04.3.tar.xz">ktp-common-internals-18.04.3</a></td>
   <td align="right">433kB</td>
   <td><tt>499984b2fe13beed8d9a6bfd4d90568db0cbd0f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-contact-list-18.04.3.tar.xz">ktp-contact-list-18.04.3</a></td>
   <td align="right">143kB</td>
   <td><tt>3ffa2956f271a5bf3dcfec3742d6836e937863ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-contact-runner-18.04.3.tar.xz">ktp-contact-runner-18.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>af10d96875245079459d9bf781a4fb74af089710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-desktop-applets-18.04.3.tar.xz">ktp-desktop-applets-18.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>8d486fe66f667f6986aab27967f26f6b4334e3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-filetransfer-handler-18.04.3.tar.xz">ktp-filetransfer-handler-18.04.3</a></td>
   <td align="right">45kB</td>
   <td><tt>d3575e31521943fdeec5ca25ff08c2f485d82ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-kded-module-18.04.3.tar.xz">ktp-kded-module-18.04.3</a></td>
   <td align="right">92kB</td>
   <td><tt>83d514f82ff78ecd78749a5571ba4451f46b837b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-send-file-18.04.3.tar.xz">ktp-send-file-18.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>9865e57ef2dd01e599ad5f6158534a97f0dcb7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktp-text-ui-18.04.3.tar.xz">ktp-text-ui-18.04.3</a></td>
   <td align="right">458kB</td>
   <td><tt>51384114a7687b89b8d3282ed5580da0a58c34f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/ktuberling-18.04.3.tar.xz">ktuberling-18.04.3</a></td>
   <td align="right">31MB</td>
   <td><tt>183758188dd05faf5e5e6ee4961cd8b844da10b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kturtle-18.04.3.tar.xz">kturtle-18.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3017665d9e32cc186c12b1cfb4ccdb532ed37d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kubrick-18.04.3.tar.xz">kubrick-18.04.3</a></td>
   <td align="right">301kB</td>
   <td><tt>3a70551e4c8d448253c6b51a19ab7d4b19d271ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kwalletmanager-18.04.3.tar.xz">kwalletmanager-18.04.3</a></td>
   <td align="right">760kB</td>
   <td><tt>3672ababe8619c7c333285283d7b3dd389613122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kwave-18.04.3.tar.xz">kwave-18.04.3</a></td>
   <td align="right">5.8MB</td>
   <td><tt>343fb483181ecce64f586d2e11cabec83205b688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/kwordquiz-18.04.3.tar.xz">kwordquiz-18.04.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>a0573cf56562a7d0c2c5850e00076d6e2a8b8f5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libgravatar-18.04.3.tar.xz">libgravatar-18.04.3</a></td>
   <td align="right">29kB</td>
   <td><tt>f2ab16f9890c4a00500f96c653fd020e76161939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkcddb-18.04.3.tar.xz">libkcddb-18.04.3</a></td>
   <td align="right">416kB</td>
   <td><tt>21af805a392ef75b56bd2b713c1abb619e1066be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkcompactdisc-18.04.3.tar.xz">libkcompactdisc-18.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>e9bb862b8b7c971af0515c614b0a610d6e82b94b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkdcraw-18.04.3.tar.xz">libkdcraw-18.04.3</a></td>
   <td align="right">41kB</td>
   <td><tt>98393a84f110c3bba459005bc83faa470291b8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkdegames-18.04.3.tar.xz">libkdegames-18.04.3</a></td>
   <td align="right">5.6MB</td>
   <td><tt>8f4afb211a47434e01c6a02ad0de91361cf6f847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkdepim-18.04.3.tar.xz">libkdepim-18.04.3</a></td>
   <td align="right">333kB</td>
   <td><tt>e24236052324a1a2687f924da31010e24ce34a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkeduvocdocument-18.04.3.tar.xz">libkeduvocdocument-18.04.3</a></td>
   <td align="right">205kB</td>
   <td><tt>9a8090875ea35d323c136284e9e7ce97ae69569c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkexiv2-18.04.3.tar.xz">libkexiv2-18.04.3</a></td>
   <td align="right">63kB</td>
   <td><tt>63f1ffc922bca668855b3e65d23eb3e9f0e00478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkgapi-18.04.3.tar.xz">libkgapi-18.04.3</a></td>
   <td align="right">172kB</td>
   <td><tt>b747df63bf438cd8faadaff59e636e4c6422a1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkgeomap-18.04.3.tar.xz">libkgeomap-18.04.3</a></td>
   <td align="right">146kB</td>
   <td><tt>85f3a1761fed90aa70ef195233e8f5b22d3d1324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkipi-18.04.3.tar.xz">libkipi-18.04.3</a></td>
   <td align="right">101kB</td>
   <td><tt>b5a6b70c0885e2279a4de6b9d5ca323efe49987c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkleo-18.04.3.tar.xz">libkleo-18.04.3</a></td>
   <td align="right">311kB</td>
   <td><tt>450bc7ea38d3cee30b3df85ca8f56fb5515c8a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkmahjongg-18.04.3.tar.xz">libkmahjongg-18.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7256184dd0a0296347cf70c76a62beddd8437ac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libkomparediff2-18.04.3.tar.xz">libkomparediff2-18.04.3</a></td>
   <td align="right">172kB</td>
   <td><tt>e86a9bde8ffad7d86ede3421e0e665343d5a328a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libksane-18.04.3.tar.xz">libksane-18.04.3</a></td>
   <td align="right">134kB</td>
   <td><tt>774b41f8b58a2734758b2fafab454178d97d8c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/libksieve-18.04.3.tar.xz">libksieve-18.04.3</a></td>
   <td align="right">537kB</td>
   <td><tt>baf2460dc2204d7244295e999dca7ad2d44068ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/lokalize-18.04.3.tar.xz">lokalize-18.04.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2dd52403b456a1ac959991235fe5d09b7d452460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/lskat-18.04.3.tar.xz">lskat-18.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d5859658019e3e8c19b3d0d2d2039d5db2269a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/mailcommon-18.04.3.tar.xz">mailcommon-18.04.3</a></td>
   <td align="right">676kB</td>
   <td><tt>eb5c666b4988c23df1c0d13d91a11ba580713ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/mailimporter-18.04.3.tar.xz">mailimporter-18.04.3</a></td>
   <td align="right">528kB</td>
   <td><tt>ef77b1229b02a48de23a5c7ef15aa494287dbcac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/marble-18.04.3.tar.xz">marble-18.04.3</a></td>
   <td align="right">50MB</td>
   <td><tt>b88b663e58fd977d5defaa1abb36dd74e5d8c81c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/mbox-importer-18.04.3.tar.xz">mbox-importer-18.04.3</a></td>
   <td align="right">32kB</td>
   <td><tt>1cf3898c7171cd72c730e631a76163e20e3dd971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/messagelib-18.04.3.tar.xz">messagelib-18.04.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>398e02b1ccfffe2ed26ae595c2398233f94748a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/minuet-18.04.3.tar.xz">minuet-18.04.3</a></td>
   <td align="right">26MB</td>
   <td><tt>f1a00890086541ce78c85bcc0e2cad7403d13118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/okular-18.04.3.tar.xz">okular-18.04.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>324999f696e96c0b74b5f3ac282402d5f58ad948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/palapeli-18.04.3.tar.xz">palapeli-18.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6c885adfbdf1192a40da00f910090bcbbd0ec7f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/parley-18.04.3.tar.xz">parley-18.04.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>2eeffe1410eb066c517057678c65775a68e0d6ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/picmi-18.04.3.tar.xz">picmi-18.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3e2711ac513558bbb61f6b5cff01ec747453d342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/pimcommon-18.04.3.tar.xz">pimcommon-18.04.3</a></td>
   <td align="right">288kB</td>
   <td><tt>c0d283f03faaea567eb28ca25a9be76fb16eba00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/pim-data-exporter-18.04.3.tar.xz">pim-data-exporter-18.04.3</a></td>
   <td align="right">263kB</td>
   <td><tt>883793e8b848049c9fa8e2ece4c5c0ac5a569909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/pim-sieve-editor-18.04.3.tar.xz">pim-sieve-editor-18.04.3</a></td>
   <td align="right">436kB</td>
   <td><tt>0632cbcab3d1552270cbafbd088cc3096c4b750c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/poxml-18.04.3.tar.xz">poxml-18.04.3</a></td>
   <td align="right">42kB</td>
   <td><tt>20d4cacc540ad536e210e7ade172511f0d5726f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/print-manager-18.04.3.tar.xz">print-manager-18.04.3</a></td>
   <td align="right">233kB</td>
   <td><tt>4e72c36135f000cfba1928ef5b9d2bf418dc0f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/rocs-18.04.3.tar.xz">rocs-18.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7287c1f00b88e487199acc86b9f6bd019630eeac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/signon-kwallet-extension-18.04.3.tar.xz">signon-kwallet-extension-18.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>e4f0087fe7086ae31d67c18831ea9a4190d77f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/spectacle-18.04.3.tar.xz">spectacle-18.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>58e2c3f122e9dd05f8b3b6fb6fd9e76228758556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/step-18.04.3.tar.xz">step-18.04.3</a></td>
   <td align="right">842kB</td>
   <td><tt>15bda4789913b7aa2c809a5c506be649bdc9d1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/svgpart-18.04.3.tar.xz">svgpart-18.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>f8a0ba1ea636a75bb371ecd5378a3ef2244a26a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/sweeper-18.04.3.tar.xz">sweeper-18.04.3</a></td>
   <td align="right">360kB</td>
   <td><tt>caad715ec8394a483418e147eab78560fdf091ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/syndication-18.04.3.tar.xz">syndication-18.04.3</a></td>
   <td align="right">156kB</td>
   <td><tt>6c8487e647ced69f87eae362ee330bdd17f56d1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/umbrello-18.04.3.tar.xz">umbrello-18.04.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>8c1211384608e5020590f17f88132837d0fcc094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.3/src/zeroconf-ioslave-18.04.3.tar.xz">zeroconf-ioslave-18.04.3</a></td>
   <td align="right">38kB</td>
   <td><tt>7014e4a76c2d9877babab807a80b1dc42ee325b1</tt></td>
</tr>

</table>
