<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/akonadi-15.11.80.tar.xz">akonadi-15.11.80</a></td>
   <td align="right">280kB</td>
   <td><tt>e3ce1d7dc4a1380e316ae21921ea6ed0081d62a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/akonadi-calendar-15.11.80.tar.xz">akonadi-calendar-15.11.80</a></td>
   <td align="right">112kB</td>
   <td><tt>c618767f462c7930689363a5c7119375e7307615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/akonadi-search-15.11.80.tar.xz">akonadi-search-15.11.80</a></td>
   <td align="right">68kB</td>
   <td><tt>cd8338799d68f7830b27e901b0e73404e8038180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/analitza-15.11.80.tar.xz">analitza-15.11.80</a></td>
   <td align="right">227kB</td>
   <td><tt>f64ccb2e98d8f615c4e642c6ae8acb4e9b26cb6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ark-15.11.80.tar.xz">ark-15.11.80</a></td>
   <td align="right">246kB</td>
   <td><tt>9b8396b0276be4850303c5639a823170412fe843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/artikulate-15.11.80.tar.xz">artikulate-15.11.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>8348a2fc3f3bb7c7b2fae8d4fcafa3c7562e1eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/audiocd-kio-15.11.80.tar.xz">audiocd-kio-15.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>962b0d232617ce199c6cbba050435bfef7b980e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/baloo-widgets-15.11.80.tar.xz">baloo-widgets-15.11.80</a></td>
   <td align="right">55kB</td>
   <td><tt>70e37e6ed5017f08c7da8348a430cc6eb0770e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/blinken-15.11.80.tar.xz">blinken-15.11.80</a></td>
   <td align="right">554kB</td>
   <td><tt>3070a2dcc56dc5d56058ec23de1465e3cb9d7b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/bomber-15.11.80.tar.xz">bomber-15.11.80</a></td>
   <td align="right">384kB</td>
   <td><tt>1063f76de6716c2084770f96a00c6fec24045b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/bovo-15.11.80.tar.xz">bovo-15.11.80</a></td>
   <td align="right">103kB</td>
   <td><tt>d8692461349e57c01cf726c909bf740eb0bbbca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/cantor-15.11.80.tar.xz">cantor-15.11.80</a></td>
   <td align="right">340kB</td>
   <td><tt>e01e883b714e7aeb8ffd9dac8e67c2d4d0ef7987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/cervisia-15.11.80.tar.xz">cervisia-15.11.80</a></td>
   <td align="right">365kB</td>
   <td><tt>9d6e9fa631895ecc80aac8ca69486f8d5b7b423c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/dolphin-15.11.80.tar.xz">dolphin-15.11.80</a></td>
   <td align="right">642kB</td>
   <td><tt>d927e0dc17b6a1e9d33642ddc91aa38a0f21a2a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/dolphin-plugins-15.11.80.tar.xz">dolphin-plugins-15.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>61159122b7b5725d7a0bbe93c425476741effdeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/dragon-15.11.80.tar.xz">dragon-15.11.80</a></td>
   <td align="right">393kB</td>
   <td><tt>6be46b83b8fd6c750514ba531184dbc29acf720c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ffmpegthumbs-15.11.80.tar.xz">ffmpegthumbs-15.11.80</a></td>
   <td align="right">19kB</td>
   <td><tt>17069104a93f784053665225003977cf032adaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/filelight-15.11.80.tar.xz">filelight-15.11.80</a></td>
   <td align="right">280kB</td>
   <td><tt>b31a7db822e248ec5673f5faf44faae08b7de210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/gpgmepp-15.11.80.tar.xz">gpgmepp-15.11.80</a></td>
   <td align="right">66kB</td>
   <td><tt>118856cb763b4db7338aa7e9eb7ae7ca6fffec82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/granatier-15.11.80.tar.xz">granatier-15.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4fbbee2310df0f900f41d20d4b10a091ded3ab99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/gwenview-15.11.80.tar.xz">gwenview-15.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>7907db031358c9825cadfb3fa4681874a087484a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/jovie-15.11.80.tar.xz">jovie-15.11.80</a></td>
   <td align="right">383kB</td>
   <td><tt>b1c9a450db2a8ad45fe72e1ab3f5588371caef6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/juk-15.11.80.tar.xz">juk-15.11.80</a></td>
   <td align="right">434kB</td>
   <td><tt>97d808880c129fc7278a2d4e0f64236bcfb70427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kaccessible-15.11.80.tar.xz">kaccessible-15.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>18fc24232da9c280f17c28cfe86dc8a1a23bb0ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kaccounts-integration-15.11.80.tar.xz">kaccounts-integration-15.11.80</a></td>
   <td align="right">44kB</td>
   <td><tt>5371273bd309f3cb5145837a7b804caeef8a2f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kaccounts-providers-15.11.80.tar.xz">kaccounts-providers-15.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>c26e76408d8f3d6bbb051a83cbdea7bc168f1b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kajongg-15.11.80.tar.xz">kajongg-15.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e407b6168073b77fd1175102d3a341ea7302bd08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kalarmcal-15.11.80.tar.xz">kalarmcal-15.11.80</a></td>
   <td align="right">85kB</td>
   <td><tt>353bda8723627bf5fc583ed03533fead02bbbac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kalgebra-15.11.80.tar.xz">kalgebra-15.11.80</a></td>
   <td align="right">250kB</td>
   <td><tt>2e5ca5de263986b663871c8b656862dc6dc5924f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kalzium-15.11.80.tar.xz">kalzium-15.11.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>fc18772de2509efa706c28fc8b4446aab7b9920a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kamera-15.11.80.tar.xz">kamera-15.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>1a5d8f53018936096590e6ffac96e6f13bac8ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kanagram-15.11.80.tar.xz">kanagram-15.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>c2611004e3082daf8fcb736ea49b7f0d571e46a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kapman-15.11.80.tar.xz">kapman-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7bc81ef65eb2c2131270b15c2ac43b741e954387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kapptemplate-15.11.80.tar.xz">kapptemplate-15.11.80</a></td>
   <td align="right">672kB</td>
   <td><tt>9598e1c92c14d5af837085f792523e6e2eda4b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kate-15.11.80.tar.xz">kate-15.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dbbb4bbb3cb05c443670ef572975101cdd57e6e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/katomic-15.11.80.tar.xz">katomic-15.11.80</a></td>
   <td align="right">646kB</td>
   <td><tt>b4127b05a6ec8c99695dc9bb83877f9f32fa84ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kblackbox-15.11.80.tar.xz">kblackbox-15.11.80</a></td>
   <td align="right">255kB</td>
   <td><tt>1423907c1415cb504d3746aa9ff3daa57054042b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kblocks-15.11.80.tar.xz">kblocks-15.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c83071d403621e145f13923c007bdab477b403b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kblog-15.11.80.tar.xz">kblog-15.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>9053a17591b11ebe7f46ded3fa61c5acf5d58e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kbounce-15.11.80.tar.xz">kbounce-15.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3e2e43e7b712b5f92f711ac2e6b5eac455f9f51c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kbreakout-15.11.80.tar.xz">kbreakout-15.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f57a31ffb63533f9ff3f1d9fdad0b71c133e674f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kbruch-15.11.80.tar.xz">kbruch-15.11.80</a></td>
   <td align="right">883kB</td>
   <td><tt>d47013f71a260ab9bf6464f4a66f58b7c3db5998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcachegrind-15.11.80.tar.xz">kcachegrind-15.11.80</a></td>
   <td align="right">232kB</td>
   <td><tt>3b3782492bec88bf344b80017dbc6fe148921fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcalc-15.11.80.tar.xz">kcalc-15.11.80</a></td>
   <td align="right">81kB</td>
   <td><tt>182dae00ebfae36b3b0f2b519f8cd5b4b9ed0e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcalcore-15.11.80.tar.xz">kcalcore-15.11.80</a></td>
   <td align="right">285kB</td>
   <td><tt>f58191ca53485afee5ebb8471eb8c54d0d04215e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcalutils-15.11.80.tar.xz">kcalutils-15.11.80</a></td>
   <td align="right">68kB</td>
   <td><tt>45dca9e2205ed590c34eecf93c4a6082f5872d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcharselect-15.11.80.tar.xz">kcharselect-15.11.80</a></td>
   <td align="right">70kB</td>
   <td><tt>393629dcd92d0b44e43547661904c7b1d1320db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcolorchooser-15.11.80.tar.xz">kcolorchooser-15.11.80</a></td>
   <td align="right">4kB</td>
   <td><tt>20fce5915f0e83be32d94c258327657f65337e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcontacts-15.11.80.tar.xz">kcontacts-15.11.80</a></td>
   <td align="right">132kB</td>
   <td><tt>e15ac3efb18546877b0e7486a48e383307e82c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kcron-15.11.80.tar.xz">kcron-15.11.80</a></td>
   <td align="right">136kB</td>
   <td><tt>70bb82e7ce34fe4b1a012fc0bb985818a36da57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-baseapps-15.11.80.tar.xz">kde-baseapps-15.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8e9b65943624ff3996f62add84e1d712537bfc37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdebugsettings-15.11.80.tar.xz">kdebugsettings-15.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>f79d6829198ac6ec9a2802d331fb86d29c36184e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-dev-scripts-15.11.80.tar.xz">kde-dev-scripts-15.11.80</a></td>
   <td align="right">301kB</td>
   <td><tt>63b0b35749521ba42d30bc47d01cc9b108389241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-dev-utils-15.11.80.tar.xz">kde-dev-utils-15.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>eca2a9baf8a2e135893fca408bbec33811c1d63e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdeedu-data-15.11.80.tar.xz">kdeedu-data-15.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>1e59b79651f6905e9c1db31fd6852dcd1cbbb2ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdegraphics-mobipocket-15.11.80.tar.xz">kdegraphics-mobipocket-15.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>d4236b64b8c49b477332e65979ec6a6baa2a6209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdegraphics-strigi-analyzer-15.11.80.tar.xz">kdegraphics-strigi-analyzer-15.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>560b7f366251868f32edd9f8c1093c6d7e7b0cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdegraphics-thumbnailers-15.11.80.tar.xz">kdegraphics-thumbnailers-15.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>6339293d2c8e926208cf363bc927a9ef01abc508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdenetwork-filesharing-15.11.80.tar.xz">kdenetwork-filesharing-15.11.80</a></td>
   <td align="right">27kB</td>
   <td><tt>54f50ae516eb30cad567c5e1eb4439fded7ab7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdenetwork-strigi-analyzers-15.11.80.tar.xz">kdenetwork-strigi-analyzers-15.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>8c8320acd36efed70bb77d53a532bd273ab1cf01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdenlive-15.11.80.tar.xz">kdenlive-15.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>daecafb71767227280ae70633313fd4784d6463f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdepim-15.11.80.tar.xz">kdepim-15.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>2a84737776334aacb8443887c2f97d5cf58ed961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdepimlibs-15.11.80.tar.xz">kdepimlibs-15.11.80</a></td>
   <td align="right">992kB</td>
   <td><tt>128c3defea25c21ceb2739dae67c250a45a6a1f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdepim-runtime-15.11.80.tar.xz">kdepim-runtime-15.11.80</a></td>
   <td align="right">685kB</td>
   <td><tt>9f74f47d66989fc7900581205f8cb3304da451aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-runtime-15.11.80.tar.xz">kde-runtime-15.11.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>1f6d558f05a5b0d00552b42befe207d08a947f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdesdk-kioslaves-15.11.80.tar.xz">kdesdk-kioslaves-15.11.80</a></td>
   <td align="right">353kB</td>
   <td><tt>d36e71097fcbb8502f9110d7f1ba6f927cabbd79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdesdk-strigi-analyzers-15.11.80.tar.xz">kdesdk-strigi-analyzers-15.11.80</a></td>
   <td align="right">17kB</td>
   <td><tt>f2f39aae0ec5c65f12c9e83ef6f472d8bf15e171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdesdk-thumbnailers-15.11.80.tar.xz">kdesdk-thumbnailers-15.11.80</a></td>
   <td align="right">11kB</td>
   <td><tt>5c9a5ce3757977f14d07a906509d1828b58e317e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdewebdev-15.11.80.tar.xz">kdewebdev-15.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1f8f78a99d761798e8383e542609ac1596194ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdf-15.11.80.tar.xz">kdf-15.11.80</a></td>
   <td align="right">145kB</td>
   <td><tt>be3b0b1bae03716e3c9f604f8b2bee5350be3c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kdiamond-15.11.80.tar.xz">kdiamond-15.11.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>1b416bfed3a1cdf29142ca70b34ae3a99a34dfb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kfloppy-15.11.80.tar.xz">kfloppy-15.11.80</a></td>
   <td align="right">52kB</td>
   <td><tt>3a2d6c4685824498ce3d90a589a7c1e1558e58ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kfourinline-15.11.80.tar.xz">kfourinline-15.11.80</a></td>
   <td align="right">274kB</td>
   <td><tt>268730657bafcbfdea89aabf892543d15b3f9367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kgeography-15.11.80.tar.xz">kgeography-15.11.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>c845dbf757791795745a3cb044e12d029a2f5bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kget-15.11.80.tar.xz">kget-15.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5c28c222bdecd2d026839e37d833d2b43de395c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kgoldrunner-15.11.80.tar.xz">kgoldrunner-15.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0f3385daa9016d78cf6b24997026f2f965bb42cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kgpg-15.11.80.tar.xz">kgpg-15.11.80</a></td>
   <td align="right">791kB</td>
   <td><tt>2e09f75a01091281ffd482a9de077978b8671055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/khangman-15.11.80.tar.xz">khangman-15.11.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b0a2e2dbaf7e1d559fc918028d9bf7471c48e488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kholidays-15.11.80.tar.xz">kholidays-15.11.80</a></td>
   <td align="right">170kB</td>
   <td><tt>31bf50c6c922d63c0730c95f70a328f8db591a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kidentitymanagement-15.11.80.tar.xz">kidentitymanagement-15.11.80</a></td>
   <td align="right">35kB</td>
   <td><tt>3b687f3e4187634f9286d6686e518272f39b3b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kig-15.11.80.tar.xz">kig-15.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0f72f8b0fabbed65af6e03c0f0016a25944f6d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kigo-15.11.80.tar.xz">kigo-15.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dfe2bfd5a817a0796b7d7195c0b4449a8f071e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/killbots-15.11.80.tar.xz">killbots-15.11.80</a></td>
   <td align="right">941kB</td>
   <td><tt>d3a14fdbfc93878296ac772ac98f44e611a62ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kimap-15.11.80.tar.xz">kimap-15.11.80</a></td>
   <td align="right">87kB</td>
   <td><tt>6c4a9a6108b0d1797cb5b3af48b7da7d9984d565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kio-extras-15.11.80.tar.xz">kio-extras-15.11.80</a></td>
   <td align="right">260kB</td>
   <td><tt>011792aab029c2b3d40aa52b43a748b3857914b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kiriki-15.11.80.tar.xz">kiriki-15.11.80</a></td>
   <td align="right">117kB</td>
   <td><tt>880c80c242d744749ecfff1913940260154a23ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kiten-15.11.80.tar.xz">kiten-15.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>23e1c06595a495acaf5404ab1dd64adad3e6ac7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kjumpingcube-15.11.80.tar.xz">kjumpingcube-15.11.80</a></td>
   <td align="right">161kB</td>
   <td><tt>ec817a068d648140364dae09a2390853dafe5085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kldap-15.11.80.tar.xz">kldap-15.11.80</a></td>
   <td align="right">52kB</td>
   <td><tt>a3c63b715162aeb287b16c26bf7ee07056ae33b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/klettres-15.11.80.tar.xz">klettres-15.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>82ddeca1d73efb5b3942b2e00d61989e6e5c9701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/klickety-15.11.80.tar.xz">klickety-15.11.80</a></td>
   <td align="right">768kB</td>
   <td><tt>33fdef45b1f3f7fa063bd260168192c9d14b5b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/klines-15.11.80.tar.xz">klines-15.11.80</a></td>
   <td align="right">928kB</td>
   <td><tt>c8e4ab63fc2ee7f95c0b43403bb842aa1ec87f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmag-15.11.80.tar.xz">kmag-15.11.80</a></td>
   <td align="right">84kB</td>
   <td><tt>261e9a5183c91fc77156d874b5251e4cbd6b6112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmahjongg-15.11.80.tar.xz">kmahjongg-15.11.80</a></td>
   <td align="right">984kB</td>
   <td><tt>d872cfe9841d839fc21e054b48877fd4253e478e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmailtransport-15.11.80.tar.xz">kmailtransport-15.11.80</a></td>
   <td align="right">63kB</td>
   <td><tt>9e7756266f276d6852b5c7d5af737863c14603d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmbox-15.11.80.tar.xz">kmbox-15.11.80</a></td>
   <td align="right">23kB</td>
   <td><tt>45012749794232b82d0661171f4bebcde224c64b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmime-15.11.80.tar.xz">kmime-15.11.80</a></td>
   <td align="right">119kB</td>
   <td><tt>f96c0841ab8a6c28a34b2379f3b0a2379dabb809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmines-15.11.80.tar.xz">kmines-15.11.80</a></td>
   <td align="right">609kB</td>
   <td><tt>ce67db1edbb98e3a79a114ef0ac6d76e5b79f481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmix-15.11.80.tar.xz">kmix-15.11.80</a></td>
   <td align="right">380kB</td>
   <td><tt>befa7f6e98b8937de6ff6d672ba6143339fd02c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmousetool-15.11.80.tar.xz">kmousetool-15.11.80</a></td>
   <td align="right">34kB</td>
   <td><tt>1b083d9c7156d526b6fdedd8667cf9d2075c5306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmouth-15.11.80.tar.xz">kmouth-15.11.80</a></td>
   <td align="right">270kB</td>
   <td><tt>478fdc11d5a5dae8603dc4bc25063ef7ab9b5e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kmplot-15.11.80.tar.xz">kmplot-15.11.80</a></td>
   <td align="right">647kB</td>
   <td><tt>21e5f5a97fcf6fc2850f58e305895d979060807a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/knavalbattle-15.11.80.tar.xz">knavalbattle-15.11.80</a></td>
   <td align="right">888kB</td>
   <td><tt>f0043dc2c7c4fe086cb72ea1c5bc92ca8d787567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/knetwalk-15.11.80.tar.xz">knetwalk-15.11.80</a></td>
   <td align="right">765kB</td>
   <td><tt>b6c7a5ad52e2ff53ab0a66d14ad229b71b5962e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kolf-15.11.80.tar.xz">kolf-15.11.80</a></td>
   <td align="right">750kB</td>
   <td><tt>f51d0bfcb02d93b6493cf175231182a3748c1301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kollision-15.11.80.tar.xz">kollision-15.11.80</a></td>
   <td align="right">204kB</td>
   <td><tt>431a9b0ac06d40891b936aca78d9092d55be38f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kolourpaint-15.11.80.tar.xz">kolourpaint-15.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1ca57732af1213d0f5f937815000d771f006a565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kompare-15.11.80.tar.xz">kompare-15.11.80</a></td>
   <td align="right">336kB</td>
   <td><tt>4aa46b268ecbfb94c4aec5d7c2a4ad54b58f7021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/konquest-15.11.80.tar.xz">konquest-15.11.80</a></td>
   <td align="right">396kB</td>
   <td><tt>1decbb2ca10af1a8a4aa33a4b0a3913860ed1a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/konsole-15.11.80.tar.xz">konsole-15.11.80</a></td>
   <td align="right">448kB</td>
   <td><tt>ce1cf82eef10272c83ba04592e18b3bdbd41da7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kontactinterface-15.11.80.tar.xz">kontactinterface-15.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>70cd1ee0e2bfcfa19cc209e3ccac999d2a5c5b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kopete-15.11.80.tar.xz">kopete-15.11.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>56a62d23687d66fe1519ee480a8f9b62c7bf883c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kpat-15.11.80.tar.xz">kpat-15.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>cb13fa41f3a0e6b7892df247fbb3a4c02d9e7a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kpimtextedit-15.11.80.tar.xz">kpimtextedit-15.11.80</a></td>
   <td align="right">75kB</td>
   <td><tt>0fd2e50c4afde39234b3a71cdb07de10869821a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kppp-15.11.80.tar.xz">kppp-15.11.80</a></td>
   <td align="right">683kB</td>
   <td><tt>f85ff67ac78dec5672e255a268a3ef66aa7e4a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kqtquickcharts-15.11.80.tar.xz">kqtquickcharts-15.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>7c864d9890eaf36a11f7385c80c89e1e8c5066c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/krdc-15.11.80.tar.xz">krdc-15.11.80</a></td>
   <td align="right">389kB</td>
   <td><tt>7df1effd429760796d6781371e156aea4506a71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kremotecontrol-15.11.80.tar.xz">kremotecontrol-15.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e18caeb220ced8a97c2d2d669847e1a2bc039086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kreversi-15.11.80.tar.xz">kreversi-15.11.80</a></td>
   <td align="right">464kB</td>
   <td><tt>08876563231d76de03d5ebf85f39168446ab9bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/krfb-15.11.80.tar.xz">krfb-15.11.80</a></td>
   <td align="right">317kB</td>
   <td><tt>68c2f3be5edb3c8fdbbad854b2a9c25330c0f59d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kross-interpreters-15.11.80.tar.xz">kross-interpreters-15.11.80</a></td>
   <td align="right">129kB</td>
   <td><tt>6e3945b8bd4a1d4702a75c23eed2544dc3af13d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kruler-15.11.80.tar.xz">kruler-15.11.80</a></td>
   <td align="right">120kB</td>
   <td><tt>3c8364878872a846addb658fbf53b70f0c729c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ksaneplugin-15.11.80.tar.xz">ksaneplugin-15.11.80</a></td>
   <td align="right">12kB</td>
   <td><tt>67d30cc0b68d5f150aad65df80403a0b40f61dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kscd-15.11.80.tar.xz">kscd-15.11.80</a></td>
   <td align="right">90kB</td>
   <td><tt>80045857941bf4f91122668a0871078723069e57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kshisen-15.11.80.tar.xz">kshisen-15.11.80</a></td>
   <td align="right">135kB</td>
   <td><tt>cdf9e7112d07d337322feba5cf1cc7c0adac1d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ksirk-15.11.80.tar.xz">ksirk-15.11.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>fed62d7c1a2adeb69572d2044d0a7f2e4995426a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ksnakeduel-15.11.80.tar.xz">ksnakeduel-15.11.80</a></td>
   <td align="right">290kB</td>
   <td><tt>d5199b7ab1c7ffa13bf8b16385ca099776a884f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kspaceduel-15.11.80.tar.xz">kspaceduel-15.11.80</a></td>
   <td align="right">247kB</td>
   <td><tt>ae0b78aaa627d55ad6e4293a3d7a90bec1a6762d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ksquares-15.11.80.tar.xz">ksquares-15.11.80</a></td>
   <td align="right">78kB</td>
   <td><tt>3eb3928bd97e41252c90d16a1f924d62c7d0dcdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kstars-15.11.80.tar.xz">kstars-15.11.80</a></td>
   <td align="right">16MB</td>
   <td><tt>a128f519fbfbe7b54f6423ea699561de4f6d8fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ksudoku-15.11.80.tar.xz">ksudoku-15.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2dc18db954f50a866e8fa1f4dcbe95a2c1d9574d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ksystemlog-15.11.80.tar.xz">ksystemlog-15.11.80</a></td>
   <td align="right">386kB</td>
   <td><tt>cf5960c8179b890069b5e1d063f6b20717d9f2fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kteatime-15.11.80.tar.xz">kteatime-15.11.80</a></td>
   <td align="right">102kB</td>
   <td><tt>ae886ca69f3ec96caeab00b7ff2c455d3f8ce001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktimer-15.11.80.tar.xz">ktimer-15.11.80</a></td>
   <td align="right">157kB</td>
   <td><tt>ff169fb947df2bf2ade03d00718062ba5e399024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktnef-15.11.80.tar.xz">ktnef-15.11.80</a></td>
   <td align="right">227kB</td>
   <td><tt>c1e6e565ff4ac3ee09bef7ea858304f0ad0b9f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktouch-15.11.80.tar.xz">ktouch-15.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e77c82c9b22a2d687aa4700398f651ecd523391e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-accounts-kcm-15.11.80.tar.xz">ktp-accounts-kcm-15.11.80</a></td>
   <td align="right">86kB</td>
   <td><tt>955ac6fc243a66c44d6f1d1138d0c7521fb1d25b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-approver-15.11.80.tar.xz">ktp-approver-15.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>08d7b523ff7f353acf4386599ab524e6ba8d8a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-auth-handler-15.11.80.tar.xz">ktp-auth-handler-15.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>cbf5b0d083c15d9e55bb7a8355ddb66df0899077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-common-internals-15.11.80.tar.xz">ktp-common-internals-15.11.80</a></td>
   <td align="right">308kB</td>
   <td><tt>ad3e5c2b854ace76f30d5739af8b7fc15996165a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-contact-list-15.11.80.tar.xz">ktp-contact-list-15.11.80</a></td>
   <td align="right">47kB</td>
   <td><tt>94cc9947289f7b946a2739a0261fb9925562b5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-contact-runner-15.11.80.tar.xz">ktp-contact-runner-15.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>9b2410494d1e1e5a000e996cadf405330519c59f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-desktop-applets-15.11.80.tar.xz">ktp-desktop-applets-15.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>1f577d84f163261a17f0e3644dbad139df88f7fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-filetransfer-handler-15.11.80.tar.xz">ktp-filetransfer-handler-15.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>cb304f6d66eb425254411fc5300e2ca3695f91ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-kded-module-15.11.80.tar.xz">ktp-kded-module-15.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>0651494c87a5f6b4969797969bbcc49658ad1f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-send-file-15.11.80.tar.xz">ktp-send-file-15.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>4e1be4715b5793ef7e73293c24c78464218f1cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktp-text-ui-15.11.80.tar.xz">ktp-text-ui-15.11.80</a></td>
   <td align="right">287kB</td>
   <td><tt>1e6d91ee316355e28f3c78da9693e5a9283376f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/ktuberling-15.11.80.tar.xz">ktuberling-15.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>8a08a030d3947a848cb1a80cfce7c2e05036477b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kturtle-15.11.80.tar.xz">kturtle-15.11.80</a></td>
   <td align="right">189kB</td>
   <td><tt>d65ea252fa51a244926fc5af2b451790d3772298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kubrick-15.11.80.tar.xz">kubrick-15.11.80</a></td>
   <td align="right">104kB</td>
   <td><tt>2f11dc1dd863dac24cf1bd09a531f3a5e3d18b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kuser-15.11.80.tar.xz">kuser-15.11.80</a></td>
   <td align="right">132kB</td>
   <td><tt>ea9a823fe5678cb7b923cd3480cc8c40877674ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kwalletmanager-15.11.80.tar.xz">kwalletmanager-15.11.80</a></td>
   <td align="right">446kB</td>
   <td><tt>dbba74bb05279be23e437c7f102d3d7960fdebb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kwordquiz-15.11.80.tar.xz">kwordquiz-15.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>040c070098431bf0b75654fc2f5325c78012853a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkcddb-15.11.80.tar.xz">libkcddb-15.11.80</a></td>
   <td align="right">154kB</td>
   <td><tt>8bb8704532caced5122f727295a5ed6cee7e3321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkcompactdisc-15.11.80.tar.xz">libkcompactdisc-15.11.80</a></td>
   <td align="right">74kB</td>
   <td><tt>3bab55c70fc7aef03d084542047df9963c21e578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkdcraw-15.11.80.tar.xz">libkdcraw-15.11.80</a></td>
   <td align="right">41kB</td>
   <td><tt>c2e54cb6026572cb8c4fe64fa6e325581c502a9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkdeedu-15.11.80.tar.xz">libkdeedu-15.11.80</a></td>
   <td align="right">128kB</td>
   <td><tt>ff2bbe08c1eea1ca8b38bfa612978613116675fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkdegames-15.11.80.tar.xz">libkdegames-15.11.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>6c7f7f525c6a3f553d4817ac9a545dd4ca5d155f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkeduvocdocument-15.11.80.tar.xz">libkeduvocdocument-15.11.80</a></td>
   <td align="right">96kB</td>
   <td><tt>42d235e23fdbb8b351e7776b61da580ba70a7472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkexiv2-15.11.80.tar.xz">libkexiv2-15.11.80</a></td>
   <td align="right">63kB</td>
   <td><tt>cceee174f31cbdac4174e4f59dd6377bae4bdf07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkface-15.11.80.tar.xz">libkface-15.11.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>0d0c3935578c63b592432ac594840e00886a9115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkgeomap-15.11.80.tar.xz">libkgeomap-15.11.80</a></td>
   <td align="right">122kB</td>
   <td><tt>21400148a16b019f81107131df8428c7bc7d1437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkipi-15.11.80.tar.xz">libkipi-15.11.80</a></td>
   <td align="right">96kB</td>
   <td><tt>f3733d55668463558490b6b7b3d878a5394272fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkmahjongg-15.11.80.tar.xz">libkmahjongg-15.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>dbd1d3187ce0f61944d9d0ea2ca70391f76e56ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libkomparediff2-15.11.80.tar.xz">libkomparediff2-15.11.80</a></td>
   <td align="right">55kB</td>
   <td><tt>82401292f698b1041130ec9264f2c5a7f1390c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/libksane-15.11.80.tar.xz">libksane-15.11.80</a></td>
   <td align="right">79kB</td>
   <td><tt>e02cb3bfe269953701976e63aa2480bf8e45bf62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/lokalize-15.11.80.tar.xz">lokalize-15.11.80</a></td>
   <td align="right">932kB</td>
   <td><tt>e7d5fda3e23f43b0825bf75c2e92f5f0721d4c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/lskat-15.11.80.tar.xz">lskat-15.11.80</a></td>
   <td align="right">908kB</td>
   <td><tt>bc12bc5a53ba0c9969ff17ee7e3170354ab82817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/marble-15.11.80.tar.xz">marble-15.11.80</a></td>
   <td align="right">22MB</td>
   <td><tt>24eae230560c01b55962b1aac4811d7bdde6daef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/mplayerthumbs-15.11.80.tar.xz">mplayerthumbs-15.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>a4d85817fc56e59c0855024b875d9fdd3798a894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/okteta-15.11.80.tar.xz">okteta-15.11.80</a></td>
   <td align="right">492kB</td>
   <td><tt>722f198950fd6adaff092bdb1162d63620108bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/okular-15.11.80.tar.xz">okular-15.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6571f7a525061b7b34823d94484adea41aee96b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/palapeli-15.11.80.tar.xz">palapeli-15.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8985c45ed0e2b5322f6de86c6136efe21d0a1398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/parley-15.11.80.tar.xz">parley-15.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>419df6db0f66476fcbb1d91a76b570a669edbf68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/picmi-15.11.80.tar.xz">picmi-15.11.80</a></td>
   <td align="right">717kB</td>
   <td><tt>bea957ce52b258e63d06745b06bd0c574eec542e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/poxml-15.11.80.tar.xz">poxml-15.11.80</a></td>
   <td align="right">31kB</td>
   <td><tt>c9307d9230cd6c732d87054f5f329735313f93c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/print-manager-15.11.80.tar.xz">print-manager-15.11.80</a></td>
   <td align="right">91kB</td>
   <td><tt>7c5f842e9e51707aca8d49f8ff049a149b490272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/rocs-15.11.80.tar.xz">rocs-15.11.80</a></td>
   <td align="right">520kB</td>
   <td><tt>90e31ad782585dc1c00683751eb69a065c31cc08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/signon-kwallet-extension-15.11.80.tar.xz">signon-kwallet-extension-15.11.80</a></td>
   <td align="right">10kB</td>
   <td><tt>b253c70bae8f6e0758a840fa483d19aec36b9e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/spectacle-15.11.80.tar.xz">spectacle-15.11.80</a></td>
   <td align="right">959kB</td>
   <td><tt>1267c505acea211afa230ec3a3dd8ddb3272ee20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/step-15.11.80.tar.xz">step-15.11.80</a></td>
   <td align="right">379kB</td>
   <td><tt>f754305f959dfb9e49caf392d625b8e75ca174d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/svgpart-15.11.80.tar.xz">svgpart-15.11.80</a></td>
   <td align="right">8kB</td>
   <td><tt>9e7e8f9e1debcab36bf0d89111636cd91cb710ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/sweeper-15.11.80.tar.xz">sweeper-15.11.80</a></td>
   <td align="right">80kB</td>
   <td><tt>d050ac51c2197a8f291da698f27c114cb34e9743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/syndication-15.11.80.tar.xz">syndication-15.11.80</a></td>
   <td align="right">156kB</td>
   <td><tt>152466d247b6258afd95f963580150f97267b155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/umbrello-15.11.80.tar.xz">umbrello-15.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>703f6d4387932d414c9649d0be84cc8119b17ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/zeroconf-ioslave-15.11.80.tar.xz">zeroconf-ioslave-15.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>e839208e441c5046ddb285e6f249522a2b94f6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ar-15.11.80.tar.xz">kde-l10n-ar-15.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>18c944583ef3c94904b0babc75f6f00d6ab8dd07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-bg-15.11.80.tar.xz">kde-l10n-bg-15.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9e067e1ce9624172bf40298bdff680da95247be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-bs-15.11.80.tar.xz">kde-l10n-bs-15.11.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>292dea66983dc57654f7c872fa8f492881da073f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ca-15.11.80.tar.xz">kde-l10n-ca-15.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>cbd20b68b4657294e697d92e468140a16475d96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ca@valencia-15.11.80.tar.xz">kde-l10n-ca@valencia-15.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cdd3fba2a837f6d473c6055b71d83b8831f14353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-cs-15.11.80.tar.xz">kde-l10n-cs-15.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3e0391ce7d1035bcbde337a0dfe3685e409c4136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-da-15.11.80.tar.xz">kde-l10n-da-15.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>d48e014c9fe3a937658907a0b23a3b9f7de056da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-de-15.11.80.tar.xz">kde-l10n-de-15.11.80</a></td>
   <td align="right">34MB</td>
   <td><tt>3f041dac810af78bfef61bf5bd8da51091469737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-el-15.11.80.tar.xz">kde-l10n-el-15.11.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>46aaaab24b0a68598048e0c36cbf793f9b38a684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-en_GB-15.11.80.tar.xz">kde-l10n-en_GB-15.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d59b5f3a7748f57a094cd97c63b91327a2e7a655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-eo-15.11.80.tar.xz">kde-l10n-eo-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c130be9420c9bc3217ecaf0ce900ea7da38aa1f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-es-15.11.80.tar.xz">kde-l10n-es-15.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>07524efe713a1dcf6bc15d028e544084ece822df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-et-15.11.80.tar.xz">kde-l10n-et-15.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>221b937b5e463d9dcae34e4804680c7d876f5f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-eu-15.11.80.tar.xz">kde-l10n-eu-15.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>79d66096187fced8ebd35ac42cacf77a66584534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-fa-15.11.80.tar.xz">kde-l10n-fa-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e744a61a3b9d04e0fe5339ad24ab31f91487087c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-fi-15.11.80.tar.xz">kde-l10n-fi-15.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>031c086e6c930bdee485d845a6162d5e6cfdf2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-fr-15.11.80.tar.xz">kde-l10n-fr-15.11.80</a></td>
   <td align="right">45MB</td>
   <td><tt>0a23f435009835a55f1baaed66e6a275faf29e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ga-15.11.80.tar.xz">kde-l10n-ga-15.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5623b0238e668e7ba8374e92863a23b263119645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-gl-15.11.80.tar.xz">kde-l10n-gl-15.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5728ed1186050bb97f37caec9dabe67a5771da0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-he-15.11.80.tar.xz">kde-l10n-he-15.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5639e92b315c941a2b6ea4e6d86324e42b24ff9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-hi-15.11.80.tar.xz">kde-l10n-hi-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d295f35bff50846d75af806f83ea3cef286151de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-hr-15.11.80.tar.xz">kde-l10n-hr-15.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>761756b0ee29cda65ff6e7c3a089faea93eb6634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-hu-15.11.80.tar.xz">kde-l10n-hu-15.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>33b01a9ac8c63b12d06c3ef4287ae711f4cbd30e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ia-15.11.80.tar.xz">kde-l10n-ia-15.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>721e771605befcefe121d6e434c38ba158793032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-id-15.11.80.tar.xz">kde-l10n-id-15.11.80</a></td>
   <td align="right">545kB</td>
   <td><tt>31047276cabd8ded82419b940464156b36351a9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-is-15.11.80.tar.xz">kde-l10n-is-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>64e48eaa4d790cb2e99bf8f0f3bb5c4880b2d3fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-it-15.11.80.tar.xz">kde-l10n-it-15.11.80</a></td>
   <td align="right">8.3MB</td>
   <td><tt>409413a1b4dc42a6751cceb89410e23731634bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ja-15.11.80.tar.xz">kde-l10n-ja-15.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>275d63be6bfc56ef8a3406c4075479e649e37018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-kk-15.11.80.tar.xz">kde-l10n-kk-15.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ad41e5f03414d2670d1f45aeae573a717ad87447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-km-15.11.80.tar.xz">kde-l10n-km-15.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>10a2c1d2827bbd073135621f704c0bc5f367e8d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ko-15.11.80.tar.xz">kde-l10n-ko-15.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3a8b7d97581a904391ce84eb7347628b59205afa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-lt-15.11.80.tar.xz">kde-l10n-lt-15.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>364539f631a3fd710cb8a84ba9d7bc97b8155d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-lv-15.11.80.tar.xz">kde-l10n-lv-15.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5265344dc5924de601e671ff889e2669aed07ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-mr-15.11.80.tar.xz">kde-l10n-mr-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d2f409446481d74f75d0c576155367e86b8959f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-nb-15.11.80.tar.xz">kde-l10n-nb-15.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>64256362c540a86d46969edc5504e84ff55071b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-nds-15.11.80.tar.xz">kde-l10n-nds-15.11.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b59579d30df9c8ed3c8ba55cfba6e183d0c770d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-nl-15.11.80.tar.xz">kde-l10n-nl-15.11.80</a></td>
   <td align="right">13MB</td>
   <td><tt>5a3b70cacedb6f56e85e14f111de42f76922f58a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-nn-15.11.80.tar.xz">kde-l10n-nn-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b82af7c5366570ddb468c76094e57801c724c999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-pa-15.11.80.tar.xz">kde-l10n-pa-15.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d94f7cb52129cb9ab3a1b5d475edec0a2e9826c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-pl-15.11.80.tar.xz">kde-l10n-pl-15.11.80</a></td>
   <td align="right">18MB</td>
   <td><tt>c0ae0e4a5f433a7298b4d6ef1e207d4bfa641232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-pt-15.11.80.tar.xz">kde-l10n-pt-15.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5375cb1a7356719d86167696b7d3dc8b84290b49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-pt_BR-15.11.80.tar.xz">kde-l10n-pt_BR-15.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>298d78ca1fe29b8f9ecabbcdedb24f938b0499ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ro-15.11.80.tar.xz">kde-l10n-ro-15.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>bd70ef2df0078d16f656df7579b82e9a9a19c427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ru-15.11.80.tar.xz">kde-l10n-ru-15.11.80</a></td>
   <td align="right">22MB</td>
   <td><tt>454fad7bcd977b50176d4156288f1b842d676c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-sk-15.11.80.tar.xz">kde-l10n-sk-15.11.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>48c21613bb840992df67a5835e0529ac1a65271d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-sl-15.11.80.tar.xz">kde-l10n-sl-15.11.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>debb37114c73f4e0e3b8d437a0ad206e792e8070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-sr-15.11.80.tar.xz">kde-l10n-sr-15.11.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>41f7d1c9616bb1063136bf1f81ae1711a6c25a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-sv-15.11.80.tar.xz">kde-l10n-sv-15.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>6def57c170669655dcf1694ffa1085f3722ef694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-tr-15.11.80.tar.xz">kde-l10n-tr-15.11.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>90e56d1210aaa485ce1104e8c102a67f80bb03df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-ug-15.11.80.tar.xz">kde-l10n-ug-15.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b68681fd272440b838b3566513eb67fcc10fa0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-uk-15.11.80.tar.xz">kde-l10n-uk-15.11.80</a></td>
   <td align="right">25MB</td>
   <td><tt>5ee9aede4f60f37887c39cec2c6dbeb8ff3f0cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-wa-15.11.80.tar.xz">kde-l10n-wa-15.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c222e804ff910bc88d2136e961b690bc8bf90319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-zh_CN-15.11.80.tar.xz">kde-l10n-zh_CN-15.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>d3f23c12cf5a1003588dede211709dec99382c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.11.80/src/kde-l10n/kde-l10n-zh_TW-15.11.80.tar.xz">kde-l10n-zh_TW-15.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1bc764a19d4fa8406c405fcb69ee9e84a063c0a1</tt></td>
</tr>

</table>
