
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/attica-5.84.0.tar.xz">attica-5.84.0</a></td>
   <td align="right">65kB</td>
   <td><tt>eda5b12a1432b040a80c02476e6addebe2126893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/baloo-5.84.0.tar.xz">baloo-5.84.0</a></td>
   <td align="right">274kB</td>
   <td><tt>c56bcd38eca6a88d1779e14c00255315a8b5d6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/bluez-qt-5.84.0.tar.xz">bluez-qt-5.84.0</a></td>
   <td align="right">99kB</td>
   <td><tt>2b72f8a7e8d65eb238b5f3a3218b9fc9d31bbb2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/breeze-icons-5.84.0.tar.xz">breeze-icons-5.84.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1b37b446caa3d18de12d217667b8e123bea36a11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/extra-cmake-modules-5.84.0.tar.xz">extra-cmake-modules-5.84.0</a></td>
   <td align="right">307kB</td>
   <td><tt>13092ddd76c5428d82f48d41e8aa364c64491a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/frameworkintegration-5.84.0.tar.xz">frameworkintegration-5.84.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6ef22b2dd662fe6f21b2f4f6c3608cd4207abf05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kactivities-5.84.0.tar.xz">kactivities-5.84.0</a></td>
   <td align="right">69kB</td>
   <td><tt>4d57ce0bf4de5d156cce98473deddcb0f5fef5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kactivities-stats-5.84.0.tar.xz">kactivities-stats-5.84.0</a></td>
   <td align="right">79kB</td>
   <td><tt>2bb07dc20776481f78c96b9401be60b92d035a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kapidox-5.84.0.tar.xz">kapidox-5.84.0</a></td>
   <td align="right">190kB</td>
   <td><tt>b4f37f86503e1fb672541f25f742ff270b46c547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/karchive-5.84.0.tar.xz">karchive-5.84.0</a></td>
   <td align="right">961kB</td>
   <td><tt>cfb7e5b6028a1041bb29d03acd81a35b7f49364d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kauth-5.84.0.tar.xz">kauth-5.84.0</a></td>
   <td align="right">86kB</td>
   <td><tt>b8db4a96a0fbfa69e3700f3687a7afc036715edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kbookmarks-5.84.0.tar.xz">kbookmarks-5.84.0</a></td>
   <td align="right">123kB</td>
   <td><tt>53b9089270b095671310802f8b46a880105a612b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kcalendarcore-5.84.0.tar.xz">kcalendarcore-5.84.0</a></td>
   <td align="right">250kB</td>
   <td><tt>b6abc0f14acc55c425270742616284f1d19e6097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kcmutils-5.84.0.tar.xz">kcmutils-5.84.0</a></td>
   <td align="right">158kB</td>
   <td><tt>870556a378edcd708d69da53b7bfa8d32f7df4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kcodecs-5.84.0.tar.xz">kcodecs-5.84.0</a></td>
   <td align="right">226kB</td>
   <td><tt>d542a3ff29c3652a071a4b5080a7a6dd3c9bd37b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kcompletion-5.84.0.tar.xz">kcompletion-5.84.0</a></td>
   <td align="right">119kB</td>
   <td><tt>2a31b6c42baceec19505123df914a5732fb6b6fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kconfig-5.84.0.tar.xz">kconfig-5.84.0</a></td>
   <td align="right">263kB</td>
   <td><tt>c00377d279da30bed5bdc58a4640ee24ff9a6ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kconfigwidgets-5.84.0.tar.xz">kconfigwidgets-5.84.0</a></td>
   <td align="right">399kB</td>
   <td><tt>abb2ad8e78a6c7d3d5a2353f2d87e6bd39052334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kcontacts-5.84.0.tar.xz">kcontacts-5.84.0</a></td>
   <td align="right">531kB</td>
   <td><tt>d415f1b774a708c8e0b9804188bfa696cc7783b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kcoreaddons-5.84.0.tar.xz">kcoreaddons-5.84.0</a></td>
   <td align="right">409kB</td>
   <td><tt>34d72663e786cd430dc3af98975ce2cdc6b4ef84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kcrash-5.84.0.tar.xz">kcrash-5.84.0</a></td>
   <td align="right">26kB</td>
   <td><tt>1fed0f4d6743219653f6e742202b22250d6d8148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kdav-5.84.0.tar.xz">kdav-5.84.0</a></td>
   <td align="right">59kB</td>
   <td><tt>888a4ac7741420ab2bd50763928aff81c763abb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kdbusaddons-5.84.0.tar.xz">kdbusaddons-5.84.0</a></td>
   <td align="right">42kB</td>
   <td><tt>0ba16ce00d9367ede8dd2041e088a19c31f2d8ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kdeclarative-5.84.0.tar.xz">kdeclarative-5.84.0</a></td>
   <td align="right">182kB</td>
   <td><tt>a04c4b43037d7d8a2be67b96aa523bfccab027e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kded-5.84.0.tar.xz">kded-5.84.0</a></td>
   <td align="right">36kB</td>
   <td><tt>4211710f9e0d629744c5f5bd887c704d7b352eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kdesu-5.84.0.tar.xz">kdesu-5.84.0</a></td>
   <td align="right">51kB</td>
   <td><tt>4dfc6bd22b87df777af6c366640b7fcf2fa7d98d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kdnssd-5.84.0.tar.xz">kdnssd-5.84.0</a></td>
   <td align="right">57kB</td>
   <td><tt>4a014f38039a84e332f114aa661dbe8c097be788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kdoctools-5.84.0.tar.xz">kdoctools-5.84.0</a></td>
   <td align="right">426kB</td>
   <td><tt>c4a506c8f7e10510f30d79a63af04854c3bca236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kemoticons-5.84.0.tar.xz">kemoticons-5.84.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>26c9557e6300c19329352d3f555ce74a7d6dc9b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kfilemetadata-5.84.0.tar.xz">kfilemetadata-5.84.0</a></td>
   <td align="right">416kB</td>
   <td><tt>ed6f53c43922e93d7e7cecfcdaf4bf751ab97a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kglobalaccel-5.84.0.tar.xz">kglobalaccel-5.84.0</a></td>
   <td align="right">85kB</td>
   <td><tt>00ad55e73ad2373001e2a97d0654486932d066dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kguiaddons-5.84.0.tar.xz">kguiaddons-5.84.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6ba0f137f784df85b545742b460b78a1239f1355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kholidays-5.84.0.tar.xz">kholidays-5.84.0</a></td>
   <td align="right">223kB</td>
   <td><tt>d2f69b38d3f2ea8e006e05f7c6f42e3eca14f43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/ki18n-5.84.0.tar.xz">ki18n-5.84.0</a></td>
   <td align="right">576kB</td>
   <td><tt>d59ae7e1c39620ffd896e97886d89a35d1a0e61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kiconthemes-5.84.0.tar.xz">kiconthemes-5.84.0</a></td>
   <td align="right">217kB</td>
   <td><tt>c89b0c4d1387751cabc2d5eb6ef0f6e9fb83cc69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kidletime-5.84.0.tar.xz">kidletime-5.84.0</a></td>
   <td align="right">25kB</td>
   <td><tt>48c88636a682fda2d298f2cd36d42c0f2ef2e894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kimageformats-5.84.0.tar.xz">kimageformats-5.84.0</a></td>
   <td align="right">576kB</td>
   <td><tt>23d783a4de5837e4f5f9b383c2e870c19964886e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kinit-5.84.0.tar.xz">kinit-5.84.0</a></td>
   <td align="right">118kB</td>
   <td><tt>eb38c3bc21c40da3de25ac9547a2e020bb2fadba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kio-5.84.0.tar.xz">kio-5.84.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>f289ec771cf4323ddc9774029cbc687e9bff1a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kirigami2-5.84.0.tar.xz">kirigami2-5.84.0</a></td>
   <td align="right">311kB</td>
   <td><tt>caa0d5f2f088a33a92fdf33afb409ea97924fb39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kitemmodels-5.84.0.tar.xz">kitemmodels-5.84.0</a></td>
   <td align="right">393kB</td>
   <td><tt>7ddaa7b4e41dfc06c53b767737f7d7ee4f6ca547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kitemviews-5.84.0.tar.xz">kitemviews-5.84.0</a></td>
   <td align="right">73kB</td>
   <td><tt>b050e8e5bb3d2f2971832324abc60f0f5fd698af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kjobwidgets-5.84.0.tar.xz">kjobwidgets-5.84.0</a></td>
   <td align="right">96kB</td>
   <td><tt>6da7d8659ba33fa1773a527e1303336dd33e32f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/knewstuff-5.84.0.tar.xz">knewstuff-5.84.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6e8c362e27e0a959b14b0b06fb92af28c44ba8bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/knotifications-5.84.0.tar.xz">knotifications-5.84.0</a></td>
   <td align="right">121kB</td>
   <td><tt>7e8f56d32544c30c4353ea6668fafc2301655edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/knotifyconfig-5.84.0.tar.xz">knotifyconfig-5.84.0</a></td>
   <td align="right">82kB</td>
   <td><tt>9dab4dd84e86d8cff59d5f59d0d2dc23c3be798d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kpackage-5.84.0.tar.xz">kpackage-5.84.0</a></td>
   <td align="right">134kB</td>
   <td><tt>a6983a4098f2d15a6d903c43afeac5905928aa45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kparts-5.84.0.tar.xz">kparts-5.84.0</a></td>
   <td align="right">187kB</td>
   <td><tt>a5e0bb4756fcc7a91460eecbf1bad52172af64ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kpeople-5.84.0.tar.xz">kpeople-5.84.0</a></td>
   <td align="right">55kB</td>
   <td><tt>423e13ab5152fe33a077e66b87b76356d2bf3969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kplotting-5.84.0.tar.xz">kplotting-5.84.0</a></td>
   <td align="right">30kB</td>
   <td><tt>acf87d84c76da77118a389d735f6186a7908dae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kpty-5.84.0.tar.xz">kpty-5.84.0</a></td>
   <td align="right">54kB</td>
   <td><tt>57730fcaf121af3c32a4b73397b44fb0a343500a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kquickcharts-5.84.0.tar.xz">kquickcharts-5.84.0</a></td>
   <td align="right">103kB</td>
   <td><tt>3df6a769f6b858dc80ead302de9f07d31ab77fe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/krunner-5.84.0.tar.xz">krunner-5.84.0</a></td>
   <td align="right">75kB</td>
   <td><tt>1a6cd86935a05ca6c98bc976e0b428f96f46166e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kservice-5.84.0.tar.xz">kservice-5.84.0</a></td>
   <td align="right">257kB</td>
   <td><tt>f9e1910b44a674423da7dac8ce67ec0280f501de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/ktexteditor-5.84.0.tar.xz">ktexteditor-5.84.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0a29c94819b24aeae35a89581b5b8849c71236ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/ktextwidgets-5.84.0.tar.xz">ktextwidgets-5.84.0</a></td>
   <td align="right">318kB</td>
   <td><tt>12c0ce22badc98534ebd3bce9aa4a658b75659cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kunitconversion-5.84.0.tar.xz">kunitconversion-5.84.0</a></td>
   <td align="right">866kB</td>
   <td><tt>bbf42775676969a525bd9b9c908d66d929e8e7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kwallet-5.84.0.tar.xz">kwallet-5.84.0</a></td>
   <td align="right">293kB</td>
   <td><tt>b82aef1c4016f8bcd1c09ea116353fb77def28ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kwayland-5.84.0.tar.xz">kwayland-5.84.0</a></td>
   <td align="right">323kB</td>
   <td><tt>7bf64bde73f7f578c22b24578d969d70b34741e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kwidgetsaddons-5.84.0.tar.xz">kwidgetsaddons-5.84.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5ef54569cb1b8bd20f247c9538a8daf464fccb23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kwindowsystem-5.84.0.tar.xz">kwindowsystem-5.84.0</a></td>
   <td align="right">174kB</td>
   <td><tt>aeb1fc3b2d4a0e7bc938cdeb0e22cb4d1ccf7bed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/kxmlgui-5.84.0.tar.xz">kxmlgui-5.84.0</a></td>
   <td align="right">849kB</td>
   <td><tt>e4f3788845a0ba25073e3e592062c34a66f5ff72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/modemmanager-qt-5.84.0.tar.xz">modemmanager-qt-5.84.0</a></td>
   <td align="right">109kB</td>
   <td><tt>361f8ce2296554a9e3bcc77f3c907dd957fca626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/networkmanager-qt-5.84.0.tar.xz">networkmanager-qt-5.84.0</a></td>
   <td align="right">191kB</td>
   <td><tt>d4d9ea54cfe0423320fdf113a60a19bb6373762f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/oxygen-icons5-5.84.0.tar.xz">oxygen-icons5-5.84.0</a></td>
   <td align="right">228MB</td>
   <td><tt>b1acd1dede0de0b4f4dcc94e5a7dff3c3b165ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/plasma-framework-5.84.0.tar.xz">plasma-framework-5.84.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>cc5b38a827b3acd00883f07fe18731ccbcfbe8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/prison-5.84.0.tar.xz">prison-5.84.0</a></td>
   <td align="right">40kB</td>
   <td><tt>68178f902c1dfdac70cf2e7c48d5b782cf15a7d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/purpose-5.84.0.tar.xz">purpose-5.84.0</a></td>
   <td align="right">156kB</td>
   <td><tt>23a5a416846d432d9cac6b7c578cbd4d6eb554ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/qqc2-desktop-style-5.84.0.tar.xz">qqc2-desktop-style-5.84.0</a></td>
   <td align="right">58kB</td>
   <td><tt>722e944622e74ce6cd6f2c74cde361b2b2310ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/solid-5.84.0.tar.xz">solid-5.84.0</a></td>
   <td align="right">269kB</td>
   <td><tt>af79061a12933d012d31c288c3f8b491604bc6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/sonnet-5.84.0.tar.xz">sonnet-5.84.0</a></td>
   <td align="right">288kB</td>
   <td><tt>ea0285452a75f4d372a0294f255d9237645bd6c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/syndication-5.84.0.tar.xz">syndication-5.84.0</a></td>
   <td align="right">496kB</td>
   <td><tt>a3a249f6bbfd850af0c9aba917b53a6fe3c6919e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/syntax-highlighting-5.84.0.tar.xz">syntax-highlighting-5.84.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cc8a7088a1246bda8065434bb4b4831b556aac98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.84/threadweaver-5.84.0.tar.xz">threadweaver-5.84.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6de2943607ef4ae8e0a1ec9098a6a4f454631906</tt></td>
</tr>

</table>
