<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/arts-1.2.0.tar.bz2">arts-1.2.0</a></td>
   <td align="right">976kB</td>
   <td><tt>f17708ad3c91b0a2f0c83674f78c3e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kde-i18n-3.2.0.tar.bz2">kde-i18n-3.2.0</a></td>
   <td align="right">157MB</td>
   <td><tt>13299c38d4acb77ae4edf759b327c1ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdeaccessibility-3.2.0.tar.bz2">kdeaccessibility-3.2.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>97466b78dcee2d29505937c79919713d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdeaddons-3.2.0.tar.bz2">kdeaddons-3.2.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e61991c52aa6b76dec0790e76eb889bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdeadmin-3.2.0.tar.bz2">kdeadmin-3.2.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b24ec2e71edcd0157d84821729cae2b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdeartwork-3.2.0.tar.bz2">kdeartwork-3.2.0</a></td>
   <td align="right">16MB</td>
   <td><tt>882a798e09e9529f102599d24bb7daee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdebase-3.2.0.tar.bz2">kdebase-3.2.0</a></td>
   <td align="right">17MB</td>
   <td><tt>9d05be3ccd6cc0294d6153e5d4dfa63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdebindings-3.2.0.tar.bz2">kdebindings-3.2.0</a></td>
   <td align="right">10MB</td>
   <td><tt>b5721cec8c94bc4a3712e6c7c73934a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdeedu-3.2.0.tar.bz2">kdeedu-3.2.0</a></td>
   <td align="right">21MB</td>
   <td><tt>a0a59713a19fb01dd62b13b92f222d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdegames-3.2.0.tar.bz2">kdegames-3.2.0</a></td>
   <td align="right">9.1MB</td>
   <td><tt>30af752fbe3547a30963bf0df0380c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdegraphics-3.2.0.tar.bz2">kdegraphics-3.2.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>675dd4f557574097b911350cc47f0843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdelibs-3.2.0.tar.bz2">kdelibs-3.2.0</a></td>
   <td align="right">12MB</td>
   <td><tt>24be0d558725f4d3441fb9d580129720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdemultimedia-3.2.0.tar.bz2">kdemultimedia-3.2.0</a></td>
   <td align="right">5.1MB</td>
   <td><tt>caa8578190d032acd3c8fa996cf9585a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdenetwork-3.2.0.tar.bz2">kdenetwork-3.2.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>80d5a03ac950a7fac10bacbb122db11f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdepim-3.2.0.tar.bz2">kdepim-3.2.0</a></td>
   <td align="right">7.8MB</td>
   <td><tt>657a61e0f3d90d2afec3820e77f81306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdesdk-3.2.0.tar.bz2">kdesdk-3.2.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>170baf93150c231605bec047d49d0742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdetoys-3.2.0.tar.bz2">kdetoys-3.2.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b9fdd2b51a25501322e3dd3301760a41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdeutils-3.2.0.tar.bz2">kdeutils-3.2.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>988480b534c1fab9003f624edb87e7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/kdevelop-3.0.0.tar.bz2">kdevelop-3.0.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>fa823d9fa2444938ecafb97949500c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.2/src/quanta-3.2.0.tar.bz2">quanta-3.2.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>77f2e92edd4caf70703b7274a461ef42</tt></td>
</tr>

</table>
