    <table border="0" cellpadding="4" cellspacing="0">
      <tr valign="top">
        <th align="left">Location</th>

        <th align="left">Size</th>

        <th align="left">MD5&nbsp;Sum</th>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/arts-1.0.5a.tar.bz2">arts-1.0.5a</a></td>

        <td align="right">1001KB</td>

        <td><tt>0ad59b514e63abac237d833229e371f0</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kde-i18n-3.0.5.tar.bz2">kde-i18n-3.0.5</a></td>

        <td align="right">93MB</td>

        <td><tt>fc9d041f9c7eb23bfdb6e3ab928d8230</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdeaddons-3.0.5a.tar.bz2">kdeaddons-3.0.5a</a></td>

        <td align="right">913KB</td>

        <td><tt>bdda94e132c9bf035856108a06737a45</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdeadmin-3.0.5a.tar.bz2">kdeadmin-3.0.5a</a></td>

        <td align="right">1.3MB</td>

        <td><tt>06e38ab1b219789c4782d9fa1edb7a22</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdeartwork-3.0.5a.tar.bz2">kdeartwork-3.0.5a</a></td>

        <td align="right">11MB</td>

        <td><tt>15f1bee3d6d258615a275fa609a549f5</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdebase-3.0.5a.tar.bz2">kdebase-3.0.5a</a></td>

        <td align="right">13MB</td>

        <td><tt>16c53e754e866f112797f695ba84c3a4</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdebindings-3.0.5a.tar.bz2">kdebindings-3.0.5a</a></td>

        <td align="right">4.8MB</td>

        <td><tt>70d084a1ad42456b33871bf0ef9e8887</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdeedu-3.0.5a.tar.bz2">kdeedu-3.0.5a</a></td>

        <td align="right">8.7MB</td>

        <td><tt>005d5c3d6098e5593fdadabf94c7718a</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdegames-3.0.5a.tar.bz2">kdegames-3.0.5a</a></td>

        <td align="right">7.0MB</td>

        <td><tt>11b1b5b0634b793f95ac6afe44e32cc0</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdegraphics-3.0.5a.tar.bz2">kdegraphics-3.0.5a</a></td>

        <td align="right">2.6MB</td>

        <td><tt>cba91964c5fcebfbe1942b58d2b1d059</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdelibs-3.0.5a.tar.bz2">kdelibs-3.0.5a</a></td>

        <td align="right">7.4MB</td>

        <td><tt>a3c714c7727ddc70e7c9ea6acf5e42dc</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdemultimedia-3.0.5a.tar.bz2">kdemultimedia-3.0.5a</a></td>

        <td align="right">5.6MB</td>

        <td><tt>641d30ecca821afc74ba47e7276b654a</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdenetwork-3.0.5a.tar.bz2">kdenetwork-3.0.5a</a></td>

        <td align="right">3.7MB</td>

        <td><tt>527973059f0b880e714f8a4eae0d18e5</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdepim-3.0.5a.tar.bz2">kdepim-3.0.5a</a></td>

        <td align="right">3.1MB</td>

        <td><tt>a76899888e956ab89b11ded260860b52</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdesdk-3.0.5a.tar.bz2">kdesdk-3.0.5a</a></td>

        <td align="right">1.8MB</td>

        <td><tt>506ae3e344ed70fc56f372ca3e8e8550</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdetoys-3.0.5a.tar.bz2">kdetoys-3.0.5a</a></td>

        <td align="right">1.4MB</td>

        <td><tt>004e9dc893dfd2c7f526409b50ae9293</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5a/src/kdeutils-3.0.5a.tar.bz2">kdeutils-3.0.5a</a></td>

        <td align="right">1.5MB</td>

        <td><tt>68ee0f1259bf7173273a0e19ae06f700</tt></td>
      </tr>
    </table>

