<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/amor-15.04.3.tar.xz">amor-15.04.3</a></td>
   <td align="right">170kB</td>
   <td><tt>d10e682883aed2fa4e9f78689ce0d294f49c0a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/analitza-15.04.3.tar.xz">analitza-15.04.3</a></td>
   <td align="right">222kB</td>
   <td><tt>9746965399818ad78c39ec3afe6abaed5c717e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ark-15.04.3.tar.xz">ark-15.04.3</a></td>
   <td align="right">233kB</td>
   <td><tt>891187b1c49258ab461f1dcbfae82f0640a96f54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/artikulate-15.04.3.tar.xz">artikulate-15.04.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>757944ee8213eb4ca1bc0330d8cb57c19127d4b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/audiocd-kio-15.04.3.tar.xz">audiocd-kio-15.04.3</a></td>
   <td align="right">50kB</td>
   <td><tt>c575f4b824762f6114fff4113ceeba99816d6952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/blinken-15.04.3.tar.xz">blinken-15.04.3</a></td>
   <td align="right">553kB</td>
   <td><tt>06b2ad6aff2f702ab1285d6e5c3c39d33492adb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/bomber-15.04.3.tar.xz">bomber-15.04.3</a></td>
   <td align="right">383kB</td>
   <td><tt>38544cd42b3e198c71448ff8dec758aea5ad1bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/bovo-15.04.3.tar.xz">bovo-15.04.3</a></td>
   <td align="right">103kB</td>
   <td><tt>4cb01720d76ed9784468384213cd72c7f7f05eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/cantor-15.04.3.tar.xz">cantor-15.04.3</a></td>
   <td align="right">347kB</td>
   <td><tt>fdb9897a63561e6b3cda11dccc971bc674ea6a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/cervisia-15.04.3.tar.xz">cervisia-15.04.3</a></td>
   <td align="right">364kB</td>
   <td><tt>154f9c73f341dacbeaca0371a999a4101e65736f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/dolphin-plugins-15.04.3.tar.xz">dolphin-plugins-15.04.3</a></td>
   <td align="right">56kB</td>
   <td><tt>4c122513d26e0195b9197dd5a9a97a44863d4047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/dragon-15.04.3.tar.xz">dragon-15.04.3</a></td>
   <td align="right">391kB</td>
   <td><tt>8b0a5cac52d36296b007f541a97eadba8738569c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ffmpegthumbs-15.04.3.tar.xz">ffmpegthumbs-15.04.3</a></td>
   <td align="right">19kB</td>
   <td><tt>58d98b547ac3a45324236002a280e1fb00530df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/filelight-15.04.3.tar.xz">filelight-15.04.3</a></td>
   <td align="right">281kB</td>
   <td><tt>980959855fe90c61715c596d53496526f1e40ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/granatier-15.04.3.tar.xz">granatier-15.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a3e627828f6304a0562f641c594cf4f646a9f0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/gwenview-15.04.3.tar.xz">gwenview-15.04.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>bf236d1b6f532e06cc554a8c779ff733ace5c29e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/jovie-15.04.3.tar.xz">jovie-15.04.3</a></td>
   <td align="right">383kB</td>
   <td><tt>6e67b6ddd7bcc49769395145e9e0e379a5a9011d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/juk-15.04.3.tar.xz">juk-15.04.3</a></td>
   <td align="right">433kB</td>
   <td><tt>759ebedde25034e4deceb8079bf87ab7c187d5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kaccessible-15.04.3.tar.xz">kaccessible-15.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>52f279ade04e3b1cbb9840da8ec1b21c42ccc987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kaccounts-integration-15.04.3.tar.xz">kaccounts-integration-15.04.3</a></td>
   <td align="right">52kB</td>
   <td><tt>0c213d3152533e00685389159d83c3e0f9fde70d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kaccounts-providers-15.04.3.tar.xz">kaccounts-providers-15.04.3</a></td>
   <td align="right">11kB</td>
   <td><tt>c33a988c92620c2e387b3c791d00f6557b756b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kajongg-15.04.3.tar.xz">kajongg-15.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6f39e2de14332d7f5085163071781da528ffed01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kalgebra-15.04.3.tar.xz">kalgebra-15.04.3</a></td>
   <td align="right">263kB</td>
   <td><tt>ed09f614676e7ff08977aa7bd70ad12060e97ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kalzium-15.04.3.tar.xz">kalzium-15.04.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>8a28cf600dbafe7b70d14f7ee99c522c89a9572c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kamera-15.04.3.tar.xz">kamera-15.04.3</a></td>
   <td align="right">34kB</td>
   <td><tt>17b92e14e5c1798755a5bcfcbb60020ad3aa0b5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kanagram-15.04.3.tar.xz">kanagram-15.04.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>173b3930b13f3e9797545bf9b337064c0facb057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kapman-15.04.3.tar.xz">kapman-15.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>537d3a32e3b211da1812819dcb70ef487b58762b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kapptemplate-15.04.3.tar.xz">kapptemplate-15.04.3</a></td>
   <td align="right">688kB</td>
   <td><tt>55e1272a6c16ff14e8a7e911962eba139d79c0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kate-15.04.3.tar.xz">kate-15.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>06b8f657817230817f5f1131602be1151bc93569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/katomic-15.04.3.tar.xz">katomic-15.04.3</a></td>
   <td align="right">645kB</td>
   <td><tt>17762a7b52911e0e2382d65a38c70c1a57439ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kblackbox-15.04.3.tar.xz">kblackbox-15.04.3</a></td>
   <td align="right">254kB</td>
   <td><tt>90a81f8a57769a5c032633af2757898aa3ee326c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kblocks-15.04.3.tar.xz">kblocks-15.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>01e1b13423ac85e892b5896160039a6c4d64d562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kbounce-15.04.3.tar.xz">kbounce-15.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8b259228d5caf1af9049985f53f0339a8d14b4f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kbreakout-15.04.3.tar.xz">kbreakout-15.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b010d1c2ad9949d19ef6ce1dab6e5e32e94e3e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kbruch-15.04.3.tar.xz">kbruch-15.04.3</a></td>
   <td align="right">884kB</td>
   <td><tt>0d467e449b7161d6560dafe42b7b9e30e8ebd65b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kcachegrind-15.04.3.tar.xz">kcachegrind-15.04.3</a></td>
   <td align="right">230kB</td>
   <td><tt>393c72269ab97f5f9cf81f9ccf8589cfcecff2c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kcalc-15.04.3.tar.xz">kcalc-15.04.3</a></td>
   <td align="right">81kB</td>
   <td><tt>4bf593b1be3f91636a984f5370aa2e32f4ab6210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kcharselect-15.04.3.tar.xz">kcharselect-15.04.3</a></td>
   <td align="right">82kB</td>
   <td><tt>d906ea3b9444ba49ed9470c1d62b2d35131144b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kcolorchooser-15.04.3.tar.xz">kcolorchooser-15.04.3</a></td>
   <td align="right">4kB</td>
   <td><tt>2bcf7a6f2e5470185d28e3f1f96943e5c4b22b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kcron-15.04.3.tar.xz">kcron-15.04.3</a></td>
   <td align="right">170kB</td>
   <td><tt>97e0e4dcd286f8d097f04361ba8dc9bb4fdf8faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdeartwork-15.04.3.tar.xz">kdeartwork-15.04.3</a></td>
   <td align="right">134MB</td>
   <td><tt>ca1c7a98fa558c4ec273837545faded1ea6be1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-baseapps-15.04.3.tar.xz">kde-baseapps-15.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5f5168f3ad9d60b4dc9ba88b1d649364a0534fc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-base-artwork-15.04.3.tar.xz">kde-base-artwork-15.04.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>61452877eabcf30cf413f66e3635a1a05052c0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-dev-scripts-15.04.3.tar.xz">kde-dev-scripts-15.04.3</a></td>
   <td align="right">299kB</td>
   <td><tt>2198f819d91a78c2360a4078c5d13db375f8552a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-dev-utils-15.04.3.tar.xz">kde-dev-utils-15.04.3</a></td>
   <td align="right">50kB</td>
   <td><tt>ff3a71034112984e1dd53b7b6fb6073c9a9d7983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdeedu-data-15.04.3.tar.xz">kdeedu-data-15.04.3</a></td>
   <td align="right">94kB</td>
   <td><tt>feeb0b4e341f37dfda71dd900dc464520799ea7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdegraphics-mobipocket-15.04.3.tar.xz">kdegraphics-mobipocket-15.04.3</a></td>
   <td align="right">14kB</td>
   <td><tt>d21f7db003f1dfdde02bc98d13684e4bd5f60c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdegraphics-strigi-analyzer-15.04.3.tar.xz">kdegraphics-strigi-analyzer-15.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>c7e53ad7d757491e19cf2385e1e76ec626a47d93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdegraphics-thumbnailers-15.04.3.tar.xz">kdegraphics-thumbnailers-15.04.3</a></td>
   <td align="right">40kB</td>
   <td><tt>15727b4f3c5f16f055b0caf94b3df313bdcae2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdelibs-4.14.10.tar.xz">kdelibs-4.14.10</a></td>
   <td align="right">11MB</td>
   <td><tt>0f05d3d85d29dae45f3d7c246ae2e88ea91ab94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdenetwork-filesharing-15.04.3.tar.xz">kdenetwork-filesharing-15.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>914d92417e1c7f83c52ae04f89049ca2fba50b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdenetwork-strigi-analyzers-15.04.3.tar.xz">kdenetwork-strigi-analyzers-15.04.3</a></td>
   <td align="right">14kB</td>
   <td><tt>4abb8e836ab352a1035f01aef6d32bf1cadcce08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdenlive-15.04.3.tar.xz">kdenlive-15.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>bfbcd04f24366accf74ed9782f41914fa6445856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdepim-4.14.10.tar.xz">kdepim-4.14.10</a></td>
   <td align="right">13MB</td>
   <td><tt>6f74763dda68dbb44394e807eab9204777bddf0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdepimlibs-4.14.10.tar.xz">kdepimlibs-4.14.10</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8db2f59b8a33f4d1bbebfdff8b772d30669c9932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdepim-runtime-4.14.10.tar.xz">kdepim-runtime-4.14.10</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f5b1e44f1d10d29bad308b3fd90a48b34da7493c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-runtime-15.04.3.tar.xz">kde-runtime-15.04.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>9984b22d2706e7d3efefeefca94a9de5b53f07c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdesdk-kioslaves-15.04.3.tar.xz">kdesdk-kioslaves-15.04.3</a></td>
   <td align="right">353kB</td>
   <td><tt>9865294560562123d94ed67267ca1b8bfeaa6715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdesdk-strigi-analyzers-15.04.3.tar.xz">kdesdk-strigi-analyzers-15.04.3</a></td>
   <td align="right">17kB</td>
   <td><tt>a9018d572e44b3a3dfac7d53b88b8042ae93ebbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdesdk-thumbnailers-15.04.3.tar.xz">kdesdk-thumbnailers-15.04.3</a></td>
   <td align="right">11kB</td>
   <td><tt>1d4c217133300f4a6b731746426328ea2b35e48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-wallpapers-15.04.3.tar.xz">kde-wallpapers-15.04.3</a></td>
   <td align="right">86MB</td>
   <td><tt>1608f1d4294ffed3319c802c7d0801c878616059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdewebdev-15.04.3.tar.xz">kdewebdev-15.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>891f5402f0b67aade69593de09446b13b1587ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-workspace-4.11.21.tar.xz">kde-workspace-4.11.21</a></td>
   <td align="right">12MB</td>
   <td><tt>984e09caca204968ee8dacb8c268afbeab11e4a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdf-15.04.3.tar.xz">kdf-15.04.3</a></td>
   <td align="right">145kB</td>
   <td><tt>18c95304e32d3718959265270239f8f82bfa2af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kdiamond-15.04.3.tar.xz">kdiamond-15.04.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>5d36eee0e3b4fe95ca2e91c31236b59bde53d830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kfloppy-15.04.3.tar.xz">kfloppy-15.04.3</a></td>
   <td align="right">51kB</td>
   <td><tt>98139735fc0b74bcae092d7cf15f43ca26ca52d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kfourinline-15.04.3.tar.xz">kfourinline-15.04.3</a></td>
   <td align="right">274kB</td>
   <td><tt>ac82d65c7cf254e4d25aafacd157773d15003a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kgamma-15.04.3.tar.xz">kgamma-15.04.3</a></td>
   <td align="right">22kB</td>
   <td><tt>d88fbcd2bbf94b417e7b92b18f811c2c4c2cb889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kgeography-15.04.3.tar.xz">kgeography-15.04.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>c4fcd3240489b49738cbaee711be395001829e65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kget-15.04.3.tar.xz">kget-15.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8b8f9183ad031ac584bd8353ef8a57e5322d1070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kgoldrunner-15.04.3.tar.xz">kgoldrunner-15.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b3a93b8ea398eeaf8ede28046f61ab6b16979cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kgpg-15.04.3.tar.xz">kgpg-15.04.3</a></td>
   <td align="right">790kB</td>
   <td><tt>3f70d04980de4d401f4f48e666cc7aeaade7619f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/khangman-15.04.3.tar.xz">khangman-15.04.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>23831cf8fdc73173ffdbbeab246e5aa9f9ec2068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kig-15.04.3.tar.xz">kig-15.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7940e6efa165b22e2fd2f52b48bc30ee80d3fad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kigo-15.04.3.tar.xz">kigo-15.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>886733b986a496d4efdac57ea82489323c49b461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/killbots-15.04.3.tar.xz">killbots-15.04.3</a></td>
   <td align="right">940kB</td>
   <td><tt>45286822664969e7f8bb85d82719071cd6cdc626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kiriki-15.04.3.tar.xz">kiriki-15.04.3</a></td>
   <td align="right">115kB</td>
   <td><tt>489c24e2113eec0ceb391506c3886a11f9fbd985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kiten-15.04.3.tar.xz">kiten-15.04.3</a></td>
   <td align="right">11MB</td>
   <td><tt>0f59fc3b3a6462a65f4db141183fa8cfe7a02ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kjumpingcube-15.04.3.tar.xz">kjumpingcube-15.04.3</a></td>
   <td align="right">161kB</td>
   <td><tt>4e06e01927291c6ffce551d97ed298f82818547a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/klettres-15.04.3.tar.xz">klettres-15.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d9afe0d3b7186fbabbc85dc0f506c36aa1747b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/klickety-15.04.3.tar.xz">klickety-15.04.3</a></td>
   <td align="right">766kB</td>
   <td><tt>602b911ed235eda92bf82d4adb1fd139246acd08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/klines-15.04.3.tar.xz">klines-15.04.3</a></td>
   <td align="right">928kB</td>
   <td><tt>b4c6e9a0f382f7a84a34c6344e088d3256f6b043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kmag-15.04.3.tar.xz">kmag-15.04.3</a></td>
   <td align="right">84kB</td>
   <td><tt>83e3de89ad556bf35d2f43ff2ce8a747ecb88158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kmahjongg-15.04.3.tar.xz">kmahjongg-15.04.3</a></td>
   <td align="right">986kB</td>
   <td><tt>6bb7ad0e2923f3a8e8d58676fadc80d6ae0ecfba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kmines-15.04.3.tar.xz">kmines-15.04.3</a></td>
   <td align="right">610kB</td>
   <td><tt>fba64af6cf9af985054e9235545e3e2c4cd020cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kmix-15.04.3.tar.xz">kmix-15.04.3</a></td>
   <td align="right">379kB</td>
   <td><tt>9f5fd59c1656f864a878dbc42f3583d659503c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kmousetool-15.04.3.tar.xz">kmousetool-15.04.3</a></td>
   <td align="right">35kB</td>
   <td><tt>db8c3bea0826a78f84bf2547277e18843f08b9a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kmouth-15.04.3.tar.xz">kmouth-15.04.3</a></td>
   <td align="right">301kB</td>
   <td><tt>1a71d428afeb96ce260d11f30b8befb15f899371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kmplot-15.04.3.tar.xz">kmplot-15.04.3</a></td>
   <td align="right">646kB</td>
   <td><tt>3d42cebacf0e4b420f9f20bc08fee711d9e8dc68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/knavalbattle-15.04.3.tar.xz">knavalbattle-15.04.3</a></td>
   <td align="right">833kB</td>
   <td><tt>a5b679e4178bd9844c3292629fdce77b1d154a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/knetwalk-15.04.3.tar.xz">knetwalk-15.04.3</a></td>
   <td align="right">763kB</td>
   <td><tt>75f96e7e952fb891d920e94d44c9ee6785f88e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kolf-15.04.3.tar.xz">kolf-15.04.3</a></td>
   <td align="right">753kB</td>
   <td><tt>6d3db9900f8ba0fb2e4df35517300405647054dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kollision-15.04.3.tar.xz">kollision-15.04.3</a></td>
   <td align="right">202kB</td>
   <td><tt>c0d80cebabba0d89d34c20db12b3ae2fac066218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kolourpaint-15.04.3.tar.xz">kolourpaint-15.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>85e781b3ef0f4416c655f46b39ffb16c2754ad63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kompare-15.04.3.tar.xz">kompare-15.04.3</a></td>
   <td align="right">336kB</td>
   <td><tt>a3d18f0a17b5c040469c0bd149cd2dc44b8f7a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/konquest-15.04.3.tar.xz">konquest-15.04.3</a></td>
   <td align="right">395kB</td>
   <td><tt>9fa15d64d7d3de31ae6081cee6d4ecde85da877b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/konsole-15.04.3.tar.xz">konsole-15.04.3</a></td>
   <td align="right">450kB</td>
   <td><tt>69c982c8fbc4b91d777bd60a18f1fd80e688207e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kopete-15.04.3.tar.xz">kopete-15.04.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>1dddde0459361c47bcc7a27b88f8a53499cf73c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kpat-15.04.3.tar.xz">kpat-15.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b4717000eb0d13d506d23117a9bd76a1773aa860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kppp-15.04.3.tar.xz">kppp-15.04.3</a></td>
   <td align="right">684kB</td>
   <td><tt>50b83aa5a5e5c6d4ab8de333dec0e1445510c295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kqtquickcharts-15.04.3.tar.xz">kqtquickcharts-15.04.3</a></td>
   <td align="right">19kB</td>
   <td><tt>e262c665c7df447820f32f2c2fde174a15e877e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/krdc-15.04.3.tar.xz">krdc-15.04.3</a></td>
   <td align="right">390kB</td>
   <td><tt>3adea21f43dd4ee52c31b5559e47b7fa9f9b7e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kremotecontrol-15.04.3.tar.xz">kremotecontrol-15.04.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8451614f7fa9829bc2f25275ec2f478e7350a4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kreversi-15.04.3.tar.xz">kreversi-15.04.3</a></td>
   <td align="right">463kB</td>
   <td><tt>935ada4368e2dd93cab52f17c23dcedadecfa6fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/krfb-15.04.3.tar.xz">krfb-15.04.3</a></td>
   <td align="right">319kB</td>
   <td><tt>376d0a9bdf479eda75314c0a7fbfcd2a52c8234e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kruler-15.04.3.tar.xz">kruler-15.04.3</a></td>
   <td align="right">126kB</td>
   <td><tt>adacfaa636f3dc309b07484a734aa536923f594f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ksaneplugin-15.04.3.tar.xz">ksaneplugin-15.04.3</a></td>
   <td align="right">12kB</td>
   <td><tt>27a7d3e7e2547f8703d88ed29b4b4339147dd491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kscd-15.04.3.tar.xz">kscd-15.04.3</a></td>
   <td align="right">90kB</td>
   <td><tt>b25d51e4c027ac1249d2cd2f322bd44f9834f100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kshisen-15.04.3.tar.xz">kshisen-15.04.3</a></td>
   <td align="right">133kB</td>
   <td><tt>63cf0c2955adce30a8725df75c2633d9a7dbcc6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ksirk-15.04.3.tar.xz">ksirk-15.04.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>dbaf36f0589ff3013e88a149d0fbd33cfff33ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ksnakeduel-15.04.3.tar.xz">ksnakeduel-15.04.3</a></td>
   <td align="right">290kB</td>
   <td><tt>ee819cb7d2b25958ea88a3ece9f8e0a761244a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ksnapshot-15.04.3.tar.xz">ksnapshot-15.04.3</a></td>
   <td align="right">252kB</td>
   <td><tt>38da5665eefbefcdf18cac45b69354afa33f7979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kspaceduel-15.04.3.tar.xz">kspaceduel-15.04.3</a></td>
   <td align="right">247kB</td>
   <td><tt>6ec57a79bc4e4284012fa72274591117a58f34a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ksquares-15.04.3.tar.xz">ksquares-15.04.3</a></td>
   <td align="right">78kB</td>
   <td><tt>c8b810841c2b6da17604989b71cdf46808950047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kstars-15.04.3.tar.xz">kstars-15.04.3</a></td>
   <td align="right">12MB</td>
   <td><tt>8f99047d6eb58caada3d957775bfb4b012a8476f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ksudoku-15.04.3.tar.xz">ksudoku-15.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ee6495ba8b6bd0813c4ef9ec255e827c3db9ab66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ksystemlog-15.04.3.tar.xz">ksystemlog-15.04.3</a></td>
   <td align="right">373kB</td>
   <td><tt>8fbf7f1b87f4c6b2f40be51f9d23d42d75262dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kteatime-15.04.3.tar.xz">kteatime-15.04.3</a></td>
   <td align="right">101kB</td>
   <td><tt>e52399d6c63e339f9f47dd9c2f2971d2f58b1f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktimer-15.04.3.tar.xz">ktimer-15.04.3</a></td>
   <td align="right">143kB</td>
   <td><tt>2c4747a79fc6bcb53ff66a11b0fcaeaaf82c6822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktouch-15.04.3.tar.xz">ktouch-15.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>25cbaaf189300b3d856feba26712ac8275951499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-accounts-kcm-15.04.3.tar.xz">ktp-accounts-kcm-15.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>c664cc1d4e15f09f3b7ab9cba07799770368b032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-approver-15.04.3.tar.xz">ktp-approver-15.04.3</a></td>
   <td align="right">20kB</td>
   <td><tt>19d673df930d82db7ed6d5038718b227b1731bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-auth-handler-15.04.3.tar.xz">ktp-auth-handler-15.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>8446cd0508a2318c62d2ac0ff1900d764c0595ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-common-internals-15.04.3.tar.xz">ktp-common-internals-15.04.3</a></td>
   <td align="right">305kB</td>
   <td><tt>0b275929f9102506b3bf727d972efe8ab42467db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-contact-list-15.04.3.tar.xz">ktp-contact-list-15.04.3</a></td>
   <td align="right">47kB</td>
   <td><tt>8cb1fe5f7971d9be79d9515a4c66198b8fd1fe6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-contact-runner-15.04.3.tar.xz">ktp-contact-runner-15.04.3</a></td>
   <td align="right">16kB</td>
   <td><tt>ab41a392af3bc827cfff0e6fdb350a5fa89bc5f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-desktop-applets-15.04.3.tar.xz">ktp-desktop-applets-15.04.3</a></td>
   <td align="right">24kB</td>
   <td><tt>7c5076d5f44797242eb47430a55be82c881a4586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-filetransfer-handler-15.04.3.tar.xz">ktp-filetransfer-handler-15.04.3</a></td>
   <td align="right">22kB</td>
   <td><tt>35616ceb78b88a651c77e86f38cd44be2b4dba08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-kded-module-15.04.3.tar.xz">ktp-kded-module-15.04.3</a></td>
   <td align="right">37kB</td>
   <td><tt>53ef7cf60ae45752afdb5d8bc83cf3bf222a2c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-send-file-15.04.3.tar.xz">ktp-send-file-15.04.3</a></td>
   <td align="right">14kB</td>
   <td><tt>655cf82d352e0b8488e0a9f4cefa2d991b787711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktp-text-ui-15.04.3.tar.xz">ktp-text-ui-15.04.3</a></td>
   <td align="right">283kB</td>
   <td><tt>5293150a71f3e31fd9210fe7a73b296af239c157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktuberling-15.04.3.tar.xz">ktuberling-15.04.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b936b37644225d80191428f585595d0540dfad83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kturtle-15.04.3.tar.xz">kturtle-15.04.3</a></td>
   <td align="right">189kB</td>
   <td><tt>18fb0ace619aa8508aa9ee9ced539efe8adb0acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/ktux-15.04.3.tar.xz">ktux-15.04.3</a></td>
   <td align="right">105kB</td>
   <td><tt>89d460458b38af67ceff81152cbf7b71139d882b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kubrick-15.04.3.tar.xz">kubrick-15.04.3</a></td>
   <td align="right">104kB</td>
   <td><tt>4cb2a97fdae8fe27e9f5804132d2a556e996e738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kuser-15.04.3.tar.xz">kuser-15.04.3</a></td>
   <td align="right">132kB</td>
   <td><tt>154a5aa6cdb09c05426bad9500d1b7cdbcdbf579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kwalletmanager-15.04.3.tar.xz">kwalletmanager-15.04.3</a></td>
   <td align="right">446kB</td>
   <td><tt>47e892766dee14163e73bbad696a1ab8482082bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kwordquiz-15.04.3.tar.xz">kwordquiz-15.04.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2282a4f90f0f956406e95020f6cf02b01d41a5cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkcddb-15.04.3.tar.xz">libkcddb-15.04.3</a></td>
   <td align="right">155kB</td>
   <td><tt>e3162b4c0dc68f1986ebbd0adf72051a38e66e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkcompactdisc-15.04.3.tar.xz">libkcompactdisc-15.04.3</a></td>
   <td align="right">74kB</td>
   <td><tt>db281e6285a480f164175838158e01344041ce58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkdcraw-15.04.3.tar.xz">libkdcraw-15.04.3</a></td>
   <td align="right">99kB</td>
   <td><tt>03eb16a8c3b5acfc63066b478c881b7031f736f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkdeedu-15.04.3.tar.xz">libkdeedu-15.04.3</a></td>
   <td align="right">127kB</td>
   <td><tt>f08646dd695fc1c0827ca06bca6b1bd39058a223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkdegames-15.04.3.tar.xz">libkdegames-15.04.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>c23d5fa9ed75ec5c4067e9ed99ef01f41353dbef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkeduvocdocument-15.04.3.tar.xz">libkeduvocdocument-15.04.3</a></td>
   <td align="right">96kB</td>
   <td><tt>a4efe18a62b0aa25ebb5c6d9e6f410f4ac84ba58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkexiv2-15.04.3.tar.xz">libkexiv2-15.04.3</a></td>
   <td align="right">133kB</td>
   <td><tt>f085504d2894ec82a64199a5bdc6db31b0ddfc6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkface-15.04.3.tar.xz">libkface-15.04.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>00e5a288d91d92d31f61f187d265d40abbf7b4dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkgeomap-15.04.3.tar.xz">libkgeomap-15.04.3</a></td>
   <td align="right">121kB</td>
   <td><tt>08b9de5e1e3a58ba0bdae5ff1024c50b867da4da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkipi-15.04.3.tar.xz">libkipi-15.04.3</a></td>
   <td align="right">92kB</td>
   <td><tt>cf98b69cf537dc0b91c846c898f79cab682c52bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkmahjongg-15.04.3.tar.xz">libkmahjongg-15.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>48d84af206c96168062441f8bc04c00811f31b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libkomparediff2-15.04.3.tar.xz">libkomparediff2-15.04.3</a></td>
   <td align="right">55kB</td>
   <td><tt>b58d9829be53728cd3b62202e6c7808d5160ff89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/libksane-15.04.3.tar.xz">libksane-15.04.3</a></td>
   <td align="right">79kB</td>
   <td><tt>cd0978fbea75012efcdc9f7e6ad2fbbf87b1ef5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/lokalize-15.04.3.tar.xz">lokalize-15.04.3</a></td>
   <td align="right">931kB</td>
   <td><tt>903d2bcf3f3990747a37d00b0de0b41ce6f0a99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/lskat-15.04.3.tar.xz">lskat-15.04.3</a></td>
   <td align="right">907kB</td>
   <td><tt>72593d88d60a513d8e052ff37055e0fa33dccd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/marble-15.04.3.tar.xz">marble-15.04.3</a></td>
   <td align="right">21MB</td>
   <td><tt>9c8c4f307bb633cf7c21fdf5fad82995d2dfa50a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/mplayerthumbs-15.04.3.tar.xz">mplayerthumbs-15.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>c91fac38af325ae5db76e6e44b9f79521eb2e9db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/okteta-15.04.3.tar.xz">okteta-15.04.3</a></td>
   <td align="right">491kB</td>
   <td><tt>397712aeeb1a759598e4feae8e9b05cc582a2105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/okular-15.04.3.tar.xz">okular-15.04.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>65b934aad6a57eeb60a8b6e78c6f792b75f5b77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/oxygen-icons-15.04.3.tar.xz">oxygen-icons-15.04.3</a></td>
   <td align="right">219MB</td>
   <td><tt>22c4259a797c32a87970046d2ffb4f9d7615bb2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/pairs-15.04.3.tar.xz">pairs-15.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>796a6c8e0c2de3408cee08f3d268cdeec9b2ebd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/palapeli-15.04.3.tar.xz">palapeli-15.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>346f62f8a42d73149b779a98dbbdcfee9891564d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/parley-15.04.3.tar.xz">parley-15.04.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>62e73f48ef1a83d4abe264a550c551936f0f33d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/picmi-15.04.3.tar.xz">picmi-15.04.3</a></td>
   <td align="right">715kB</td>
   <td><tt>2149e241fa227e572a24066433486f810b77d243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/poxml-15.04.3.tar.xz">poxml-15.04.3</a></td>
   <td align="right">30kB</td>
   <td><tt>5d65921ffc853ec5edd4826131916da838d09084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/print-manager-15.04.3.tar.xz">print-manager-15.04.3</a></td>
   <td align="right">91kB</td>
   <td><tt>c91a8099018b06eaac6ce7ac6dac8446290d6e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/rocs-15.04.3.tar.xz">rocs-15.04.3</a></td>
   <td align="right">521kB</td>
   <td><tt>13c189ae0d071b1e40196b7d2f6cbe13bb523c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/signon-kwallet-extension-15.04.3.tar.xz">signon-kwallet-extension-15.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>f4867ff512dd88d14d9b18091be8de3cb3a5ddea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/step-15.04.3.tar.xz">step-15.04.3</a></td>
   <td align="right">377kB</td>
   <td><tt>9bed74f17aef234e576460bb0851e88636fcba72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/superkaramba-15.04.3.tar.xz">superkaramba-15.04.3</a></td>
   <td align="right">372kB</td>
   <td><tt>6f1b2fa73332c3c17c64c267e3d2995db7ab70ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/svgpart-15.04.3.tar.xz">svgpart-15.04.3</a></td>
   <td align="right">8kB</td>
   <td><tt>fa91fd1bca0c3f68c6932b1883d2d552817b7370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/sweeper-15.04.3.tar.xz">sweeper-15.04.3</a></td>
   <td align="right">80kB</td>
   <td><tt>bf6ee803ad911edee0af7368b748df99df680e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/umbrello-15.04.3.tar.xz">umbrello-15.04.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>315a0735e1c905fb8242ca9025ae81ddd6061b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/zeroconf-ioslave-15.04.3.tar.xz">zeroconf-ioslave-15.04.3</a></td>
   <td align="right">25kB</td>
   <td><tt>769de13effcc1c71d6aed06a32dcb29e13a583b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ar-15.04.3.tar.xz">kde-l10n-ar-15.04.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>9a37416e3ab2ebbf4183da9f171ebdf529871d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-bg-15.04.3.tar.xz">kde-l10n-bg-15.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e579cef06e2cb43c77e9116ad010ec9e9dcf5cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-bs-15.04.3.tar.xz">kde-l10n-bs-15.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>70d665b98f1dffcd4e9180e79eab48aa2d0308c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ca-15.04.3.tar.xz">kde-l10n-ca-15.04.3</a></td>
   <td align="right">11MB</td>
   <td><tt>123b9f28929e9e6d3d5cc85ff6a5fe76e205216e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ca@valencia-15.04.3.tar.xz">kde-l10n-ca@valencia-15.04.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e4aff20e803cab12dfe22c170c0a44a46dfe2793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-cs-15.04.3.tar.xz">kde-l10n-cs-15.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6dbeeaabce2b97111dd9501db12848c246721002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-da-15.04.3.tar.xz">kde-l10n-da-15.04.3</a></td>
   <td align="right">12MB</td>
   <td><tt>f75b1b6f7c94df4b24b8cbf9a10e783420902c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-de-15.04.3.tar.xz">kde-l10n-de-15.04.3</a></td>
   <td align="right">35MB</td>
   <td><tt>9050c8151ef46a75ac4d166a3ef0cf438cd78c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-el-15.04.3.tar.xz">kde-l10n-el-15.04.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>2d3461f806b822b964336164514023d285e42a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-en_GB-15.04.3.tar.xz">kde-l10n-en_GB-15.04.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>3040b60b694e6e4e5fb3a362f85fcfb0770e08df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-eo-15.04.3.tar.xz">kde-l10n-eo-15.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3cb3535686f22b2017b035a26e7c23915699b4b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-es-15.04.3.tar.xz">kde-l10n-es-15.04.3</a></td>
   <td align="right">20MB</td>
   <td><tt>f057b5585f6a8b4edd6ef032bdc7660fd1693f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-et-15.04.3.tar.xz">kde-l10n-et-15.04.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>83a20f7a55d057f0723be9adf15fa6b6ae32eb2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-eu-15.04.3.tar.xz">kde-l10n-eu-15.04.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8d6f21b6a54ad47eb018044b164d043addc42320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-fa-15.04.3.tar.xz">kde-l10n-fa-15.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cab2ef20f7f4f4cfd9d549d7068fed130b199d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-fi-15.04.3.tar.xz">kde-l10n-fi-15.04.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5724b3e69407d16778d581d51242c9842d944254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-fr-15.04.3.tar.xz">kde-l10n-fr-15.04.3</a></td>
   <td align="right">45MB</td>
   <td><tt>45277c55566404893389e4b0b67b2e3e6a5eea76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ga-15.04.3.tar.xz">kde-l10n-ga-15.04.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>d650d8a442ee7823df544c393e91dabde555dc78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-gl-15.04.3.tar.xz">kde-l10n-gl-15.04.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>32ebef2f01bb71707c5812e7b68a9a7383c728d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-he-15.04.3.tar.xz">kde-l10n-he-15.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>94c00787b4e62d6645c0387c3305562b5edbaad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-hi-15.04.3.tar.xz">kde-l10n-hi-15.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>62e618fa372307065678f9ea9dae8b4340d8a73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-hr-15.04.3.tar.xz">kde-l10n-hr-15.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>59579b44f3850b8f73bab4adca8ca89356d206a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-hu-15.04.3.tar.xz">kde-l10n-hu-15.04.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>481031bbc9c4c4d391315451c2c21a3d3c3f4789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ia-15.04.3.tar.xz">kde-l10n-ia-15.04.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5f438b99a0b483e8dbea2c5ec7729ac15ddd4ec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-id-15.04.3.tar.xz">kde-l10n-id-15.04.3</a></td>
   <td align="right">551kB</td>
   <td><tt>bfed8f25c39029409a7c55da62c8547b92d9d22e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-is-15.04.3.tar.xz">kde-l10n-is-15.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6baa802e1f224d96fc500d0077d92f4a09217170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-it-15.04.3.tar.xz">kde-l10n-it-15.04.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>05aba4d9c812a694015b2e6c01129706360f5208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ja-15.04.3.tar.xz">kde-l10n-ja-15.04.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>51eba9fad06cccde9df50db9f87e8d5330ebda28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-kk-15.04.3.tar.xz">kde-l10n-kk-15.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7e118f8ec00e80bd41a51c14d5d725b35c9f4636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-km-15.04.3.tar.xz">kde-l10n-km-15.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>89d1f8dd6842ebd6baf1bcdecf3fc90af282c5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ko-15.04.3.tar.xz">kde-l10n-ko-15.04.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d73d36fb62e496bf315e73e8916fd66d1aaf4a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-lt-15.04.3.tar.xz">kde-l10n-lt-15.04.3</a></td>
   <td align="right">12MB</td>
   <td><tt>dc453e6911394c4ee602df0c389be3055774cce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-lv-15.04.3.tar.xz">kde-l10n-lv-15.04.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a070474a99b67e856e9799f48dc66f3ec9c27b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-mr-15.04.3.tar.xz">kde-l10n-mr-15.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8c8994b22418081b21b038ec0638da94e1a227ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-nb-15.04.3.tar.xz">kde-l10n-nb-15.04.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f0c0245de9801d5609c2be57fc6c3ce3810f6e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-nds-15.04.3.tar.xz">kde-l10n-nds-15.04.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>1563d3378b306e6fa949bf16c317339042b3d2de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-nl-15.04.3.tar.xz">kde-l10n-nl-15.04.3</a></td>
   <td align="right">13MB</td>
   <td><tt>0c3fbf38c813f8e08316d2f462eebe343f594927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-nn-15.04.3.tar.xz">kde-l10n-nn-15.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>df9844b2455135f166cd15ab41ca934e55c58bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-pa-15.04.3.tar.xz">kde-l10n-pa-15.04.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e91161aa061cf2a8676f542ca29f7b15b4ebbca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-pl-15.04.3.tar.xz">kde-l10n-pl-15.04.3</a></td>
   <td align="right">18MB</td>
   <td><tt>ab4a60a9569ebb417da1ee76a8ae0df2a40bc4d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-pt-15.04.3.tar.xz">kde-l10n-pt-15.04.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>95cf15f7e856a31f4f2c3751b59d52dcea6608ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-pt_BR-15.04.3.tar.xz">kde-l10n-pt_BR-15.04.3</a></td>
   <td align="right">24MB</td>
   <td><tt>d420cf97d6afa32d07fb8c0ec1574f6419aa0d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ro-15.04.3.tar.xz">kde-l10n-ro-15.04.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7981b909fe5c8db1f10ebc1854d528fc9587cb70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ru-15.04.3.tar.xz">kde-l10n-ru-15.04.3</a></td>
   <td align="right">22MB</td>
   <td><tt>6d307b867aef977dbe820834f6f8879f177c7a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-sk-15.04.3.tar.xz">kde-l10n-sk-15.04.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>6f5587368032739bd571b14c20d08ccd21057c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-sl-15.04.3.tar.xz">kde-l10n-sl-15.04.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>fd1af2d08f48a13e5565bd90852a7e5de9713943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-sr-15.04.3.tar.xz">kde-l10n-sr-15.04.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>7a582d2455145ff784bef014f60b7f8cd3958291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-sv-15.04.3.tar.xz">kde-l10n-sv-15.04.3</a></td>
   <td align="right">14MB</td>
   <td><tt>6f4d8dd58be36759801f8a765dab8983e8646e15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-tr-15.04.3.tar.xz">kde-l10n-tr-15.04.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>a7b06e4c658d6b83a823a6855d346fed943c53f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-ug-15.04.3.tar.xz">kde-l10n-ug-15.04.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>51c17e3c92ead4dedea398ea763a0712e90e34c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-uk-15.04.3.tar.xz">kde-l10n-uk-15.04.3</a></td>
   <td align="right">26MB</td>
   <td><tt>6576c5b7d1c366d3ebe4448705ce86addf7aed10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-wa-15.04.3.tar.xz">kde-l10n-wa-15.04.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c1f216dcce60ef80552761fa50d61bc486ee1bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-zh_CN-15.04.3.tar.xz">kde-l10n-zh_CN-15.04.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0f3019bd0164192dcd21650089821ebb6ae9bbb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.3/src/kde-l10n/kde-l10n-zh_TW-15.04.3.tar.xz">kde-l10n-zh_TW-15.04.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b0a45a3d5152338627f1672fc0acb48efaf719c6</tt></td>
</tr>

</table>
