<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/amor-4.10.80.tar.xz">amor-4.10.80</a></td>
   <td align="right">175kB</td>
   <td><tt>145cf99cd94c9952064e765b4f33fd905b9ec56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/analitza-4.10.80.tar.xz">analitza-4.10.80</a></td>
   <td align="right">176kB</td>
   <td><tt>e876478323cab0248a175056e8932c480702ccd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ark-4.10.80.tar.xz">ark-4.10.80</a></td>
   <td align="right">229kB</td>
   <td><tt>e8e6abb6c7d67cf2c78c21514003486a2297b7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/audiocd-kio-4.10.80.tar.xz">audiocd-kio-4.10.80</a></td>
   <td align="right">54kB</td>
   <td><tt>3ea09e22218de3a73ed619dbddcbc9097013beed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/blinken-4.10.80.tar.xz">blinken-4.10.80</a></td>
   <td align="right">552kB</td>
   <td><tt>c484750e98c67709de1c3cc991fa6dbcd29291d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/bomber-4.10.80.tar.xz">bomber-4.10.80</a></td>
   <td align="right">381kB</td>
   <td><tt>990ba686ad54ca3231ef7f32047110867010f5f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/bovo-4.10.80.tar.xz">bovo-4.10.80</a></td>
   <td align="right">105kB</td>
   <td><tt>69bae5dd097b716e10cc4e0ef86cf8fcff1940c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/cantor-4.10.80.tar.xz">cantor-4.10.80</a></td>
   <td align="right">303kB</td>
   <td><tt>5988e049930217b123fb3b9ec5c91d4e8e4f60a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/cervisia-4.10.80.tar.xz">cervisia-4.10.80</a></td>
   <td align="right">388kB</td>
   <td><tt>549dd2faae5bf735a76e0ccb3611317175fde884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/dolphin-plugins-4.10.80.tar.xz">dolphin-plugins-4.10.80</a></td>
   <td align="right">54kB</td>
   <td><tt>577fda0f2a00cb8ea2e2317664097e761d9fd918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/dragon-4.10.80.tar.xz">dragon-4.10.80</a></td>
   <td align="right">385kB</td>
   <td><tt>6b7f0ffcc815b4d2c7bf98ef6bf54557d3e075ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ffmpegthumbs-4.10.80.tar.xz">ffmpegthumbs-4.10.80</a></td>
   <td align="right">19kB</td>
   <td><tt>0e5adc0c92b6c6da042d8322144113c9ec8f6793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/filelight-4.10.80.tar.xz">filelight-4.10.80</a></td>
   <td align="right">286kB</td>
   <td><tt>884decb3a84498de92d49ec715427cc8f31ff621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/granatier-4.10.80.tar.xz">granatier-4.10.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a43cf4e97b85547c05b410eca89dd785e090bc5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/gwenview-4.10.80.tar.xz">gwenview-4.10.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f2543fcc82baff84d76cbf168fb75998daada686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/jovie-4.10.80.tar.xz">jovie-4.10.80</a></td>
   <td align="right">358kB</td>
   <td><tt>21a83e0ba131de4eaae7f0aed94e91faac11673a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/juk-4.10.80.tar.xz">juk-4.10.80</a></td>
   <td align="right">433kB</td>
   <td><tt>902926138e7a2134c756ddadf18c44e4ca6d4cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kaccessible-4.10.80.tar.xz">kaccessible-4.10.80</a></td>
   <td align="right">19kB</td>
   <td><tt>9fcac3f78730e7de8a83c88ef72d53acb91cbd5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kactivities-4.10.80.tar.xz">kactivities-4.10.80</a></td>
   <td align="right">84kB</td>
   <td><tt>21304f49066875678d1ec2866367a8739b5f1598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kajongg-4.10.80.tar.xz">kajongg-4.10.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>492834c3ba997d9f4c9f83509d189ec963d21d22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kalgebra-4.10.80.tar.xz">kalgebra-4.10.80</a></td>
   <td align="right">433kB</td>
   <td><tt>1f4d41d985a1cd232c567c5b2791f165caf99ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kalzium-4.10.80.tar.xz">kalzium-4.10.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>d748d1c35f371c0ae137b9a1b69f5090a3cc4955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kamera-4.10.80.tar.xz">kamera-4.10.80</a></td>
   <td align="right">36kB</td>
   <td><tt>4afc05fcdabc01d1f7917a49e321b85c0310a3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kanagram-4.10.80.tar.xz">kanagram-4.10.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>933b6e0ed7e4be3d625ccd59f413466403673159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kapman-4.10.80.tar.xz">kapman-4.10.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6956b23a7e423f3dc8f1f2462d9da348a22d5f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kapptemplate-4.10.80.tar.xz">kapptemplate-4.10.80</a></td>
   <td align="right">685kB</td>
   <td><tt>9ffa9bd56284de36cd2b618c108c3fc426c33ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kate-4.10.80.tar.xz">kate-4.10.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>fa89b1859ff9f05d5c772d881285928677580c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/katomic-4.10.80.tar.xz">katomic-4.10.80</a></td>
   <td align="right">648kB</td>
   <td><tt>649495bf04fc8390a432566b37fb676f1b0b2943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kblackbox-4.10.80.tar.xz">kblackbox-4.10.80</a></td>
   <td align="right">257kB</td>
   <td><tt>16ab0f5c22f4ef2a7cbc90d761d5c1c8571127a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kblocks-4.10.80.tar.xz">kblocks-4.10.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e1c5e929e293cb2cb215ca82fba8b3847e4fea02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kbounce-4.10.80.tar.xz">kbounce-4.10.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d178f46629fc00f263b3fc2edaf70d24390b647c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kbreakout-4.10.80.tar.xz">kbreakout-4.10.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>387117cf0030d1480de9d5f18e3666959429cc0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kbruch-4.10.80.tar.xz">kbruch-4.10.80</a></td>
   <td align="right">885kB</td>
   <td><tt>1027e683282f3b36a9bf73a4b91270f313c03a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kcachegrind-4.10.80.tar.xz">kcachegrind-4.10.80</a></td>
   <td align="right">244kB</td>
   <td><tt>7f30f9509de3605d7571aec15388229a0fe7a2ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kcalc-4.10.80.tar.xz">kcalc-4.10.80</a></td>
   <td align="right">89kB</td>
   <td><tt>7f1e07b177b4e54131c33b768d2df9b2ff496a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kcharselect-4.10.80.tar.xz">kcharselect-4.10.80</a></td>
   <td align="right">84kB</td>
   <td><tt>ff8f5354a4daa381d8fdf34d20a492a352a15e31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kcolorchooser-4.10.80.tar.xz">kcolorchooser-4.10.80</a></td>
   <td align="right">4kB</td>
   <td><tt>05a0d15430299c58e71dadf1bba00a10ddfd0526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kcron-4.10.80.tar.xz">kcron-4.10.80</a></td>
   <td align="right">154kB</td>
   <td><tt>a55be61ce34fa7f7c9c64cda7abe5023ad34330b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdeartwork-4.10.80.tar.xz">kdeartwork-4.10.80</a></td>
   <td align="right">136MB</td>
   <td><tt>ccabc40600960ecc431ad5fd4c8b6568611e7680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-baseapps-4.10.80.tar.xz">kde-baseapps-4.10.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f2802be6a16189bb0afbc78893917965da22a62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-base-artwork-4.10.80.tar.xz">kde-base-artwork-4.10.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>1bbb3b18f0649f5c940a7217282270cbab99db7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-dev-scripts-4.10.80.tar.xz">kde-dev-scripts-4.10.80</a></td>
   <td align="right">249kB</td>
   <td><tt>a16b8864e8be733066ce9eb80225ec8b2dd83c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-dev-utils-4.10.80.tar.xz">kde-dev-utils-4.10.80</a></td>
   <td align="right">50kB</td>
   <td><tt>587d539488e55f54955d70dc87454d495ebf066f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdegraphics-mobipocket-4.10.80.tar.xz">kdegraphics-mobipocket-4.10.80</a></td>
   <td align="right">19kB</td>
   <td><tt>76ac13358e1d706c0246719628a23b3c83301085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdegraphics-strigi-analyzer-4.10.80.tar.xz">kdegraphics-strigi-analyzer-4.10.80</a></td>
   <td align="right">39kB</td>
   <td><tt>96628ae626ced87839e6c2c792bba333b3833a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdegraphics-thumbnailers-4.10.80.tar.xz">kdegraphics-thumbnailers-4.10.80</a></td>
   <td align="right">40kB</td>
   <td><tt>5d92019dda6b6c6e314f39888cd5f9046b319e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdelibs-4.10.80.tar.xz">kdelibs-4.10.80</a></td>
   <td align="right">11MB</td>
   <td><tt>9fd6b8e31addf90dc45b032cf46e6c811f29f851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdenetwork-filesharing-4.10.80.tar.xz">kdenetwork-filesharing-4.10.80</a></td>
   <td align="right">26kB</td>
   <td><tt>e1b54d8da2357dec4908b7c7f011567097d932a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdenetwork-strigi-analyzers-4.10.80.tar.xz">kdenetwork-strigi-analyzers-4.10.80</a></td>
   <td align="right">8kB</td>
   <td><tt>e707cd0d1a86154a028a1d7e0d8a82407977cc2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdepim-4.10.80.tar.xz">kdepim-4.10.80</a></td>
   <td align="right">12MB</td>
   <td><tt>a629378ad51cf0e5c86090fadc4fcaf1b8fa8b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdepimlibs-4.10.80.tar.xz">kdepimlibs-4.10.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c3a3eff9b6fa7b1fb290f6941c917851bd376a7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdepim-runtime-4.10.80.tar.xz">kdepim-runtime-4.10.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2af29efcde75f7d4d725e481bf511289eec29b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdeplasma-addons-4.10.80.tar.xz">kdeplasma-addons-4.10.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>03637162da2301482d2d20e0ba6a77797782076e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-runtime-4.10.80.tar.xz">kde-runtime-4.10.80</a></td>
   <td align="right">6.7MB</td>
   <td><tt>0c5ebc7d75ac54c95a87c0629119c840854ee274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdesdk-kioslaves-4.10.80.tar.xz">kdesdk-kioslaves-4.10.80</a></td>
   <td align="right">352kB</td>
   <td><tt>8d9ff0c95ac66ac7d62ab2535affaf938263a4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdesdk-strigi-analyzers-4.10.80.tar.xz">kdesdk-strigi-analyzers-4.10.80</a></td>
   <td align="right">17kB</td>
   <td><tt>d0558f92e4074762180cd326e87ea7ea9835d625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdesdk-thumbnailers-4.10.80.tar.xz">kdesdk-thumbnailers-4.10.80</a></td>
   <td align="right">11kB</td>
   <td><tt>00829e717508bd1e71bd30484f33ade84af7fc81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-wallpapers-4.10.80.tar.xz">kde-wallpapers-4.10.80</a></td>
   <td align="right">86MB</td>
   <td><tt>4e8229e653091fb492cf6b8090b50db670c19210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdewebdev-4.10.80.tar.xz">kdewebdev-4.10.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>553af613b68617532a9568f23894e030ebb5ab86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-workspace-4.10.80.tar.xz">kde-workspace-4.10.80</a></td>
   <td align="right">12MB</td>
   <td><tt>bccd63c50d66e8f12e63ef1d1990cf1d535045c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdf-4.10.80.tar.xz">kdf-4.10.80</a></td>
   <td align="right">151kB</td>
   <td><tt>11858cba0842a9a18e64a65f9abc196858930f07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdiamond-4.10.80.tar.xz">kdiamond-4.10.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>d54be0b8b752cd233972210570099df7d4af63cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kdnssd-4.10.80.tar.xz">kdnssd-4.10.80</a></td>
   <td align="right">25kB</td>
   <td><tt>c5f2be73702d2707d2ed6079585ec5d6b2503ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kfloppy-4.10.80.tar.xz">kfloppy-4.10.80</a></td>
   <td align="right">59kB</td>
   <td><tt>e8579136c542ae6374e1bd13ab562bbbb2034fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kfourinline-4.10.80.tar.xz">kfourinline-4.10.80</a></td>
   <td align="right">278kB</td>
   <td><tt>68bad319eec522a2c286f9394ea7c35d9c7c9a88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kgamma-4.10.80.tar.xz">kgamma-4.10.80</a></td>
   <td align="right">25kB</td>
   <td><tt>c2cc42fc21021ec3ab2c2616a15dba3fe88453fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kgeography-4.10.80.tar.xz">kgeography-4.10.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>e7465ae8abe7e5f2d8e6c4da31b5aee8c7de06ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kget-4.10.80.tar.xz">kget-4.10.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c8d14f37b46e5fd3cd6348b98a1eda90f17997ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kgoldrunner-4.10.80.tar.xz">kgoldrunner-4.10.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>74aa93c18ae00c21f583e7f2aaa05c0b6ea54add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kgpg-4.10.80.tar.xz">kgpg-4.10.80</a></td>
   <td align="right">792kB</td>
   <td><tt>41d7fff3e46fe656fddc66bd3bb8edb29aba7dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/khangman-4.10.80.tar.xz">khangman-4.10.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>4d24988fd2732c539913582c15f3e64b15e9a0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kig-4.10.80.tar.xz">kig-4.10.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1b90b13228d37841c59685a61dd7134f019007c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kigo-4.10.80.tar.xz">kigo-4.10.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>76c62954e8c6dfdd2ac1dfcd589ee913fdf33745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/killbots-4.10.80.tar.xz">killbots-4.10.80</a></td>
   <td align="right">950kB</td>
   <td><tt>1152e4faae03d74350000c7287583c6f6b31e50d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kimono-4.10.80.tar.xz">kimono-4.10.80</a></td>
   <td align="right">916kB</td>
   <td><tt>d36e872fe03d34d2eefc4c7604b2bcdccc71e165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kiriki-4.10.80.tar.xz">kiriki-4.10.80</a></td>
   <td align="right">122kB</td>
   <td><tt>3a7fa21ffc5e40913ab16fbf6f3c5df318d2c631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kiten-4.10.80.tar.xz">kiten-4.10.80</a></td>
   <td align="right">11MB</td>
   <td><tt>a6a47573299af2d2914260a6bd5f455e9e4667bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kjumpingcube-4.10.80.tar.xz">kjumpingcube-4.10.80</a></td>
   <td align="right">169kB</td>
   <td><tt>936d15b50d7942bd28a2b6247fd7ba31985f74fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/klettres-4.10.80.tar.xz">klettres-4.10.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>cf406daf102c9559010f85d7324e105644311fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/klickety-4.10.80.tar.xz">klickety-4.10.80</a></td>
   <td align="right">772kB</td>
   <td><tt>3b66c1184f460f2612e15b311686f3944631763f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/klines-4.10.80.tar.xz">klines-4.10.80</a></td>
   <td align="right">934kB</td>
   <td><tt>effe1a868c3ac679d393193c5fd48af8e438a063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kmag-4.10.80.tar.xz">kmag-4.10.80</a></td>
   <td align="right">90kB</td>
   <td><tt>dbe18fa719e4e579fc9a7069a6fcbf7261b246dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kmahjongg-4.10.80.tar.xz">kmahjongg-4.10.80</a></td>
   <td align="right">989kB</td>
   <td><tt>b8f0029222ee58cc1cff4b33ccf085ec18893e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kmines-4.10.80.tar.xz">kmines-4.10.80</a></td>
   <td align="right">642kB</td>
   <td><tt>33e6e61590b3f0c478791ec83628a6c2ef856a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kmix-4.10.80.tar.xz">kmix-4.10.80</a></td>
   <td align="right">374kB</td>
   <td><tt>8dd7857735d78f027f098c5c60ed5c4ba3f6c0c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kmousetool-4.10.80.tar.xz">kmousetool-4.10.80</a></td>
   <td align="right">42kB</td>
   <td><tt>a61e4c07b10577a034b6b159b63fe421f564bb99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kmouth-4.10.80.tar.xz">kmouth-4.10.80</a></td>
   <td align="right">311kB</td>
   <td><tt>0466bca9cbf354a9d5ea692254f98508ceaf9001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kmplot-4.10.80.tar.xz">kmplot-4.10.80</a></td>
   <td align="right">661kB</td>
   <td><tt>a12724951c7eef1d425f3dd8b48093c3bcd37d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/knavalbattle-4.10.80.tar.xz">knavalbattle-4.10.80</a></td>
   <td align="right">835kB</td>
   <td><tt>cc197ef699519aa88b8657c452602ce114498245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/knetwalk-4.10.80.tar.xz">knetwalk-4.10.80</a></td>
   <td align="right">769kB</td>
   <td><tt>37eeaa8ca8a68edb577343ef52a53383339a0327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kolf-4.10.80.tar.xz">kolf-4.10.80</a></td>
   <td align="right">762kB</td>
   <td><tt>44fee8cd1364da305084c68c5540fa49887637c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kollision-4.10.80.tar.xz">kollision-4.10.80</a></td>
   <td align="right">207kB</td>
   <td><tt>4c45bd37d771ba1301bab28f3785474bf4de990b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kolourpaint-4.10.80.tar.xz">kolourpaint-4.10.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>365d7f1158a75c1a1dbba412705ae614646a8e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kompare-4.10.80.tar.xz">kompare-4.10.80</a></td>
   <td align="right">377kB</td>
   <td><tt>dcf68dbca50d61de4fbccd520a20c26dc377a81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/konquest-4.10.80.tar.xz">konquest-4.10.80</a></td>
   <td align="right">405kB</td>
   <td><tt>3ff958f3d855b3059d252477e101e76397c7b6e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/konsole-4.10.80.tar.xz">konsole-4.10.80</a></td>
   <td align="right">439kB</td>
   <td><tt>e710084e99d4a9b651c5475d70d0ea7806e73096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kopete-4.10.80.tar.xz">kopete-4.10.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>ee9fccbd612f821f5c1a02a0ec107b4faf4cc94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/korundum-4.10.80.tar.xz">korundum-4.10.80</a></td>
   <td align="right">156kB</td>
   <td><tt>fe9f2516374126727db46b3259d03fa207c7681e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kpat-4.10.80.tar.xz">kpat-4.10.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>54019b15e54037bec9fb3e07733bbffbcd6e5c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kppp-4.10.80.tar.xz">kppp-4.10.80</a></td>
   <td align="right">721kB</td>
   <td><tt>7ba785831227612b472343546a30c27de716c0a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/krdc-4.10.80.tar.xz">krdc-4.10.80</a></td>
   <td align="right">392kB</td>
   <td><tt>76c3861d400a5e3b575316d4cd9b4626852edf4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kremotecontrol-4.10.80.tar.xz">kremotecontrol-4.10.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>df6dd940f335e5dcc3b0053209493bb3e8a47dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kreversi-4.10.80.tar.xz">kreversi-4.10.80</a></td>
   <td align="right">387kB</td>
   <td><tt>ed085c38dd607e29c99346469ef28597709b5a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/krfb-4.10.80.tar.xz">krfb-4.10.80</a></td>
   <td align="right">448kB</td>
   <td><tt>765c2ebf3d263af013e82e382e74b1ac325cf573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kross-interpreters-4.10.80.tar.xz">kross-interpreters-4.10.80</a></td>
   <td align="right">127kB</td>
   <td><tt>28e08b837e91fc8d711a7e5435728ee1dc37e902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kruler-4.10.80.tar.xz">kruler-4.10.80</a></td>
   <td align="right">130kB</td>
   <td><tt>ca5ec39a3d589c473a9ef59a8f0ba6e19d66356f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ksaneplugin-4.10.80.tar.xz">ksaneplugin-4.10.80</a></td>
   <td align="right">12kB</td>
   <td><tt>daae7cf9bb714af15ab28d0f38eb58d475c6e0e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kscd-4.10.80.tar.xz">kscd-4.10.80</a></td>
   <td align="right">90kB</td>
   <td><tt>c9719007b7fd2fcac6a1ce9066849abd7aedb908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kshisen-4.10.80.tar.xz">kshisen-4.10.80</a></td>
   <td align="right">140kB</td>
   <td><tt>2f9f79b3c6609d2b3e1923d0fc07417791ab1a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ksirk-4.10.80.tar.xz">ksirk-4.10.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>365ffdd2a613cdb605e86f388bf7e22da03e6619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ksnakeduel-4.10.80.tar.xz">ksnakeduel-4.10.80</a></td>
   <td align="right">318kB</td>
   <td><tt>9cbc237e0f78705d225cc2370d4923a3ce0b1ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ksnapshot-4.10.80.tar.xz">ksnapshot-4.10.80</a></td>
   <td align="right">257kB</td>
   <td><tt>1a7e4be30cffb3b785afcc60ee2f7277904c9415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kspaceduel-4.10.80.tar.xz">kspaceduel-4.10.80</a></td>
   <td align="right">255kB</td>
   <td><tt>498b4814df587f305781e89aa1de1434412c16ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ksquares-4.10.80.tar.xz">ksquares-4.10.80</a></td>
   <td align="right">81kB</td>
   <td><tt>f169be61b52c0d219f18673580749273db2a6ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kstars-4.10.80.tar.xz">kstars-4.10.80</a></td>
   <td align="right">11MB</td>
   <td><tt>0c8e16398799270ffbd936b02d2d9b09869af6c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ksudoku-4.10.80.tar.xz">ksudoku-4.10.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b8b610a6ffc7d8b6ac749525d947fde8cad09c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ksystemlog-4.10.80.tar.xz">ksystemlog-4.10.80</a></td>
   <td align="right">378kB</td>
   <td><tt>36d96b0548d7fa1ccafe223509155624205fac00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kteatime-4.10.80.tar.xz">kteatime-4.10.80</a></td>
   <td align="right">102kB</td>
   <td><tt>9c2d4fac936af3c8319e30460289ad963f049db8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ktimer-4.10.80.tar.xz">ktimer-4.10.80</a></td>
   <td align="right">146kB</td>
   <td><tt>453d27b5bf49cbaa3846b1434361dca4f0cf2c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ktouch-4.10.80.tar.xz">ktouch-4.10.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>89fa6a1ae12fc7824ecbbb118d25514340a6d614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ktuberling-4.10.80.tar.xz">ktuberling-4.10.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>c303774199018dbbcb2eb2ee68d0712b6fe53d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kturtle-4.10.80.tar.xz">kturtle-4.10.80</a></td>
   <td align="right">205kB</td>
   <td><tt>b64b9d092234e54f79722191d40ed18ac9bb62ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/ktux-4.10.80.tar.xz">ktux-4.10.80</a></td>
   <td align="right">106kB</td>
   <td><tt>82fd62d0a606a5d030ab74f8f285a2c62867bec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kubrick-4.10.80.tar.xz">kubrick-4.10.80</a></td>
   <td align="right">117kB</td>
   <td><tt>5a9723175e263eb6a36686a95f0615fc7a47428d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kuser-4.10.80.tar.xz">kuser-4.10.80</a></td>
   <td align="right">117kB</td>
   <td><tt>64dcbf62daa5b171acb3ac00df0b418bed5e9994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kwallet-4.10.80.tar.xz">kwallet-4.10.80</a></td>
   <td align="right">281kB</td>
   <td><tt>7a111fd6d95265aa679b8a3a2efe56adb36505d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kwordquiz-4.10.80.tar.xz">kwordquiz-4.10.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fdbabff11cee924d76999cd3de1cab3770354c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkcddb-4.10.80.tar.xz">libkcddb-4.10.80</a></td>
   <td align="right">159kB</td>
   <td><tt>370d477be8f6377825e5cd9c7473fe201bad7dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkcompactdisc-4.10.80.tar.xz">libkcompactdisc-4.10.80</a></td>
   <td align="right">74kB</td>
   <td><tt>4bba5c6a50c9e422c028c741795f28d4d88d9749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkdcraw-4.10.80.tar.xz">libkdcraw-4.10.80</a></td>
   <td align="right">341kB</td>
   <td><tt>e6d4569fb977ef6c23dd22f121f65dfaada0e719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkdeedu-4.10.80.tar.xz">libkdeedu-4.10.80</a></td>
   <td align="right">204kB</td>
   <td><tt>1511c6a61a75510f7bb13548013bab061db96951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkdegames-4.10.80.tar.xz">libkdegames-4.10.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>07add21684b9875fe17f0c99e8512dc8dbb6636e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkexiv2-4.10.80.tar.xz">libkexiv2-4.10.80</a></td>
   <td align="right">132kB</td>
   <td><tt>0d25122b015776688caa6a8138f98e061a8eb63b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkipi-4.10.80.tar.xz">libkipi-4.10.80</a></td>
   <td align="right">92kB</td>
   <td><tt>b645a13576abc2860c10bc4fdb902ef20ee207c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libkmahjongg-4.10.80.tar.xz">libkmahjongg-4.10.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>09bcec1acd3c1ba6863646fa6b4fac5c5e983142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/libksane-4.10.80.tar.xz">libksane-4.10.80</a></td>
   <td align="right">78kB</td>
   <td><tt>cc87c4e377098edbe61bbd367a31447abf4d694f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/lokalize-4.10.80.tar.xz">lokalize-4.10.80</a></td>
   <td align="right">836kB</td>
   <td><tt>29bca851e5e6649d31d4c9f27dd87cffc03e7529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/lskat-4.10.80.tar.xz">lskat-4.10.80</a></td>
   <td align="right">933kB</td>
   <td><tt>a6a39d924c4e94c089129991abbb0cab168918e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/marble-4.10.80.tar.xz">marble-4.10.80</a></td>
   <td align="right">19MB</td>
   <td><tt>807862de14f5b431adc07989296389554236a520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/mplayerthumbs-4.10.80.tar.xz">mplayerthumbs-4.10.80</a></td>
   <td align="right">26kB</td>
   <td><tt>ee11d1367acd6fac0f9430cefd5a62b77e1fd479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/nepomuk-core-4.10.80.tar.xz">nepomuk-core-4.10.80</a></td>
   <td align="right">367kB</td>
   <td><tt>5b62dccca5832486abd76de07d27f5c484d05a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/nepomuk-widgets-4.10.80.tar.xz">nepomuk-widgets-4.10.80</a></td>
   <td align="right">46kB</td>
   <td><tt>91aa7e909382980c601b1fc2f651fce31a462919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/okteta-4.10.80.tar.xz">okteta-4.10.80</a></td>
   <td align="right">500kB</td>
   <td><tt>a7e3d1b819a7dc5194b05102ad7acba45955181b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/okular-4.10.80.tar.xz">okular-4.10.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>04fde41d0193104d83852f7b3acda0d745018a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/oxygen-icons-4.10.80.tar.xz">oxygen-icons-4.10.80</a></td>
   <td align="right">280MB</td>
   <td><tt>4e15da7bf79215b2a20eb27ee621c817bb1c8d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/pairs-4.10.80.tar.xz">pairs-4.10.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d4f1a87a1bfa793f005d825a9d27edeae81c7191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/palapeli-4.10.80.tar.xz">palapeli-4.10.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b113952aac505f78de1dd15e4abf04e1eac0737f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/parley-4.10.80.tar.xz">parley-4.10.80</a></td>
   <td align="right">7.8MB</td>
   <td><tt>f7bfb99e262ec121d0e62efd80212cf7f7d45945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/perlkde-4.10.80.tar.xz">perlkde-4.10.80</a></td>
   <td align="right">39kB</td>
   <td><tt>96717bb458b590aa48e29ca87b8a07d7e45278d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/perlqt-4.10.80.tar.xz">perlqt-4.10.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>853dd4d461b446b5b5d2636a9a505fbb42c0d585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/picmi-4.10.80.tar.xz">picmi-4.10.80</a></td>
   <td align="right">716kB</td>
   <td><tt>41678c6257fbbb54a8bd7ce73b52a335cf8795ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/poxml-4.10.80.tar.xz">poxml-4.10.80</a></td>
   <td align="right">30kB</td>
   <td><tt>3272285ac7d85129337603c2ed4219e34d255098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/print-manager-4.10.80.tar.xz">print-manager-4.10.80</a></td>
   <td align="right">90kB</td>
   <td><tt>3bf6297f29669f3a80988ca61e9af79a93e9fd9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/pykde4-4.10.80.tar.xz">pykde4-4.10.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>bc86ea8658253e8e1da7e8f934587935893610b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/qtruby-4.10.80.tar.xz">qtruby-4.10.80</a></td>
   <td align="right">518kB</td>
   <td><tt>5ec3e3ab00d36d83625d6dc5cebf130f50523193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/qyoto-4.10.80.tar.xz">qyoto-4.10.80</a></td>
   <td align="right">498kB</td>
   <td><tt>809fe9229fcc93516d21cba8fa5f5573f419df47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/rocs-4.10.80.tar.xz">rocs-4.10.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2ed4f445ec4ad494d9bc5370926dd45ce2e19c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/smokegen-4.10.80.tar.xz">smokegen-4.10.80</a></td>
   <td align="right">143kB</td>
   <td><tt>3a7bb750672bb3ea9a58415246d4ac404e64085b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/smokekde-4.10.80.tar.xz">smokekde-4.10.80</a></td>
   <td align="right">36kB</td>
   <td><tt>6203123f3075657675a6d2cc8337ec44628ae2db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/smokeqt-4.10.80.tar.xz">smokeqt-4.10.80</a></td>
   <td align="right">30kB</td>
   <td><tt>bd9cce14233abbdfcb8bf38e20f2be7ce44e017f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/step-4.10.80.tar.xz">step-4.10.80</a></td>
   <td align="right">362kB</td>
   <td><tt>c4641f3b91566cc994aa05b886c0bd63960f5cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/superkaramba-4.10.80.tar.xz">superkaramba-4.10.80</a></td>
   <td align="right">374kB</td>
   <td><tt>d71289aa8205455a57f734eff84fb7d4fe6e127b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/svgpart-4.10.80.tar.xz">svgpart-4.10.80</a></td>
   <td align="right">8kB</td>
   <td><tt>bf0054e3d72e4727c2d1de5d6541f1e79ae4e1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/sweeper-4.10.80.tar.xz">sweeper-4.10.80</a></td>
   <td align="right">81kB</td>
   <td><tt>6cfc77361223f1cf084688c76ba3c65c34a271f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/umbrello-4.10.80.tar.xz">umbrello-4.10.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3f598ac01331842b1c84bc5ede63a74be36a6f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ar-4.10.80.tar.xz">kde-l10n-ar-4.10.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>db2a796b932b5e5aa2cf488669de44c281e04e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-bg-4.10.80.tar.xz">kde-l10n-bg-4.10.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>dad0bfb0f764eaa4999f445d2e1034cb203fb05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-bs-4.10.80.tar.xz">kde-l10n-bs-4.10.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c70d2b5a706d206523115c2ad1f34a767d7adb51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ca-4.10.80.tar.xz">kde-l10n-ca-4.10.80</a></td>
   <td align="right">12MB</td>
   <td><tt>2ecfad8ddc36ca8605d7096244c60688672a8e98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ca@valencia-4.10.80.tar.xz">kde-l10n-ca@valencia-4.10.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0d76971f648e9d510d1f25e87709a097683a3813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-cs-4.10.80.tar.xz">kde-l10n-cs-4.10.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>91f4567347b72e97c4d5705e4d7f5a5d58821c42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-da-4.10.80.tar.xz">kde-l10n-da-4.10.80</a></td>
   <td align="right">12MB</td>
   <td><tt>d96bde8e8da2862f4db0c7eea85bc52d09cead2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-de-4.10.80.tar.xz">kde-l10n-de-4.10.80</a></td>
   <td align="right">36MB</td>
   <td><tt>aee26e7e2d282c1dd1d0c1f7f2747815cbd5a312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-el-4.10.80.tar.xz">kde-l10n-el-4.10.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>00b63581f8e2deba0942c27acdf5d826f8f53193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-en_GB-4.10.80.tar.xz">kde-l10n-en_GB-4.10.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b2bdc9126195f9ba5f48259708694fe3608bff61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-es-4.10.80.tar.xz">kde-l10n-es-4.10.80</a></td>
   <td align="right">22MB</td>
   <td><tt>d82e0e479f382ea42ae5afa64c88c871470926ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-et-4.10.80.tar.xz">kde-l10n-et-4.10.80</a></td>
   <td align="right">7.1MB</td>
   <td><tt>b82d7412de775fe54f8fc1dfeac8870d3b6518e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-eu-4.10.80.tar.xz">kde-l10n-eu-4.10.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>0a9e1edfecdc8f1cdf955bb6a3650c1adcf3ad13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-fa-4.10.80.tar.xz">kde-l10n-fa-4.10.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4d3582a9d351137ece94ba64712af5b0589cac98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-fi-4.10.80.tar.xz">kde-l10n-fi-4.10.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>8476d2604605158f04394f8aaee21e1655adb859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-fr-4.10.80.tar.xz">kde-l10n-fr-4.10.80</a></td>
   <td align="right">42MB</td>
   <td><tt>b02ba66fee69677181d9a3a5533fba844b52dcea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ga-4.10.80.tar.xz">kde-l10n-ga-4.10.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8d381ca9bd4220dff5750d3300acd5201b23642a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-gl-4.10.80.tar.xz">kde-l10n-gl-4.10.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>08c75bf06abaec6691e94660092def10465815f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-he-4.10.80.tar.xz">kde-l10n-he-4.10.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c5e35778f1552790b2392018aa819941c4755773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-hi-4.10.80.tar.xz">kde-l10n-hi-4.10.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cff5c43192620977b291d1300bff4c8ffb05f709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-hr-4.10.80.tar.xz">kde-l10n-hr-4.10.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e132eadad1d85611e99715848b38f9b1a36bd059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-hu-4.10.80.tar.xz">kde-l10n-hu-4.10.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ad08bc912a0dbf4bae09371923f14f5c9de9cba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ia-4.10.80.tar.xz">kde-l10n-ia-4.10.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8e5f60e3965f3126842db1cfa5b95c9506cb4001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-is-4.10.80.tar.xz">kde-l10n-is-4.10.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7d6fbb54938e82ef52cda14d1428120de89fc620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-it-4.10.80.tar.xz">kde-l10n-it-4.10.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>e4929d438a7c4293000fe61108e8daaeff7dcb64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ja-4.10.80.tar.xz">kde-l10n-ja-4.10.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d73c0a63e57b7dc90d78f9f4c1db5cc8d4b466a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-kk-4.10.80.tar.xz">kde-l10n-kk-4.10.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9f8e1f21bdb04440af84188fa1e343c7930ca46a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-km-4.10.80.tar.xz">kde-l10n-km-4.10.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a5ba6fd1850ff6a90c494e07ce6d011ce606d789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ko-4.10.80.tar.xz">kde-l10n-ko-4.10.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b9b073124d5944d240667b4589355bcdebc53492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-lt-4.10.80.tar.xz">kde-l10n-lt-4.10.80</a></td>
   <td align="right">12MB</td>
   <td><tt>af25492cbd90e121ad93c0bd01f5f2930ede5121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-lv-4.10.80.tar.xz">kde-l10n-lv-4.10.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e028f6cf955f370caa08d682ec1f0c16f8dcea4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-mr-4.10.80.tar.xz">kde-l10n-mr-4.10.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2d3ce6a98f15743202f9bd708b29dc243745bedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-nb-4.10.80.tar.xz">kde-l10n-nb-4.10.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ee5a00b5bfabf00137d7485df127cebdc059e12f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-nds-4.10.80.tar.xz">kde-l10n-nds-4.10.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c31df814f5b4a9ecc8c64d410ba6a3132c24ac72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-nl-4.10.80.tar.xz">kde-l10n-nl-4.10.80</a></td>
   <td align="right">15MB</td>
   <td><tt>600f8c069dc76cd379efb5da38505cee193ac1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-nn-4.10.80.tar.xz">kde-l10n-nn-4.10.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b3c6f347cd5d4de2ff567d63538eaae4e65adb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-pa-4.10.80.tar.xz">kde-l10n-pa-4.10.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1a45279b60ab4b51de79c71aa6e4a82ff6ba89b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-pl-4.10.80.tar.xz">kde-l10n-pl-4.10.80</a></td>
   <td align="right">16MB</td>
   <td><tt>53fcc4d3ef7ad4f4f6a0f92609f926c2bd5883a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-pt-4.10.80.tar.xz">kde-l10n-pt-4.10.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>80f68bbff6fbc9f0706445f4067deeffe427fb82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-pt_BR-4.10.80.tar.xz">kde-l10n-pt_BR-4.10.80</a></td>
   <td align="right">26MB</td>
   <td><tt>1527ce9ab7b3692f7bc4885cd99eff95152dcfc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ro-4.10.80.tar.xz">kde-l10n-ro-4.10.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>562ed0d1495a52235f530ed9bff7419ae6dae0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ru-4.10.80.tar.xz">kde-l10n-ru-4.10.80</a></td>
   <td align="right">22MB</td>
   <td><tt>463444e5aa2e1bc129e74cf6607594af5f6bb6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-si-4.10.80.tar.xz">kde-l10n-si-4.10.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b2b20ae90dbc9c778e4269e70d91d643c541db7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-sk-4.10.80.tar.xz">kde-l10n-sk-4.10.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>dad83d2f3402d0be4764d0ae98e809cd27113e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-sl-4.10.80.tar.xz">kde-l10n-sl-4.10.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>a4da236074855ca781add5a2aca81e7037c34548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-sr-4.10.80.tar.xz">kde-l10n-sr-4.10.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>663ac1e881e8232f5d00e2012b3e867323feb404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-sv-4.10.80.tar.xz">kde-l10n-sv-4.10.80</a></td>
   <td align="right">15MB</td>
   <td><tt>ab613897aea39eaf9cac4f5a02ebc85f65925366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-tg-4.10.80.tar.xz">kde-l10n-tg-4.10.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>58cfc6bca10631c0d2ac06347a0e5c84c0c21899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-th-4.10.80.tar.xz">kde-l10n-th-4.10.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f377fc51dc79e436044352fca7577b801aa84072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-tr-4.10.80.tar.xz">kde-l10n-tr-4.10.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>0f8673f4bab5e128b9c024b167a8dfb0dcd6cf64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-ug-4.10.80.tar.xz">kde-l10n-ug-4.10.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ecd38e94449e463df28bb1288c8fd20996330193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-uk-4.10.80.tar.xz">kde-l10n-uk-4.10.80</a></td>
   <td align="right">26MB</td>
   <td><tt>de674d7c25506ca27d5a6c799044c8be53c6b0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-vi-4.10.80.tar.xz">kde-l10n-vi-4.10.80</a></td>
   <td align="right">918kB</td>
   <td><tt>9c4b8041c02d4681e24bf8757e53130c86889247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-wa-4.10.80.tar.xz">kde-l10n-wa-4.10.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d6805e6c5f0c0660c9cb8c53f98abce743ca34b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-zh_CN-4.10.80.tar.xz">kde-l10n-zh_CN-4.10.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>d7ab981f91a4cc1bcb6af5568eb3456aebc28a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.80/src/kde-l10n/kde-l10n-zh_TW-4.10.80.tar.xz">kde-l10n-zh_TW-4.10.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b419898ed09b8295d41ba063b8fad6320e73bee8</tt></td>
</tr>

</table>
