<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/arts-1.5.0.tar.bz2">arts-1.5.0</a></td>
   <td align="right">927kB</td>
   <td><tt>e90a32ee47d5cdc51fe1b7f6f6c0df63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdeaccessibility-3.5.0.tar.bz2">kdeaccessibility-3.5.0</a></td>
   <td align="right">8.0MB</td>
   <td><tt>f88f3340acdd219050759df86e3d97d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdeaddons-3.5.0.tar.bz2">kdeaddons-3.5.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a61bcb10580208c3abb8c47aed198597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdeadmin-3.5.0.tar.bz2">kdeadmin-3.5.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9d0f914d2d0d3fbef8ed51cfdab36d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdeartwork-3.5.0.tar.bz2">kdeartwork-3.5.0</a></td>
   <td align="right">15MB</td>
   <td><tt>052c736c9c12defbb2e7de04ff0b2ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdebase-3.5.0.tar.bz2">kdebase-3.5.0</a></td>
   <td align="right">22MB</td>
   <td><tt>b86622c029ee8ab656a67c6467fff887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdebindings-3.5.0.tar.bz2">kdebindings-3.5.0</a></td>
   <td align="right">5.1MB</td>
   <td><tt>137924318ff5fc49cee3c82ee0ce5cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdeedu-3.5.0.tar.bz2">kdeedu-3.5.0</a></td>
   <td align="right">28MB</td>
   <td><tt>ac66cfcc8e23227973596cf62cf78a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdegames-3.5.0.tar.bz2">kdegames-3.5.0</a></td>
   <td align="right">9.8MB</td>
   <td><tt>ba86fe9280ca57698ce3be0e0242b140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdegraphics-3.5.0.tar.bz2">kdegraphics-3.5.0</a></td>
   <td align="right">6.7MB</td>
   <td><tt>389a00d4387e621d4dd325a59c7657c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdelibs-3.5.0.tar.bz2">kdelibs-3.5.0</a></td>
   <td align="right">14MB</td>
   <td><tt>2b11d654e2ea1a3cd16dcfdcbb7d1915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdemultimedia-3.5.0.tar.bz2">kdemultimedia-3.5.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>dd0ba9ccb2f522508c6543cd24e54c98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdenetwork-3.5.0.tar.bz2">kdenetwork-3.5.0</a></td>
   <td align="right">7.1MB</td>
   <td><tt>c83dce8cc496b6ec8773483df1c85119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdepim-3.5.0.tar.bz2">kdepim-3.5.0</a></td>
   <td align="right">12MB</td>
   <td><tt>e19a2a40e422ecd483884ce6e9ac8925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdesdk-3.5.0.tar.bz2">kdesdk-3.5.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>dc91ffcfa8114cf4f9d40bc9ffe47d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdetoys-3.5.0.tar.bz2">kdetoys-3.5.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>aebe4a9586728b37543bd515d35e76e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdeutils-3.5.0.tar.bz2">kdeutils-3.5.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>d6b2cbe8b7d15166eff261f20ece2718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdevelop-3.3.0.tar.bz2">kdevelop-3.3.0</a></td>
   <td align="right">7.7MB</td>
   <td><tt>1048c89c1aad0daf6581bb04e15206c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5/src/kdewebdev-3.5.0.tar.bz2">kdewebdev-3.5.0</a></td>
   <td align="right">5.7MB</td>
   <td><tt>58bb4d025fa125c5ad0dc43769ba9786</tt></td>
</tr>

</table>
