<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/arts-1.4.2.tar.bz2">arts-1.4.2</a></td>
   <td align="right">952kB</td>
   <td><tt>bfa5b0efa7454c15976c4e5c618d2db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdeaccessibility-3.4.2.tar.bz2">kdeaccessibility-3.4.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>9ad0e81fc51de5513d778a2e4104d2c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdeaddons-3.4.2.tar.bz2">kdeaddons-3.4.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>af4fc7fa0dde8894b9d9582ecef7df2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdeadmin-3.4.2.tar.bz2">kdeadmin-3.4.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ef1d4be02bbe384d46e807421dd52fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdeartwork-3.4.2.tar.bz2">kdeartwork-3.4.2</a></td>
   <td align="right">17MB</td>
   <td><tt>3fcf6c047ee7350350a9a4c918299603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdebase-3.4.2.tar.bz2">kdebase-3.4.2</a></td>
   <td align="right">21MB</td>
   <td><tt>0ea16eb7185ef014d8bd4da4f4530272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdebindings-3.4.2.tar.bz2">kdebindings-3.4.2</a></td>
   <td align="right">6.8MB</td>
   <td><tt>1ee2348e03b0af625679d0bb2c8aad2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdeedu-3.4.2.tar.bz2">kdeedu-3.4.2</a></td>
   <td align="right">22MB</td>
   <td><tt>e2c5cc083868dd4c35c1b50e04eb40eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdegames-3.4.2.tar.bz2">kdegames-3.4.2</a></td>
   <td align="right">9.0MB</td>
   <td><tt>0213806b5cf7956f12d8d3a830ea2208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdegraphics-3.4.2.tar.bz2">kdegraphics-3.4.2</a></td>
   <td align="right">6.2MB</td>
   <td><tt>50916460952c4142329a7c6a47fe1530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdelibs-3.4.2.tar.bz2">kdelibs-3.4.2</a></td>
   <td align="right">16MB</td>
   <td><tt>fe69f2f5c66dffd8fc741dcff221b80c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdemultimedia-3.4.2.tar.bz2">kdemultimedia-3.4.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>7da7ba5fd676acfdf662113a4cdfe43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdenetwork-3.4.2.tar.bz2">kdenetwork-3.4.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>f803a0800d722983e6cc2b4c87ca435e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdepim-3.4.2.tar.bz2">kdepim-3.4.2</a></td>
   <td align="right">10MB</td>
   <td><tt>e7bd012faa559bcf2a949b6a8ed5ff7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdesdk-3.4.2.tar.bz2">kdesdk-3.4.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ec794b8f2a492a188cae8fb38208e1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdetoys-3.4.2.tar.bz2">kdetoys-3.4.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>86f954b4233937eb4cc7dd8f97bbe39f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdeutils-3.4.2.tar.bz2">kdeutils-3.4.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>62500e5ee043937592ebc6ad91dd670d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdevelop-3.2.2.tar.bz2">kdevelop-3.2.2</a></td>
   <td align="right">7.9MB</td>
   <td><tt>6d788b8ec89ea9b19f5c281a574b48fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.4.2/src/kdewebdev-3.4.2.tar.bz2">kdewebdev-3.4.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>99dbd9bf9b2a1451544b35f73efe7dba</tt></td>
</tr>

</table>
