<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdeaccessibility-4.4.2.tar.bz2">kdeaccessibility-4.4.2</a></td><td align="right">5,4MB</td><td><tt>b31dcd2cbdeb5f876179e05c31db8537aa6fce8a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdeadmin-4.4.2.tar.bz2">kdeadmin-4.4.2</a></td><td align="right">1,4MB</td><td><tt>2cd75487850745c09ce97605450cae7ed76e0291</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdeartwork-4.4.2.tar.bz2">kdeartwork-4.4.2</a></td><td align="right">70MB</td><td><tt>543d1cf318509f06a2fa33c73658ad574d5230dd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdebase-4.4.2.tar.bz2">kdebase-4.4.2</a></td><td align="right">3,9MB</td><td><tt>bf02ec2a8dd1fcf923e215f395b33f09e0f58a33</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdebase-runtime-4.4.2.tar.bz2">kdebase-runtime-4.4.2</a></td><td align="right">7,0MB</td><td><tt>3ad83397a5102ea101c913346721c7f6ca0ad3b8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdebase-workspace-4.4.2.tar.bz2">kdebase-workspace-4.4.2</a></td><td align="right">74MB</td><td><tt>5fd38e48c6ddcf551bb49cf8841ba23b7682ee5b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdebindings-4.4.2.tar.bz2">kdebindings-4.4.2</a></td><td align="right">4,9MB</td><td><tt>283e2c099ed4a55ed49e826eb1bdb694d7022089</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdeedu-4.4.2.tar.bz2">kdeedu-4.4.2</a></td><td align="right">58MB</td><td><tt>5e80f6eaecb87545554804d7a82187b8da5bb4d6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdegames-4.4.2.tar.bz2">kdegames-4.4.2</a></td><td align="right">66MB</td><td><tt>d0bbcda11cf9213dba86af48e8a7e4a79db24594</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdegraphics-4.4.2.tar.bz2">kdegraphics-4.4.2</a></td><td align="right">3,7MB</td><td><tt>37dfc0d95db39d1d6677055eb5aeeb9704200ba9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdelibs-4.4.2.tar.bz2">kdelibs-4.4.2</a></td><td align="right">14MB</td><td><tt>25df6bdd8839af234f6871ebce395ca890098d90</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdemultimedia-4.4.2.tar.bz2">kdemultimedia-4.4.2</a></td><td align="right">1,4MB</td><td><tt>a2793c577f88ac6a2d9c3c70d09bd761229437e9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdenetwork-4.4.2.tar.bz2">kdenetwork-4.4.2</a></td><td align="right">8,0MB</td><td><tt>c76ffbae19941d800e3daee54e8fac991f1acec2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdepim-4.4.2.tar.bz2">kdepim-4.4.2</a></td><td align="right">9,0MB</td><td><tt>80dfb58824e9b46f7ca1e203a3599dcc13098bc3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdepimlibs-4.4.2.tar.bz2">kdepimlibs-4.4.2</a></td><td align="right">2,4MB</td><td><tt>24e0a16fce05cab3ea705c948ae4d80558d5b0f4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdepim-runtime-4.4.2.tar.bz2">kdepim-runtime-4.4.2</a></td><td align="right">616KB</td><td><tt>ac6831f93fb435ff098105688882bbe19152b839</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdeplasma-addons-4.4.2.tar.bz2">kdeplasma-addons-4.4.2</a></td><td align="right">1,6MB</td><td><tt>bffded71b27b9f0675cdf06804cee4834b2dc4f9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdesdk-4.4.2.tar.bz2">kdesdk-4.4.2</a></td><td align="right">5,4MB</td><td><tt>782904b00515cb5f4c8581473bca600c7b9053f1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdetoys-4.4.2.tar.bz2">kdetoys-4.4.2</a></td><td align="right">1,3MB</td><td><tt>92a40bb273bdc3ac746c29c09e5794af0c8a0f0e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdeutils-4.4.2.tar.bz2">kdeutils-4.4.2</a></td><td align="right">2,6MB</td><td><tt>3a4a0a116632c5f939887996a63fcf002790776f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/kdewebdev-4.4.2.tar.bz2">kdewebdev-4.4.2</a></td><td align="right">2,1MB</td><td><tt>cea0488e483738611b2240876da76b809de4420d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.2/src/oxygen-icons-4.4.2.tar.bz2">oxygen-icons-4.4.2</a></td><td align="right">128MB</td><td><tt>303e86f4926f469234dd219154b44124d4f60a3a</tt></td></tr>
</table>
