
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/attica-5.9.0.tar.xz">attica-5.9.0</a></td>
   <td align="right">58kB</td>
   <td><tt>f4f788d871da310d4b659ac13d50c79e33791cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/extra-cmake-modules-5.9.0.tar.xz">extra-cmake-modules-5.9.0</a></td>
   <td align="right">127kB</td>
   <td><tt>bbfc5d9ec13e88454f6da8c527d9bb83453bcb85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/frameworkintegration-5.9.0.tar.xz">frameworkintegration-5.9.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>90f74c4addb6b9abe99be61760800ad9046c8129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kactivities-5.9.0.tar.xz">kactivities-5.9.0</a></td>
   <td align="right">138kB</td>
   <td><tt>4356688e2c64101df5c340b59ab211e484f745a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kapidox-5.9.0.tar.xz">kapidox-5.9.0</a></td>
   <td align="right">127kB</td>
   <td><tt>66c1bc8a19afcc43aa4cbb8d48002fa466864e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/karchive-5.9.0.tar.xz">karchive-5.9.0</a></td>
   <td align="right">105kB</td>
   <td><tt>79d5c57655a93cc49d904ad9ae715205b6a220e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kauth-5.9.0.tar.xz">kauth-5.9.0</a></td>
   <td align="right">79kB</td>
   <td><tt>15f03e20dad66adaca9a668701ae4eb303ecf376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kbookmarks-5.9.0.tar.xz">kbookmarks-5.9.0</a></td>
   <td align="right">112kB</td>
   <td><tt>76550b3bc301950cec61c371cb885ab08e4a7668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kcmutils-5.9.0.tar.xz">kcmutils-5.9.0</a></td>
   <td align="right">228kB</td>
   <td><tt>1750238f31d4361c63c366129f48aff8754be4f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kcodecs-5.9.0.tar.xz">kcodecs-5.9.0</a></td>
   <td align="right">217kB</td>
   <td><tt>5ffecde580419cc1c7e018a303f1bafb6d4d4c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kcompletion-5.9.0.tar.xz">kcompletion-5.9.0</a></td>
   <td align="right">113kB</td>
   <td><tt>5595077392ccf2a6f97797cfeaa19c78f5b291ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kconfig-5.9.0.tar.xz">kconfig-5.9.0</a></td>
   <td align="right">212kB</td>
   <td><tt>0e225b49cbe34130ba8f8b419d379e39ac27ffe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kconfigwidgets-5.9.0.tar.xz">kconfigwidgets-5.9.0</a></td>
   <td align="right">350kB</td>
   <td><tt>e4d1da3244f3a1c578d25805afdaf07d8acd2ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kcoreaddons-5.9.0.tar.xz">kcoreaddons-5.9.0</a></td>
   <td align="right">294kB</td>
   <td><tt>23b86058ad4fcb13571f330fedb88c352525f8ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kcrash-5.9.0.tar.xz">kcrash-5.9.0</a></td>
   <td align="right">19kB</td>
   <td><tt>06cfff2bcd246d9ccc7afbc6abf40a465277d9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kdbusaddons-5.9.0.tar.xz">kdbusaddons-5.9.0</a></td>
   <td align="right">31kB</td>
   <td><tt>3c1364b9f9c8bc122e8683591a748256bbeda688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kdeclarative-5.9.0.tar.xz">kdeclarative-5.9.0</a></td>
   <td align="right">154kB</td>
   <td><tt>b8a939f7c1b786c95bb99cee941812e7253bb999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kded-5.9.0.tar.xz">kded-5.9.0</a></td>
   <td align="right">32kB</td>
   <td><tt>37090e503b0e3af77ca7c83ca6b6e7ec3c1fa3f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kdesignerplugin-5.9.0.tar.xz">kdesignerplugin-5.9.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b007659e974560faeffd8feff54e3565009af602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kdesu-5.9.0.tar.xz">kdesu-5.9.0</a></td>
   <td align="right">42kB</td>
   <td><tt>e05ccdc297a3d4a2071664fe92433887a2843650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kdewebkit-5.9.0.tar.xz">kdewebkit-5.9.0</a></td>
   <td align="right">28kB</td>
   <td><tt>283fc857ae8d580643ce74177fbcf4c008c5a55f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kdnssd-5.9.0.tar.xz">kdnssd-5.9.0</a></td>
   <td align="right">54kB</td>
   <td><tt>6e86c7b64f5efe9e2b804534ee7f45e4efbce229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kdoctools-5.9.0.tar.xz">kdoctools-5.9.0</a></td>
   <td align="right">394kB</td>
   <td><tt>46a9be63ff34ce10a29fd74db6b39ad76d846838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kemoticons-5.9.0.tar.xz">kemoticons-5.9.0</a></td>
   <td align="right">71kB</td>
   <td><tt>d73a5fda5ab53721646a9468a61cb5f4ee47be53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kglobalaccel-5.9.0.tar.xz">kglobalaccel-5.9.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b406c0c3cf220d77d491d4482333799f7a4c365a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kguiaddons-5.9.0.tar.xz">kguiaddons-5.9.0</a></td>
   <td align="right">38kB</td>
   <td><tt>9ad5c89974fef1ccec9af2833c3b047705307a2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/ki18n-5.9.0.tar.xz">ki18n-5.9.0</a></td>
   <td align="right">573kB</td>
   <td><tt>e0147606b8eb0d2f6ae484e39d637a04061d8cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kiconthemes-5.9.0.tar.xz">kiconthemes-5.9.0</a></td>
   <td align="right">190kB</td>
   <td><tt>0012432033270b5f8c74a1d9c1caed2813ca64ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kidletime-5.9.0.tar.xz">kidletime-5.9.0</a></td>
   <td align="right">22kB</td>
   <td><tt>41393450f4d59b445aa1ab37e27b6e74e725fc9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kimageformats-5.9.0.tar.xz">kimageformats-5.9.0</a></td>
   <td align="right">91kB</td>
   <td><tt>6ed7f11a3ab5d55d89caea5fff2e2825c61b1bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kinit-5.9.0.tar.xz">kinit-5.9.0</a></td>
   <td align="right">112kB</td>
   <td><tt>da9e42074b3a9cd28d784a7247ce81c411a673d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kio-5.9.0.tar.xz">kio-5.9.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>1dac8211c1a98bc2285ef2495f1362e62dd44c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kitemmodels-5.9.0.tar.xz">kitemmodels-5.9.0</a></td>
   <td align="right">365kB</td>
   <td><tt>4d69e3c6e5328a0bb595c54f382a729ee046d056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kitemviews-5.9.0.tar.xz">kitemviews-5.9.0</a></td>
   <td align="right">72kB</td>
   <td><tt>9fb3ea66eeb06c9da5974dfe3f108874d3ea416f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kjobwidgets-5.9.0.tar.xz">kjobwidgets-5.9.0</a></td>
   <td align="right">86kB</td>
   <td><tt>6345a8709f967b953b61901699b05969139e4461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/knewstuff-5.9.0.tar.xz">knewstuff-5.9.0</a></td>
   <td align="right">400kB</td>
   <td><tt>98df76e39914330b4a1dfee8cf934a4447133695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/knotifications-5.9.0.tar.xz">knotifications-5.9.0</a></td>
   <td align="right">89kB</td>
   <td><tt>4c541936a00dc039e210a191e780bcd8a9920579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/knotifyconfig-5.9.0.tar.xz">knotifyconfig-5.9.0</a></td>
   <td align="right">79kB</td>
   <td><tt>922e53d6453a9c0d16175c576693df8521facd37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kpackage-5.9.0.tar.xz">kpackage-5.9.0</a></td>
   <td align="right">92kB</td>
   <td><tt>8e501753b318fe2fb3741cc2fa462dfab152d005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kparts-5.9.0.tar.xz">kparts-5.9.0</a></td>
   <td align="right">150kB</td>
   <td><tt>6cfa0ef61145a10fc970c61631d87ef7a18400b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kpeople-5.9.0.tar.xz">kpeople-5.9.0</a></td>
   <td align="right">54kB</td>
   <td><tt>4ffd156ceaf26408e9291228b1f31fa48bcf22ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kplotting-5.9.0.tar.xz">kplotting-5.9.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f3e6ac040aeb35cc70c17b3d70b106c0e24c6fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kpty-5.9.0.tar.xz">kpty-5.9.0</a></td>
   <td align="right">55kB</td>
   <td><tt>b140cd4ae17e9c2c1cc69165f48579d0124970a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kservice-5.9.0.tar.xz">kservice-5.9.0</a></td>
   <td align="right">254kB</td>
   <td><tt>19790a000a6bc783a51c4c24af6376c74ea31af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/ktexteditor-5.9.0.tar.xz">ktexteditor-5.9.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1a87fb8222952362bcee31eb86db64798267cad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/ktextwidgets-5.9.0.tar.xz">ktextwidgets-5.9.0</a></td>
   <td align="right">298kB</td>
   <td><tt>c5c7f336d4f9d658fc70813fa241ebf17500c483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kunitconversion-5.9.0.tar.xz">kunitconversion-5.9.0</a></td>
   <td align="right">595kB</td>
   <td><tt>1fbb07d5832301708ec46715a00bcdb591996e8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kwallet-5.9.0.tar.xz">kwallet-5.9.0</a></td>
   <td align="right">261kB</td>
   <td><tt>b0b8edd94ab3f321e3c47199740a083472028aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kwidgetsaddons-5.9.0.tar.xz">kwidgetsaddons-5.9.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>72e77572a645b137f47f845c3b87f131056fab3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kwindowsystem-5.9.0.tar.xz">kwindowsystem-5.9.0</a></td>
   <td align="right">156kB</td>
   <td><tt>1dfe65a9f4c0c3e99342a8b085d0b60bf4fef296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kxmlgui-5.9.0.tar.xz">kxmlgui-5.9.0</a></td>
   <td align="right">835kB</td>
   <td><tt>25e7b6d436335f957020750cc56e79b5579f4fdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/kxmlrpcclient-5.9.0.tar.xz">kxmlrpcclient-5.9.0</a></td>
   <td align="right">19kB</td>
   <td><tt>e6687d941be41ffd2b90a43420d6119ed39b9f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/modemmanager-qt-5.9.0.tar.xz">modemmanager-qt-5.9.0</a></td>
   <td align="right">95kB</td>
   <td><tt>ff0cb8d57d2c2f2e34f6355b2489450b09ea5a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/networkmanager-qt-5.9.0.tar.xz">networkmanager-qt-5.9.0</a></td>
   <td align="right">149kB</td>
   <td><tt>db92400f4e92ba5a3b563a643d07b895ff2cf247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/plasma-framework-5.9.0.tar.xz">plasma-framework-5.9.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>280ec9e4f7d4abf053f59103d90ced75e7405a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/solid-5.9.0.tar.xz">solid-5.9.0</a></td>
   <td align="right">257kB</td>
   <td><tt>bcd5e23912af1e6b084b0dd2f0f2a37529603754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/sonnet-5.9.0.tar.xz">sonnet-5.9.0</a></td>
   <td align="right">266kB</td>
   <td><tt>e9f52e3dfacb71106110408b4630d5c031afdfd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.9/threadweaver-5.9.0.tar.xz">threadweaver-5.9.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dcc9a027d4ddb16513a22dd5ae375ae3e23d485e</tt></td>
</tr>

</table>
