<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-19.12.0.tar.xz">akonadi-19.12.0</a></td>
   <td align="right">1545kB</td>
   <td><tt>a61d005f27009addc9262ba99f40536d876b3870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-calendar-19.12.0.tar.xz">akonadi-calendar-19.12.0</a></td>
   <td align="right">323kB</td>
   <td><tt>450561f93222356b5e95f04086e0c6649cde7aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-calendar-tools-19.12.0.tar.xz">akonadi-calendar-tools-19.12.0</a></td>
   <td align="right">218kB</td>
   <td><tt>cea57de8de97b9464a79c220b191f8e5b0a9c1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadiconsole-19.12.0.tar.xz">akonadiconsole-19.12.0</a></td>
   <td align="right">189kB</td>
   <td><tt>83415eebdbdde70a62d1ee400dad5ffa82db6454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-contacts-19.12.0.tar.xz">akonadi-contacts-19.12.0</a></td>
   <td align="right">384kB</td>
   <td><tt>3249bcd384ba20b0029e102a79db3e4292dcc77d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-import-wizard-19.12.0.tar.xz">akonadi-import-wizard-19.12.0</a></td>
   <td align="right">428kB</td>
   <td><tt>1c6f683785849af57d8e34060d80e631ba83a69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-mime-19.12.0.tar.xz">akonadi-mime-19.12.0</a></td>
   <td align="right">129kB</td>
   <td><tt>b4d58b94c082c8773dc8fde4286dd5ae494e84b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-notes-19.12.0.tar.xz">akonadi-notes-19.12.0</a></td>
   <td align="right">23kB</td>
   <td><tt>5ddd22fca158889d91c039cbbd0e06803b633f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akonadi-search-19.12.0.tar.xz">akonadi-search-19.12.0</a></td>
   <td align="right">81kB</td>
   <td><tt>a4955792bc18defbc7e5d0a4e53a946df752bf5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/akregator-19.12.0.tar.xz">akregator-19.12.0</a></td>
   <td align="right">2141kB</td>
   <td><tt>1cb38086a1cd647c71e618f5a5e0aedddb3b720e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/analitza-19.12.0.tar.xz">analitza-19.12.0</a></td>
   <td align="right">325kB</td>
   <td><tt>d478ff0b89110126c1b4c26e2b7fa7d505ba29d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ark-19.12.0.tar.xz">ark-19.12.0</a></td>
   <td align="right">2528kB</td>
   <td><tt>49347d9b805c9573b723830e275e585e0e8b0d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/artikulate-19.12.0.tar.xz">artikulate-19.12.0</a></td>
   <td align="right">3914kB</td>
   <td><tt>670940ae12034736c4312ef8f633630e76210ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/audiocd-kio-19.12.0.tar.xz">audiocd-kio-19.12.0</a></td>
   <td align="right">348kB</td>
   <td><tt>6e098cda7a8376769a9588b5110a9e9ecee59ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/baloo-widgets-19.12.0.tar.xz">baloo-widgets-19.12.0</a></td>
   <td align="right">256kB</td>
   <td><tt>ddff15e7ed11fceb4a2f97cd58c8fe197b893f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/blinken-19.12.0.tar.xz">blinken-19.12.0</a></td>
   <td align="right">2754kB</td>
   <td><tt>3c2f3c419a6024d7c727ae14e96c90d07ad452c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/bomber-19.12.0.tar.xz">bomber-19.12.0</a></td>
   <td align="right">801kB</td>
   <td><tt>c73c91795073e4ff4267033e600dcca9c6ce9284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/bovo-19.12.0.tar.xz">bovo-19.12.0</a></td>
   <td align="right">195kB</td>
   <td><tt>57874b26ee08ba76e36c8eb13fcc7ab3a9946ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/calendarsupport-19.12.0.tar.xz">calendarsupport-19.12.0</a></td>
   <td align="right">630kB</td>
   <td><tt>0d687dcc3388b6bc0d3f1e0dfb7a40e807b644af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/cantor-19.12.0.tar.xz">cantor-19.12.0</a></td>
   <td align="right">8804kB</td>
   <td><tt>8165bb38d161b7d1d27c3c57300f9378c382df8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/cervisia-19.12.0.tar.xz">cervisia-19.12.0</a></td>
   <td align="right">1852kB</td>
   <td><tt>23928ae86e9111deae82e57e10cd8246c74044b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/dolphin-19.12.0.tar.xz">dolphin-19.12.0</a></td>
   <td align="right">4667kB</td>
   <td><tt>f574ce792ec6c73a635711e24e2d7c4527534dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/dolphin-plugins-19.12.0.tar.xz">dolphin-plugins-19.12.0</a></td>
   <td align="right">191kB</td>
   <td><tt>028aabf4ad82ebee10662dab91ab8dccb5f7557e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/dragon-19.12.0.tar.xz">dragon-19.12.0</a></td>
   <td align="right">1320kB</td>
   <td><tt>acce01271397f381e8a52a18b232556cbf27d4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/elisa-19.12.0.tar.xz">elisa-19.12.0</a></td>
   <td align="right">1353kB</td>
   <td><tt>a536554e879184c398b699f5f6e87b2ea8987903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/eventviews-19.12.0.tar.xz">eventviews-19.12.0</a></td>
   <td align="right">432kB</td>
   <td><tt>a2aef7b2a6ceed78df76354365254626a4932efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ffmpegthumbs-19.12.0.tar.xz">ffmpegthumbs-19.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>b501f5a657f5df9bebe35a153fb089677ac77634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/filelight-19.12.0.tar.xz">filelight-19.12.0</a></td>
   <td align="right">646kB</td>
   <td><tt>e5b140383fdfd52f58c01608e7993a0b22484fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/granatier-19.12.0.tar.xz">granatier-19.12.0</a></td>
   <td align="right">1897kB</td>
   <td><tt>7a3aaf102fe7d0ef829a163a6e10f9cce3f7b92d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/grantlee-editor-19.12.0.tar.xz">grantlee-editor-19.12.0</a></td>
   <td align="right">108kB</td>
   <td><tt>0609060fcece98e123fd67e273c82ee71ec7f9ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/grantleetheme-19.12.0.tar.xz">grantleetheme-19.12.0</a></td>
   <td align="right">53kB</td>
   <td><tt>a38c9336f23775e8dd2e6b398cdb989d029c107a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/gwenview-19.12.0.tar.xz">gwenview-19.12.0</a></td>
   <td align="right">5600kB</td>
   <td><tt>de14e5cf9677026dad6c27416119f96f733384e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/incidenceeditor-19.12.0.tar.xz">incidenceeditor-19.12.0</a></td>
   <td align="right">537kB</td>
   <td><tt>b649b1a98efb6c1fe454c8d73168f87526fbb530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/juk-19.12.0.tar.xz">juk-19.12.0</a></td>
   <td align="right">1822kB</td>
   <td><tt>f568446a49126c138be72d8c19ae66ef41f33498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/k3b-19.12.0.tar.xz">k3b-19.12.0</a></td>
   <td align="right">10259kB</td>
   <td><tt>f2d6c1a5df2353949df695998801b735924fe761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kaccounts-integration-19.12.0.tar.xz">kaccounts-integration-19.12.0</a></td>
   <td align="right">64kB</td>
   <td><tt>365d1bc9d05e0eb2b66225ce8b0abfd21f5cf95e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kaccounts-providers-19.12.0.tar.xz">kaccounts-providers-19.12.0</a></td>
   <td align="right">31kB</td>
   <td><tt>bc0d70019bcd2736ef68e0e1a1a3770d11acfd85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kaddressbook-19.12.0.tar.xz">kaddressbook-19.12.0</a></td>
   <td align="right">2323kB</td>
   <td><tt>5978863d44e77ed96b027921a891ef178bf69f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kajongg-19.12.0.tar.xz">kajongg-19.12.0</a></td>
   <td align="right">4362kB</td>
   <td><tt>ee48a878925b11df92c1620f62d315240760e680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kalarm-19.12.0.tar.xz">kalarm-19.12.0</a></td>
   <td align="right">1795kB</td>
   <td><tt>cce8f92d3ef210e6d91605c3f21ad77a8bf1e2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kalarmcal-19.12.0.tar.xz">kalarmcal-19.12.0</a></td>
   <td align="right">560kB</td>
   <td><tt>77f119d41171c1863015f951e8d7cf97de33f951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kalgebra-19.12.0.tar.xz">kalgebra-19.12.0</a></td>
   <td align="right">1131kB</td>
   <td><tt>407c5e13155a4b750766afc6e5f3d77cf4228e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kalzium-19.12.0.tar.xz">kalzium-19.12.0</a></td>
   <td align="right">24011kB</td>
   <td><tt>230e87267fa98369599064a05b028adaa83a0379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kamera-19.12.0.tar.xz">kamera-19.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>02a36b972b57e48fe64fa4e190a02fbfa21d6698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kamoso-19.12.0.tar.xz">kamoso-19.12.0</a></td>
   <td align="right">198kB</td>
   <td><tt>729bc5be3463be6915e422c95b2371c1ee7e2963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kanagram-19.12.0.tar.xz">kanagram-19.12.0</a></td>
   <td align="right">7840kB</td>
   <td><tt>db72cb142de68cd12abc00dacd391bbf65d27596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kapman-19.12.0.tar.xz">kapman-19.12.0</a></td>
   <td align="right">2467kB</td>
   <td><tt>b28814dca974f231e365feab15598bde4b45cc59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kapptemplate-19.12.0.tar.xz">kapptemplate-19.12.0</a></td>
   <td align="right">309kB</td>
   <td><tt>cb3441f2246891bcda46ff7300ac673d6063a133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kate-19.12.0.tar.xz">kate-19.12.0</a></td>
   <td align="right">5561kB</td>
   <td><tt>d1d7c9fd9717065264cacbd83a43ed9b719538e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/katomic-19.12.0.tar.xz">katomic-19.12.0</a></td>
   <td align="right">1389kB</td>
   <td><tt>90414d885cc528ca0bfe100e7ccd5ddc13164b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kbackup-19.12.0.tar.xz">kbackup-19.12.0</a></td>
   <td align="right">349kB</td>
   <td><tt>ba3c692344d09cd3eb409ef587157dea8bde4188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kblackbox-19.12.0.tar.xz">kblackbox-19.12.0</a></td>
   <td align="right">437kB</td>
   <td><tt>6f8ecf92774c6993a3ec569fca15e17f58f55dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kblocks-19.12.0.tar.xz">kblocks-19.12.0</a></td>
   <td align="right">1862kB</td>
   <td><tt>bd2786ec3d890144b54cad9ebf020ca257a4a87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kblog-19.12.0.tar.xz">kblog-19.12.0</a></td>
   <td align="right">71kB</td>
   <td><tt>5aad41ce236c1ff53014be9e90cd98224bd0dab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kbounce-19.12.0.tar.xz">kbounce-19.12.0</a></td>
   <td align="right">3387kB</td>
   <td><tt>b2f4f90d86478eba8b2b0d6dce9fc56d93b50830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kbreakout-19.12.0.tar.xz">kbreakout-19.12.0</a></td>
   <td align="right">2227kB</td>
   <td><tt>8d82cb0d6490ba161755ce2cc4db108cfce531d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kbruch-19.12.0.tar.xz">kbruch-19.12.0</a></td>
   <td align="right">5474kB</td>
   <td><tt>89b6375385eecf677860deafb0db10cae1690bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kcachegrind-19.12.0.tar.xz">kcachegrind-19.12.0</a></td>
   <td align="right">790kB</td>
   <td><tt>19c495e9c3a806c70a5d95a49f78728db9d45e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kcalc-19.12.0.tar.xz">kcalc-19.12.0</a></td>
   <td align="right">366kB</td>
   <td><tt>e0e090dc824a5e801c3256ef98db3983f27051ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kcalutils-19.12.0.tar.xz">kcalutils-19.12.0</a></td>
   <td align="right">314kB</td>
   <td><tt>157d758043a055cbdc5eed8a3c992300196c0541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kcharselect-19.12.0.tar.xz">kcharselect-19.12.0</a></td>
   <td align="right">327kB</td>
   <td><tt>5cbdff57abcf88a32c465b5d6be7a0ca740d79dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kcolorchooser-19.12.0.tar.xz">kcolorchooser-19.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>12fd0e3ae9ebad8b7071d5c508f9320327dcf070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kcron-19.12.0.tar.xz">kcron-19.12.0</a></td>
   <td align="right">870kB</td>
   <td><tt>45e45511f90c9aecc960f99816e925d14986bcd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdav-19.12.0.tar.xz">kdav-19.12.0</a></td>
   <td align="right">53kB</td>
   <td><tt>68a93aeff53c83f67d19eefb70b364bef8b6886f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdebugsettings-19.12.0.tar.xz">kdebugsettings-19.12.0</a></td>
   <td align="right">61kB</td>
   <td><tt>26697298883316cea7016505d411abeab6a59603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kde-dev-scripts-19.12.0.tar.xz">kde-dev-scripts-19.12.0</a></td>
   <td align="right">369kB</td>
   <td><tt>60e5ee2a023cdf3099f5d72c2ee7926e4dd29233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kde-dev-utils-19.12.0.tar.xz">kde-dev-utils-19.12.0</a></td>
   <td align="right">62kB</td>
   <td><tt>4d43911ebc3ee32d0c335a2521f771ea64560cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdeedu-data-19.12.0.tar.xz">kdeedu-data-19.12.0</a></td>
   <td align="right">318kB</td>
   <td><tt>41268bee36e7173b2484bb364c4523a698fbd436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdegraphics-mobipocket-19.12.0.tar.xz">kdegraphics-mobipocket-19.12.0</a></td>
   <td align="right">15kB</td>
   <td><tt>6d8c41d06cbeaec27b8fe27f7b2c5b684319881a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdegraphics-thumbnailers-19.12.0.tar.xz">kdegraphics-thumbnailers-19.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>f2daca856dbe02f4a41149c6877a737047e0126e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdenetwork-filesharing-19.12.0.tar.xz">kdenetwork-filesharing-19.12.0</a></td>
   <td align="right">310kB</td>
   <td><tt>d2c7240964c37900d99ef0f4a61e0a44fed787bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdenlive-19.12.0.tar.xz">kdenlive-19.12.0</a></td>
   <td align="right">11160kB</td>
   <td><tt>419e130137992920e3daf3078fda7a8186b2a93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdepim-addons-19.12.0.tar.xz">kdepim-addons-19.12.0</a></td>
   <td align="right">2055kB</td>
   <td><tt>0ea08868328c7d72cc509c47f3c815311f0682de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdepim-apps-libs-19.12.0.tar.xz">kdepim-apps-libs-19.12.0</a></td>
   <td align="right">81kB</td>
   <td><tt>036a584e85abf9dba4a0135fbe71a157b794b24d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdepim-runtime-19.12.0.tar.xz">kdepim-runtime-19.12.0</a></td>
   <td align="right">1691kB</td>
   <td><tt>a1eb036284cfae54acc7773b84c5db6d24b0ed80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdesdk-kioslaves-19.12.0.tar.xz">kdesdk-kioslaves-19.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>5a9db2447c433ef4df126f6051dedf41f9c53b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdesdk-thumbnailers-19.12.0.tar.xz">kdesdk-thumbnailers-19.12.0</a></td>
   <td align="right">17kB</td>
   <td><tt>722b1316b8f404502395dce593831489a7a8d77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdf-19.12.0.tar.xz">kdf-19.12.0</a></td>
   <td align="right">451kB</td>
   <td><tt>a0b0cf6800b08dcd7902859d386b76bafb945a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdialog-19.12.0.tar.xz">kdialog-19.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>79800df6665fad3a16c375bbba7e5584d87d01bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kdiamond-19.12.0.tar.xz">kdiamond-19.12.0</a></td>
   <td align="right">4584kB</td>
   <td><tt>0e4233083b2dfac624bf4353618dcabcc9cc94d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/keditbookmarks-19.12.0.tar.xz">keditbookmarks-19.12.0</a></td>
   <td align="right">182kB</td>
   <td><tt>411381f48c45a6f483505de249d1afb948d9224f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kfind-19.12.0.tar.xz">kfind-19.12.0</a></td>
   <td align="right">263kB</td>
   <td><tt>8e3a5b816fa4aa4054edb7c754932aad4c78622b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kfloppy-19.12.0.tar.xz">kfloppy-19.12.0</a></td>
   <td align="right">194kB</td>
   <td><tt>56dcb90adae3ae6a13b4bc16968631299cd6c24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kfourinline-19.12.0.tar.xz">kfourinline-19.12.0</a></td>
   <td align="right">623kB</td>
   <td><tt>ef3093006ad25a6cefa78910802a613ac2e177ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kgeography-19.12.0.tar.xz">kgeography-19.12.0</a></td>
   <td align="right">10633kB</td>
   <td><tt>7e2e58690a861ead695d9db2b3250c2a044e4948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kget-19.12.0.tar.xz">kget-19.12.0</a></td>
   <td align="right">5115kB</td>
   <td><tt>5932dd36caa57a538c30c935acc29d7344faf7ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kgoldrunner-19.12.0.tar.xz">kgoldrunner-19.12.0</a></td>
   <td align="right">4327kB</td>
   <td><tt>2e28f984b5bdd47a71b645bfcab3f3359c7b25b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kgpg-19.12.0.tar.xz">kgpg-19.12.0</a></td>
   <td align="right">2723kB</td>
   <td><tt>04d2526f4576be8adfe0910af5a9723012f81898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/khangman-19.12.0.tar.xz">khangman-19.12.0</a></td>
   <td align="right">6952kB</td>
   <td><tt>b1405fd0dc0553fe287cf66acccd4f6461eddfaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/khelpcenter-19.12.0.tar.xz">khelpcenter-19.12.0</a></td>
   <td align="right">3758kB</td>
   <td><tt>b7be8c4e7d1847d370e7b09c0da19690f0cf0fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kidentitymanagement-19.12.0.tar.xz">kidentitymanagement-19.12.0</a></td>
   <td align="right">145kB</td>
   <td><tt>9a8ebc2d5127e220f1453ac0e174fa953c6a73e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kig-19.12.0.tar.xz">kig-19.12.0</a></td>
   <td align="right">3416kB</td>
   <td><tt>a34c49f3220f6b58ade8494ebc23a130927569f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kigo-19.12.0.tar.xz">kigo-19.12.0</a></td>
   <td align="right">5105kB</td>
   <td><tt>534661f575466244c6ea737b7b6bc1c5471a2a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/killbots-19.12.0.tar.xz">killbots-19.12.0</a></td>
   <td align="right">1147kB</td>
   <td><tt>c115f7cd1243dcd3b88a925505d783b8dfcd5805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kimagemapeditor-19.12.0.tar.xz">kimagemapeditor-19.12.0</a></td>
   <td align="right">1046kB</td>
   <td><tt>c8e874e90258dc4458d5fc0d2a9cf1dfd6be4afc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kimap-19.12.0.tar.xz">kimap-19.12.0</a></td>
   <td align="right">116kB</td>
   <td><tt>8da25864a3a890cea2b43fb37c865a1c00c812a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kio-extras-19.12.0.tar.xz">kio-extras-19.12.0</a></td>
   <td align="right">565kB</td>
   <td><tt>bb63ebe472067a6cda44185d1d0efc1731260498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kipi-plugins-19.12.0.tar.xz">kipi-plugins-19.12.0</a></td>
   <td align="right">1592kB</td>
   <td><tt>d9e08d43761d56af2476927263c6b3663047a2f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kirigami-gallery-19.12.0.tar.xz">kirigami-gallery-19.12.0</a></td>
   <td align="right">270kB</td>
   <td><tt>f1cae7f38d4f8e2eeb06bb1b0b1415e13fb2107a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kiriki-19.12.0.tar.xz">kiriki-19.12.0</a></td>
   <td align="right">364kB</td>
   <td><tt>0535862241d55906ac64c960c6f16d1fdeac6d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kiten-19.12.0.tar.xz">kiten-19.12.0</a></td>
   <td align="right">11024kB</td>
   <td><tt>d454b9f2ca40ee61ddba98a8937e273df040fac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kitinerary-19.12.0.tar.xz">kitinerary-19.12.0</a></td>
   <td align="right">1152kB</td>
   <td><tt>ab55e9c62e02f12a324bbbd98eec3013aae884bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kjumpingcube-19.12.0.tar.xz">kjumpingcube-19.12.0</a></td>
   <td align="right">282kB</td>
   <td><tt>0a8f4a7351e7f0d9931cccfa778e3503e9dd6cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kldap-19.12.0.tar.xz">kldap-19.12.0</a></td>
   <td align="right">151kB</td>
   <td><tt>694d99bbc9115c67b3a052d515fc66b0e890ad20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kleopatra-19.12.0.tar.xz">kleopatra-19.12.0</a></td>
   <td align="right">1895kB</td>
   <td><tt>0abf2315cfcab5b8626b7faa14feb13fcd049731</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/klettres-19.12.0.tar.xz">klettres-19.12.0</a></td>
   <td align="right">39198kB</td>
   <td><tt>24a7d7e67f43f8a7c856a5b5e7229afd230bf8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/klickety-19.12.0.tar.xz">klickety-19.12.0</a></td>
   <td align="right">1357kB</td>
   <td><tt>649dd1c2d31a402a69251698edec9ef03c5ef426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/klines-19.12.0.tar.xz">klines-19.12.0</a></td>
   <td align="right">1740kB</td>
   <td><tt>7df2bc83d685cde2fe07c5d0826a42bb4444872b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmag-19.12.0.tar.xz">kmag-19.12.0</a></td>
   <td align="right">658kB</td>
   <td><tt>0b8372c6ac3b9d8ecb288bd585b6684dacf7b5cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmahjongg-19.12.0.tar.xz">kmahjongg-19.12.0</a></td>
   <td align="right">3344kB</td>
   <td><tt>fe5922bd531e9551e11bd14edc8d4969173b1b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmail-19.12.0.tar.xz">kmail-19.12.0</a></td>
   <td align="right">4602kB</td>
   <td><tt>6b93e8d55ac9e5d0ace347de75fe441e38e788d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmail-account-wizard-19.12.0.tar.xz">kmail-account-wizard-19.12.0</a></td>
   <td align="right">154kB</td>
   <td><tt>4eb53c8eeca80d7500d6cf2db21e2b651efd0d65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmailtransport-19.12.0.tar.xz">kmailtransport-19.12.0</a></td>
   <td align="right">163kB</td>
   <td><tt>e60417aa96ff2b726637e2935661b77dffe68dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmbox-19.12.0.tar.xz">kmbox-19.12.0</a></td>
   <td align="right">24kB</td>
   <td><tt>d557e0809ef2d902753b6bf300ce74958c541ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmime-19.12.0.tar.xz">kmime-19.12.0</a></td>
   <td align="right">143kB</td>
   <td><tt>ac903a146cca7215c0be5fcdf33b18b02723c18a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmines-19.12.0.tar.xz">kmines-19.12.0</a></td>
   <td align="right">878kB</td>
   <td><tt>14c5ac0683ff3b61b2ab28d60258d18b62edb45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmix-19.12.0.tar.xz">kmix-19.12.0</a></td>
   <td align="right">983kB</td>
   <td><tt>3344b06313d528f84b8c81b5766a5febb45a9236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmousetool-19.12.0.tar.xz">kmousetool-19.12.0</a></td>
   <td align="right">111kB</td>
   <td><tt>9b6b6461853d02fccb383cb0c0ce266006fe078a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmouth-19.12.0.tar.xz">kmouth-19.12.0</a></td>
   <td align="right">1918kB</td>
   <td><tt>e9f3856ab7d00bcc9c300fb45a924fae6d5488b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kmplot-19.12.0.tar.xz">kmplot-19.12.0</a></td>
   <td align="right">2984kB</td>
   <td><tt>f8d412fb213ac4a2fdbc17e89d565ba0eb13433a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/knavalbattle-19.12.0.tar.xz">knavalbattle-19.12.0</a></td>
   <td align="right">1251kB</td>
   <td><tt>2e7744d64215fe3ef94a9c422012c74063cc28e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/knetwalk-19.12.0.tar.xz">knetwalk-19.12.0</a></td>
   <td align="right">1016kB</td>
   <td><tt>44bfbe61640ca49cc8e43e75af60c1aea5d0a1f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/knights-19.12.0.tar.xz">knights-19.12.0</a></td>
   <td align="right">3434kB</td>
   <td><tt>13c62c2d44f7dd9b606912cd9a5a25a8728913b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/knotes-19.12.0.tar.xz">knotes-19.12.0</a></td>
   <td align="right">313kB</td>
   <td><tt>c593b61de2dd4fb53a75b0f5ac31ca33f1b2f508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kolf-19.12.0.tar.xz">kolf-19.12.0</a></td>
   <td align="right">1000kB</td>
   <td><tt>d8a256401e6eb59f6666d948fea88f6ca32d4af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kollision-19.12.0.tar.xz">kollision-19.12.0</a></td>
   <td align="right">274kB</td>
   <td><tt>447060e2a4f6a72c0915a6bba0f0da038a46af3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kolourpaint-19.12.0.tar.xz">kolourpaint-19.12.0</a></td>
   <td align="right">5520kB</td>
   <td><tt>a4ffd918f52ec43825c08e9a494c9fc6456d937d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kompare-19.12.0.tar.xz">kompare-19.12.0</a></td>
   <td align="right">782kB</td>
   <td><tt>559b382577a3067f177988521d1b20595a5e690b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/konqueror-19.12.0.tar.xz">konqueror-19.12.0</a></td>
   <td align="right">7205kB</td>
   <td><tt>b3d58578decfcb8198b096ee9c65a728ab8cd10e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/konquest-19.12.0.tar.xz">konquest-19.12.0</a></td>
   <td align="right">644kB</td>
   <td><tt>94b1b6e142da76a3de47e28560a9c11fe5df0015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/konsole-19.12.0.tar.xz">konsole-19.12.0</a></td>
   <td align="right">1133kB</td>
   <td><tt>0522cf3868cda3b09e0c4731e4d54faf8e7e2ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kontact-19.12.0.tar.xz">kontact-19.12.0</a></td>
   <td align="right">775kB</td>
   <td><tt>7820a8aaf5a0c6ffee9f5fd2df7ecd33bb5b979f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kontactinterface-19.12.0.tar.xz">kontactinterface-19.12.0</a></td>
   <td align="right">32kB</td>
   <td><tt>3e98d705503c59fbac1c15a179d58f3abd23ccb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kopete-19.12.0.tar.xz">kopete-19.12.0</a></td>
   <td align="right">9166kB</td>
   <td><tt>bba86c7fcc47370f9c0d7bbebb11ee14afaf4431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/korganizer-19.12.0.tar.xz">korganizer-19.12.0</a></td>
   <td align="right">2175kB</td>
   <td><tt>993b4cec5259e947ff981d60579b17da3ea97dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kpat-19.12.0.tar.xz">kpat-19.12.0</a></td>
   <td align="right">3493kB</td>
   <td><tt>da48322f45f2c81563c562a6f525cf183c513b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kpimtextedit-19.12.0.tar.xz">kpimtextedit-19.12.0</a></td>
   <td align="right">163kB</td>
   <td><tt>4e21b3ae67ca499bac11ede3836892d86357797a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kpkpass-19.12.0.tar.xz">kpkpass-19.12.0</a></td>
   <td align="right">22kB</td>
   <td><tt>4f02cc8017a5caf9a1d3fae5dcc12b452df3438f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kqtquickcharts-19.12.0.tar.xz">kqtquickcharts-19.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>42daf7491dd9185a3f652c1e764021d8bde1ec3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/krdc-19.12.0.tar.xz">krdc-19.12.0</a></td>
   <td align="right">1391kB</td>
   <td><tt>46618a2374bdec09c451a88b11558049f625fbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kreversi-19.12.0.tar.xz">kreversi-19.12.0</a></td>
   <td align="right">923kB</td>
   <td><tt>7cb000c188e16dd342defa198b7a71b221fe0f3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/krfb-19.12.0.tar.xz">krfb-19.12.0</a></td>
   <td align="right">1248kB</td>
   <td><tt>75022726e6a4395b9ddc7c3de3f745db0c9dc00c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kross-interpreters-19.12.0.tar.xz">kross-interpreters-19.12.0</a></td>
   <td align="right">148kB</td>
   <td><tt>8b452f13872bbc0601c49ae24743124ebc6db678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kruler-19.12.0.tar.xz">kruler-19.12.0</a></td>
   <td align="right">244kB</td>
   <td><tt>4f968e8517baf4af3e67751d9826074f47510fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kshisen-19.12.0.tar.xz">kshisen-19.12.0</a></td>
   <td align="right">804kB</td>
   <td><tt>538eb38cf363314513c36a56361dc1cdfdcb7873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ksirk-19.12.0.tar.xz">ksirk-19.12.0</a></td>
   <td align="right">6833kB</td>
   <td><tt>ecb30fa139581bb6fdb06ef0eeb49e1c659ff18d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ksmtp-19.12.0.tar.xz">ksmtp-19.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>4f7c131b93bc88b4cc39a12e6e827ca8e11155d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ksnakeduel-19.12.0.tar.xz">ksnakeduel-19.12.0</a></td>
   <td align="right">591kB</td>
   <td><tt>2443afa44368edc7c934dfe5638480129d6d6c99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kspaceduel-19.12.0.tar.xz">kspaceduel-19.12.0</a></td>
   <td align="right">597kB</td>
   <td><tt>fa594ff4ff0e6e48cf72e2c13ef8e6295914be82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ksquares-19.12.0.tar.xz">ksquares-19.12.0</a></td>
   <td align="right">254kB</td>
   <td><tt>a709e0c8d7d64614d76b04f89de62f347b41e184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ksudoku-19.12.0.tar.xz">ksudoku-19.12.0</a></td>
   <td align="right">1611kB</td>
   <td><tt>fb246ccfdbf59045beaa84f7f998b1ac5961db17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ksystemlog-19.12.0.tar.xz">ksystemlog-19.12.0</a></td>
   <td align="right">1882kB</td>
   <td><tt>85c58de91a72a5685524187510147a46897efa83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kteatime-19.12.0.tar.xz">kteatime-19.12.0</a></td>
   <td align="right">280kB</td>
   <td><tt>66bfd5b35d8d4f63b575cc07b05ea99a5e958448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktimer-19.12.0.tar.xz">ktimer-19.12.0</a></td>
   <td align="right">368kB</td>
   <td><tt>a885f6c8f3862a73c1e0f712806d3254c09c6efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktnef-19.12.0.tar.xz">ktnef-19.12.0</a></td>
   <td align="right">292kB</td>
   <td><tt>1207b74966a17baebe061664eeca91fdad1ab6e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktouch-19.12.0.tar.xz">ktouch-19.12.0</a></td>
   <td align="right">4819kB</td>
   <td><tt>9cb4c1b6d91bf470ca7b8c35650926883c176000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-accounts-kcm-19.12.0.tar.xz">ktp-accounts-kcm-19.12.0</a></td>
   <td align="right">257kB</td>
   <td><tt>59c93fcb01c4f7fa00cbb5a8acd2059185267e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-approver-19.12.0.tar.xz">ktp-approver-19.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>ffe1c09b705425f8085d86ca27ffd2839a6aac74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-auth-handler-19.12.0.tar.xz">ktp-auth-handler-19.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>c75c5a92993e99455bfd8112ae397299d0e6c98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-call-ui-19.12.0.tar.xz">ktp-call-ui-19.12.0</a></td>
   <td align="right">95kB</td>
   <td><tt>b20b834afbb6b2e5fa6508aab1fbb0677d27e033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-common-internals-19.12.0.tar.xz">ktp-common-internals-19.12.0</a></td>
   <td align="right">433kB</td>
   <td><tt>7a4a724c69d0d987f5b41036547d63e7508f0d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-contact-list-19.12.0.tar.xz">ktp-contact-list-19.12.0</a></td>
   <td align="right">145kB</td>
   <td><tt>f0043101880b9e382bf24373299609388c1acc73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-contact-runner-19.12.0.tar.xz">ktp-contact-runner-19.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>6bbd41335848aba793fc56348f2cfec990851f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-desktop-applets-19.12.0.tar.xz">ktp-desktop-applets-19.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>89a457d944a1076819382a9db588a62cf21db1ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-filetransfer-handler-19.12.0.tar.xz">ktp-filetransfer-handler-19.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>63635918d27b86aaaab96fec31c186103a98310d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-kded-module-19.12.0.tar.xz">ktp-kded-module-19.12.0</a></td>
   <td align="right">95kB</td>
   <td><tt>096f0c52036414e615adc54e1d38c8b99e838f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-send-file-19.12.0.tar.xz">ktp-send-file-19.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>70c4daa85326ee208b4f8f8d4c9db83f823337ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktp-text-ui-19.12.0.tar.xz">ktp-text-ui-19.12.0</a></td>
   <td align="right">460kB</td>
   <td><tt>969ea3071d2c3b41a8e1b156c22f741c9691f0c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/ktuberling-19.12.0.tar.xz">ktuberling-19.12.0</a></td>
   <td align="right">69072kB</td>
   <td><tt>a01e6b56f3a0c4be41e6ae976b9e067cd0dce404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kturtle-19.12.0.tar.xz">kturtle-19.12.0</a></td>
   <td align="right">1786kB</td>
   <td><tt>13cc704a4e2d676c31c9f85c0edeb8b2bfd464a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kubrick-19.12.0.tar.xz">kubrick-19.12.0</a></td>
   <td align="right">309kB</td>
   <td><tt>14cd807b606e0ceb23de5469b78044ef08a99188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kwalletmanager-19.12.0.tar.xz">kwalletmanager-19.12.0</a></td>
   <td align="right">770kB</td>
   <td><tt>3b1eea09497899c7bbbf4538dd29335076ec598f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kwave-19.12.0.tar.xz">kwave-19.12.0</a></td>
   <td align="right">6043kB</td>
   <td><tt>d1a797ac23aa674f63308cdc88609ac390bd8d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/kwordquiz-19.12.0.tar.xz">kwordquiz-19.12.0</a></td>
   <td align="right">4072kB</td>
   <td><tt>689bb84e2024395696e0b692ed9692484afe4358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libgravatar-19.12.0.tar.xz">libgravatar-19.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>322291a360e77b93e5bc25e01610a25e136f4594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkcddb-19.12.0.tar.xz">libkcddb-19.12.0</a></td>
   <td align="right">415kB</td>
   <td><tt>b2414422d884921b5a519bf334f6bb0c111cd872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkcompactdisc-19.12.0.tar.xz">libkcompactdisc-19.12.0</a></td>
   <td align="right">87kB</td>
   <td><tt>e793cdce32c7a8423307dc07ae779a3fbcc37cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkdcraw-19.12.0.tar.xz">libkdcraw-19.12.0</a></td>
   <td align="right">41kB</td>
   <td><tt>9068f9a1f586519c97675702848083b310432112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkdegames-19.12.0.tar.xz">libkdegames-19.12.0</a></td>
   <td align="right">6234kB</td>
   <td><tt>35fc0ff2eccba5226f24296d5e9eab972a213847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkdepim-19.12.0.tar.xz">libkdepim-19.12.0</a></td>
   <td align="right">325kB</td>
   <td><tt>fdd4edf7188dd8d2ea40d700606c57aa0fc6f0b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkeduvocdocument-19.12.0.tar.xz">libkeduvocdocument-19.12.0</a></td>
   <td align="right">206kB</td>
   <td><tt>50268803a4e1264bbf2aeafc4f886d47d9689657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkexiv2-19.12.0.tar.xz">libkexiv2-19.12.0</a></td>
   <td align="right">62kB</td>
   <td><tt>9d30b3553805cee9daebecd45fb4e6ad49babf35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkgapi-19.12.0.tar.xz">libkgapi-19.12.0</a></td>
   <td align="right">233kB</td>
   <td><tt>611c34d740098623b60e6651ffa67b21a7fd2102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkgeomap-19.12.0.tar.xz">libkgeomap-19.12.0</a></td>
   <td align="right">147kB</td>
   <td><tt>4397629d26101bc7309a26bc06fabacfdc718b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkipi-19.12.0.tar.xz">libkipi-19.12.0</a></td>
   <td align="right">100kB</td>
   <td><tt>f5c774233c898454ff3cca03d41e3b53e6229a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkleo-19.12.0.tar.xz">libkleo-19.12.0</a></td>
   <td align="right">336kB</td>
   <td><tt>7164b4149042e90bdf0ad5d4eea64a4bc55fc03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkmahjongg-19.12.0.tar.xz">libkmahjongg-19.12.0</a></td>
   <td align="right">1645kB</td>
   <td><tt>55967bf4b4b31ff96fcc87446d8c526b654c0268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libkomparediff2-19.12.0.tar.xz">libkomparediff2-19.12.0</a></td>
   <td align="right">169kB</td>
   <td><tt>10a45bdbd3470904a339c44c246d90eca693c1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libksane-19.12.0.tar.xz">libksane-19.12.0</a></td>
   <td align="right">135kB</td>
   <td><tt>99ff1bd57dc668fc88e014920c51fbc3b3ef3675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/libksieve-19.12.0.tar.xz">libksieve-19.12.0</a></td>
   <td align="right">540kB</td>
   <td><tt>712a1be38dda20688bf167103981eb7cc628540e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/lokalize-19.12.0.tar.xz">lokalize-19.12.0</a></td>
   <td align="right">1661kB</td>
   <td><tt>9422d571ddd81d4467d40369f57bbaa1a7e77fea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/lskat-19.12.0.tar.xz">lskat-19.12.0</a></td>
   <td align="right">1190kB</td>
   <td><tt>cc13c2b68f9acd15aaf7be272d0bd47211063161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/mailcommon-19.12.0.tar.xz">mailcommon-19.12.0</a></td>
   <td align="right">685kB</td>
   <td><tt>26555d76dcc490df2a3e4352272b4f54d4ec9156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/mailimporter-19.12.0.tar.xz">mailimporter-19.12.0</a></td>
   <td align="right">527kB</td>
   <td><tt>7ca68da376c0c87e83d8d3dd33d0496321564ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/marble-19.12.0.tar.xz">marble-19.12.0</a></td>
   <td align="right">50971kB</td>
   <td><tt>7953fca7a13e24f11c8f18feff5945753ae82894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/mbox-importer-19.12.0.tar.xz">mbox-importer-19.12.0</a></td>
   <td align="right">32kB</td>
   <td><tt>964de52d381429b96edd3953ac85eb36031ccd7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/messagelib-19.12.0.tar.xz">messagelib-19.12.0</a></td>
   <td align="right">10221kB</td>
   <td><tt>a1f1724a717f3d385d4e72db9043aa0d672fee74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/minuet-19.12.0.tar.xz">minuet-19.12.0</a></td>
   <td align="right">26950kB</td>
   <td><tt>c356e5e7d847234857aee78fe2282d4dbb00ea1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/okular-19.12.0.tar.xz">okular-19.12.0</a></td>
   <td align="right">7031kB</td>
   <td><tt>0dab7eab3480cd3e9b76eb93da969ff539a39f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/palapeli-19.12.0.tar.xz">palapeli-19.12.0</a></td>
   <td align="right">2020kB</td>
   <td><tt>745d12d57a74684fd6da6fceda60dbd860aef454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/parley-19.12.0.tar.xz">parley-19.12.0</a></td>
   <td align="right">8626kB</td>
   <td><tt>8ed334e0319f51c6a2b4142896e815eb3340ca04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/picmi-19.12.0.tar.xz">picmi-19.12.0</a></td>
   <td align="right">1326kB</td>
   <td><tt>6cbe2be066730e6fcac14289cd2163d6bb2c269d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/pimcommon-19.12.0.tar.xz">pimcommon-19.12.0</a></td>
   <td align="right">287kB</td>
   <td><tt>da5dc383eff298b162e26e84aefbf7ae1e3ebb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/pim-data-exporter-19.12.0.tar.xz">pim-data-exporter-19.12.0</a></td>
   <td align="right">200kB</td>
   <td><tt>e9d2dd5520199dea439f3c46fff0ae32b0ebbbbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/pim-sieve-editor-19.12.0.tar.xz">pim-sieve-editor-19.12.0</a></td>
   <td align="right">440kB</td>
   <td><tt>d7b004a77015f68a093de4f204281d8b88f86479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/poxml-19.12.0.tar.xz">poxml-19.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>590ca71c68a35638dd5ae4e2757f0c3100356fea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/print-manager-19.12.0.tar.xz">print-manager-19.12.0</a></td>
   <td align="right">245kB</td>
   <td><tt>019e8a1aee6824f121969b1260bf98b4d18f293f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/rocs-19.12.0.tar.xz">rocs-19.12.0</a></td>
   <td align="right">1487kB</td>
   <td><tt>07d80101ad3e8778937f857d326e31e9931c1eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/signon-kwallet-extension-19.12.0.tar.xz">signon-kwallet-extension-19.12.0</a></td>
   <td align="right">10kB</td>
   <td><tt>e40740f64f135c36b2db6b168ffd40431b4a267a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/spectacle-19.12.0.tar.xz">spectacle-19.12.0</a></td>
   <td align="right">635kB</td>
   <td><tt>f86b0c0011aadfdb629cd274660aff37df767fc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/step-19.12.0.tar.xz">step-19.12.0</a></td>
   <td align="right">884kB</td>
   <td><tt>8463d10012742024fec99ddbb64e137ce845c510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/svgpart-19.12.0.tar.xz">svgpart-19.12.0</a></td>
   <td align="right">20kB</td>
   <td><tt>d7ea35890ee3ac2136a034cde06c37d834896922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/sweeper-19.12.0.tar.xz">sweeper-19.12.0</a></td>
   <td align="right">359kB</td>
   <td><tt>67a8fd64c5aff749bf2abf0427518cfd01b4501a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/umbrello-19.12.0.tar.xz">umbrello-19.12.0</a></td>
   <td align="right">3708kB</td>
   <td><tt>ced42b91c2c62af842915e24336bbb68929a0e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/yakuake-19.12.0.tar.xz">yakuake-19.12.0</a></td>
   <td align="right">363kB</td>
   <td><tt>bf3b19b39ad0536fb307c9052e0123001f2138db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.0/src/zeroconf-ioslave-19.12.0.tar.xz">zeroconf-ioslave-19.12.0</a></td>
   <td align="right">40kB</td>
   <td><tt>f285db5f1f18db4b7b68d5e2b4557c5d261f701d</tt></td>
</tr>

</table>
